Repository anoma/juvix, pull requests merged in 2022-11, with the labels that each got.

#1600 Juvix core recursors should descend into nodes stored in infos
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
Labels: fix:bug, core

#1605 Fix discrepancy between Juvix and WASM pages
  runtime/src/juvix/mem/pages.c
Labels: fix:bug, runtime

#1604 Compute JuvixAsm stack usage info
  src/Juvix/Compiler/Asm/Extra.hs
  src/Juvix/Compiler/Asm/Extra/Recursors.hs
  src/Juvix/Compiler/Asm/Pipeline.hs
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
Labels: asm

#1607 Improvements to Juvix REPL
  app/Commands/Repl.hs
  app/Commands/Repl/Options.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Compiler/Pipeline/ExpressionContext.hs
  src/Juvix/Compiler/Pipeline/Setup.hs
Labels: app

#1611 Remove shelltest threading
  Makefile
Labels: test-suite

#1610 Use StackInfo and recurseS in the JuvixAsm to JuvixReg translation.
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
Labels: asm, juvix-reg

#1608 Precompute maximum heap allocation
  .gitignore
  app/Commands/Dev/Asm/Run.hs
  app/Commands/Dev/Asm/Validate.hs
  runtime/src/juvix/limits.h
  src/Juvix/Compiler/Asm/Extra.hs
  src/Juvix/Compiler/Asm/Extra/Base.hs
  src/Juvix/Compiler/Asm/Extra/Recursors.hs
  src/Juvix/Compiler/Asm/Interpreter.hs
  src/Juvix/Compiler/Asm/Language.hs
  src/Juvix/Compiler/Asm/Options.hs
  src/Juvix/Compiler/Asm/Pipeline.hs
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  src/Juvix/Compiler/Asm/Transformation.hs
  src/Juvix/Compiler/Asm/Transformation/Base.hs
  src/Juvix/Compiler/Asm/Transformation/Prealloc.hs
  src/Juvix/Compiler/Asm/Transformation/StackUsage.hs
  src/Juvix/Compiler/Asm/Transformation/Validate.hs
  src/Juvix/Compiler/Backend.hs
  src/Juvix/Compiler/Reg/Language.hs
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
  test/Asm.hs
  test/Asm/Run/Base.hs
  test/Asm/Run/Positive.hs
  test/Asm/Transformation.hs
  test/Asm/Transformation/Base.hs
  test/Asm/Transformation/Prealloc.hs
  test/Asm/Validate/Base.hs
Labels: asm

#1612 Add juvix-repl-mode for emacs
  app/App.hs
  app/Commands/Repl.hs
  juvix-mode/juvix-mode.el
  juvix-mode/juvix-repl.el
  src/Juvix/Data/Error/GenericError.hs
Labels: enhancement, emacs-mode, repl

#1613 Compute maximum runtime stack height in JuvixReg
  runtime/src/juvix/funcall/funcall.h
  runtime/src/juvix/limits.h
  runtime/src/juvix/object/closure.h
  src/Juvix/Compiler/Backend.hs
  src/Juvix/Compiler/Reg/Extra.hs
  src/Juvix/Compiler/Reg/Language.hs
Labels: juvix-reg

#1599 Add docs for installing the linux binary
  README.org
Labels: documentation

#1615 Compute new entrypoint root when loading a file in the REPL
  app/Commands/Repl.hs
  app/Main.hs
  app/Root.hs
  src/Juvix/Extra/Paths.hs
  tests/CLI/Commands/repl.test
Labels: test-suite, repl

#1617 Add types to Core functions and constructors when translating from Internal
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromInternal/Data/IndexTable.hs
  test/Internal/Eval/Positive.hs
  tests/Internal/positive/BuiltinInductive.juvix
  tests/Internal/positive/FunctionType.juvix
  tests/Internal/positive/Inductive.juvix
  tests/Internal/positive/Universe.juvix
  tests/Internal/positive/out/BuiltinInductive.out
  tests/Internal/positive/out/FunctionType.out
  tests/Internal/positive/out/Inductive.out
  tests/Internal/positive/out/Universe.out
Labels: core

#1618 Add an emacs function to restart the REPL
  juvix-mode/juvix-repl.el
Labels: emacs-mode, repl

#1571 Eta expansion at the top of each core function definition (#1481)
  app/Commands/Dev/Core/Read/Options.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/Base.hs
  src/Juvix/Compiler/Core/Transformation/Identity.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLifting.hs
  src/Juvix/Compiler/Core/Transformation/TopEtaExpand.hs
  test/Core/Eval/Positive.hs
  test/Core/Transformation.hs
  test/Core/Transformation/TopEtaExpand.hs
  tests/Core/positive/out/test044.out
  tests/Core/positive/test044.jvc
Labels: core

#1651 Use the same stack version in all CI jobs and remove `stack setup` step
  .github/workflows/ci.yml
Labels: CI

#1648 Fix 'not a primitive type' error message
  src/Juvix/Compiler/Core/Translation/FromSource.hs
Labels: core

#1652 Files pure refactor
  src/Juvix/Data/Effect/Files.hs
  src/Juvix/Data/Effect/Files/Base.hs
  src/Juvix/Data/Effect/Files/IO.hs
  src/Juvix/Data/Effect/Files/Pure.hs
  src/Juvix/Prelude/Path.hs
Labels: refactor
