Repository anoma/juvix, pull requests merged in 2022-09, with the labels that each got.

#1504 Add CLI usage examples doc and integrate with README
  README.org
  docs/org/getting-started/quick-start.org
Labels: documentation

#1503 Refactor BinderInfo
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Recursors.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Applicative.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Collector.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Monadic.hs
  src/Juvix/Compiler/Core/Info/BinderInfo.hs
  src/Juvix/Compiler/Core/Info/NameInfo.hs
  src/Juvix/Compiler/Core/Info/TypeInfo.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
Labels: refactor, core

#1501 Refactor Node datatype
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Equality.hs
  src/Juvix/Compiler/Core/Info/FreeVarsInfo.hs
  src/Juvix/Compiler/Core/Info/IdentInfo.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/Eta.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
Labels: refactor, core

#1505 Fix docs webapp examples CI build
  Makefile
Labels: CI, documentation

#1510 Core/Extra/Recursors/Collector bugfix
  src/Juvix/Compiler/Core/Extra/Recursors/Collector.hs
Labels: fix:bug, core

#1508 Dynamic type in Core
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
Labels: core

#1515 Implement some instances for BinderList
  src/Juvix/Compiler/Core/Data/BinderList.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Collector.hs
Labels: refactor

#1519 Enable autocompletion for the --theme flag
  app/Commands/Html.hs
  src/Juvix/Compiler/Backend/Html/Data/Theme.hs
Labels: CLI

#1518 Stripped version of Core Node datatype
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/Stripped/InfoTable.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Stripped/Base.hs
  src/Juvix/Compiler/Core/Info/BinderInfo.hs
  src/Juvix/Compiler/Core/Info/BranchInfo.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Language/Base.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Language/Stripped.hs
  src/Juvix/Compiler/Core/Language/Stripped/Type.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
Labels: core

#1521 JuvixCore primitive types
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Language/Primitives.hs
  src/Juvix/Compiler/Core/Language/Stripped/Type.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
Labels: core

#1522 Refactor `destruct` in Core/Extra/Base
  src/Juvix/Compiler/Core/Extra/Base.hs
Labels: refactor, core

#1523 Disallow tab characters as spaces
  examples/milestone/Collatz/Collatz.juvix
  src/Juvix/Parser/Lexer.hs
  test/Main.hs
  test/Parsing.hs
  test/Parsing/Negative.hs
  tests/negative/Tab.juvix
Labels: syntax

#1524 Detect nested patterns as smaller in the termination checker
  src/Juvix/Compiler/Abstract/Extra/Functions.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/Data/SizeInfo.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/FunctionCall.hs
  test/Termination/Positive.hs
  tests/positive/Termination/Fib.juvix
Labels: termination

#1525 Make comma a delimiter
  examples/milestone/Collatz/Collatz.juvix
  examples/milestone/TicTacToe/CLI/TicTacToe.juvix
  examples/milestone/TicTacToe/Web/TicTacToe.juvix
  examples/milestone/ValidityPredicates/SimpleFungibleToken.juvix
  src/Juvix/Parser/Lexer.hs
  tests/positive/FullExamples/SimpleFungibleTokenImplicit.juvix
  tests/positive/Internal/Implicit.juvix
  tests/positive/MiniC/Polymorphism/Input.juvix
  tests/positive/MiniC/SimpleFungibleTokenImplicit/Input.juvix
  tests/positive/StdlibList/Data/List.juvix
Labels: syntax

#1494 Implement lambda lifting
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Extra.hs
  src/Juvix/Compiler/Core/Info.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLifting.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Prelude/Base.hs
  test/Core/Transformation/Base.hs
  test/Core/Transformation/Lifting.hs
  tests/Core/positive/lambda-lifting/test1.jvc
  tests/Core/positive/lambda-lifting/test1.out
  tests/Core/positive/lambda-lifting/test2.jvc
  tests/Core/positive/lambda-lifting/test2.out
  tests/Core/positive/lambda-lifting/test3.jvc
  tests/Core/positive/lambda-lifting/test3.out
Labels: core

#1533 Replace -> by := in lambda syntax
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  tests/Core/benchmark/test004.jvc
  tests/Core/positive/test007.jvc
  tests/Core/positive/test012.jvc
  tests/Core/positive/test023.jvc
  tests/Core/positive/test026.jvc
  tests/Core/positive/test028.jvc
  tests/Core/positive/test029.jvc
  tests/Core/positive/test030.jvc
  tests/Core/positive/test033.jvc
  tests/Core/positive/test035.jvc
  tests/negative/BindGroupConflict/Lambda.juvix
  tests/positive/StdlibList/Data/List.juvix
Labels: syntax

#1530 'Match' with complex patterns in Core
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map.hs
  src/Juvix/Compiler/Core/Info/BranchInfo.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/FromSource/Lexer.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Parser/Lexer.hs
  test/Core/Eval/Positive.hs
  tests/Core/positive/out/test041.out
  tests/Core/positive/test041.jvc
Labels: core

#1536 look in patterns when building the dependency graph
  src/Juvix/Compiler/Abstract/Extra/DependencyBuilder.hs
Labels: bug, fix:bug

#1540 Add --show-de-bruijn to `core eval` command
  app/Commands/Dev/Core/Eval.hs
  app/Commands/Dev/Core/Eval/Options.hs
Labels: fix:bug

#1542 Autocomplete ".jvc" input files for core {eval, read} commands
  app/Commands/Dev/Core/Eval/Options.hs
  app/Commands/Dev/Core/Read/Options.hs
  app/CommonOptions.hs
Labels: CLI

#1535 Parser labels
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
Labels: error-messaging

#1547 Evaluator minor style refactor
  src/Juvix/Compiler/Core/Evaluator.hs
Labels: refactor, core

#1538 Add lambda expressions to internal and add typechecking support
  src/Juvix/Compiler/Abstract/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Abstract/Extra/Functions.hs
  src/Juvix/Compiler/Abstract/Language.hs
  src/Juvix/Compiler/Abstract/Pretty/Base.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Backend/C/Data/Base.hs
  src/Juvix/Compiler/Backend/C/Data/Closure.hs
  src/Juvix/Compiler/Backend/C/Translation/FromInternal.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Data/LocalVars.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Pretty/Options.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/LocalVars.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error/Types.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/Loc.hs
  src/Juvix/Prelude/Base.hs
  test/Main.hs
  test/TypeCheck.hs
  test/Typecheck.hs
  test/Typecheck/Negative.hs
  test/Typecheck/Positive.hs
  tests/positive/Internal/Lambda.juvix
Labels: enhancement, typechecking

#1546 Fix arity checker bug
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Types.hs
  tests/positive/Internal/Lambda.juvix
Labels: bug, aritychecker

#1544 Properly handle top lambdas in the termination checker
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/Data/SizeInfo.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/Data/SizeRelation.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/FunctionCall.hs
  tests/positive/Internal/Lambda.juvix
Labels: termination

#1543 Mutual inference
  src/Juvix/Compiler/Abstract/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Backend/C/Data/Base.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Reachability.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Prelude/Pretty.hs
  test/Reachability/Positive.hs
  test/Typecheck/Positive.hs
  tests/CLI/Commands/dev/internal.test
  tests/CLI/Commands/typecheck.test
  tests/positive/Internal/Mutual.juvix
Labels: typechecking

#1565 refactor wildcard cases
  src/Juvix/Compiler/Asm/Extra/Type.hs
Labels: refactor

#1568 Remove lambda from reservedSymbols
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Parser/Lexer.hs
Labels: parsing
