Repository anoma/juvix, pull requests merged in 2022-12, with the labels that each got.

#1621 Upgrade stack snapshot to use ghc-9.2.5
  .github/workflows/linux-static-binary.yaml
  docker/Dockerfile-ghc-alpine-9.2.5
  docker/README.md
  stack.yaml
Labels: ghc

#1649 Remove NameId from Core
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  src/Juvix/Compiler/Asm/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Data/Stripped/InfoTable.hs
  src/Juvix/Compiler/Core/Extra.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Info.hs
  src/Juvix/Compiler/Core/Extra/Stripped/Base.hs
  src/Juvix/Compiler/Core/Info/LocationInfo.hs
  src/Juvix/Compiler/Core/Info/NameInfo.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Language/Base.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Language/Stripped.hs
  src/Juvix/Compiler/Core/Language/Stripped/Type.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/Base.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLifting.hs
  src/Juvix/Compiler/Core/Transformation/TopEtaExpand.hs
  src/Juvix/Compiler/Core/Translation/Base.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromInternal/Data/IndexTable.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Prelude/Base.hs
Labels: refactor, core

#1650 Pretty printing of JuvixAsm code
  app/Commands/Dev/Asm/Validate.hs
  app/Commands/Dev/Asm/Validate/Options.hs
  src/Juvix/Compiler/Asm/Extra/Type.hs
  src/Juvix/Compiler/Asm/Language/Type.hs
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  src/Juvix/Extra/Strings.hs
Labels: prettyprinting, asm

#1657 Restore macOS CI build/test
  .github/workflows/ci.yml
Labels: CI

#1658 Run shelltests on macOS build
  .github/workflows/ci.yml
Labels: CI

#1655 Remove type arguments and type abstractions from Nodes
  app/Commands/Dev/Core/Read.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Collector.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map/Named.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Recur.hs
  src/Juvix/Compiler/Core/Info/TypeInfo.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/Base.hs
  src/Juvix/Compiler/Core/Transformation/Eta.hs
  src/Juvix/Compiler/Core/Transformation/RemoveTypeArgs.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  test/Core/Eval/Positive.hs
  test/Core/Transformation.hs
  test/Core/Transformation/RemoveTypeArgs.hs
  tests/Core/positive/out/test045.out
  tests/Core/positive/test042.jvc
  tests/Core/positive/test043.jvc
  tests/Core/positive/test045.jvc
Labels: core

#1659 Move applications inside Lets and Cases
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/MoveApps.hs
  test/Core/Eval/Positive.hs
  test/Core/Transformation/RemoveTypeArgs.hs
  tests/Core/positive/out/test046.out
  tests/Core/positive/test046.jvc
Labels: core

#1663 Ignore binaries generated by running some tests
  .gitignore
Labels: git

#1664 Add documentation for compiling/running the TicTacToe example
  examples/milestone/TicTacToe/README.org
Labels: documentation

#1667 Add configuration files so the project can be built with cabal
  README.org
  cabal.hie.yaml
  cabal.project
  package.yaml
Labels: build

#1669 Add option to specify Core transformations to `dev internal core-eval`
  app/Commands/Dev/Core/Read/Options.hs
  app/Commands/Dev/Internal/CoreEval.hs
  app/Commands/Dev/Internal/CoreEval/Options.hs
  app/CommonOptions.hs
Labels: core

#1670 Pin mdbook to version 0.4.22 in docs build
  .github/workflows/ci.yml
Labels: CI

#1671 Fix inline monospace formatted text in README
  README.org
Labels: documentation

#1661 Conversion of Nat representation to JuvixCore integers
  src/Juvix/Compiler/Core/Data/BinderList.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map/Named.hs
  src/Juvix/Compiler/Core/Extra/Stripped/Base.hs
  src/Juvix/Compiler/Core/Keywords.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLifting.hs
  src/Juvix/Compiler/Core/Transformation/NatToInt.hs
  src/Juvix/Compiler/Core/Transformation/RemoveTypeArgs.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  test/Core/Eval/Positive.hs
  test/Core/Transformation.hs
  test/Core/Transformation/Pipeline.hs
  tests/Core/positive/out/test047.out
  tests/Core/positive/test029.jvc
  tests/Core/positive/test046.jvc
  tests/Core/positive/test047.jvc
Labels: core

#1672 Refactor hie.yaml and add entry in the readme
  .gitignore
  README.org
  stack.hie.yaml
Labels: documentation

#1675 Less verbose output from running `make check`
  Makefile
Labels: Makefile

#1674 Remove where syntax
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  tests/positive/StdlibList/Data/List.juvix
Labels: syntax
