Repository anoma/juvix, pull requests merged in 2022-10, with the labels that each got.

#1566 Keywords refactor
  src/Juvix/Compiler/Asm/Keywords.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Asm/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Core/Keywords.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/FromSource/Lexer.hs
  src/Juvix/Data/Keyword.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Parser/Lexer.hs
Labels: refactor

#1574 Fix symbol numbering bug
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  tests/Core/positive/lambda-lifting/test1.out
  tests/Core/positive/lambda-lifting/test2.out
  tests/Core/positive/lambda-lifting/test3.out
Labels: fix:bug, core

#1578 Add softlines between applications and hang definitions
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Prelude/Pretty.hs
Labels: prettyprinting

#1572 1569 rewrite the test for lambda lifting to use evaluation
  src/Juvix/Compiler/Asm/Extra/Memory.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Extra.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Info/BinderInfo.hs
  src/Juvix/Compiler/Core/Info/NameInfo.hs
  src/Juvix/Compiler/Core/Info/TypeInfo.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Language/Base.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/Base.hs
  src/Juvix/Compiler/Core/Transformation/Eta.hs
  src/Juvix/Compiler/Core/Transformation/Identity.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLifting.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Prelude/Base.hs
  test/Core/Eval/Base.hs
  test/Core/Eval/Positive.hs
  test/Core/Transformation.hs
  test/Core/Transformation/Base.hs
  test/Core/Transformation/Identity.hs
  test/Core/Transformation/Lifting.hs
  tests/Core/positive/test014.jvc
Labels: test-suite, refactor, fix:bug

#1575 Parse optional type info in JVC files
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Extra.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Keywords.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Language/Base.hs
  src/Juvix/Compiler/Core/Language/Stripped/Type.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/Eta.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Core/Eval/Positive.hs
  tests/Core/positive/lambda-lifting/test1.out
  tests/Core/positive/lambda-lifting/test2.out
  tests/Core/positive/lambda-lifting/test3.out
  tests/Core/positive/out/test042.out
  tests/Core/positive/test007.jvc
  tests/Core/positive/test012.jvc
  tests/Core/positive/test023.jvc
  tests/Core/positive/test024.jvc
  tests/Core/positive/test026.jvc
  tests/Core/positive/test028.jvc
  tests/Core/positive/test029.jvc
  tests/Core/positive/test030.jvc
  tests/Core/positive/test033.jvc
  tests/Core/positive/test035.jvc
  tests/Core/positive/test037.jvc
  tests/Core/positive/test039.jvc
  tests/Core/positive/test041.jvc
  tests/Core/positive/test042.jvc
Labels: core

#1583 Improve the test for eta-expansion of constructors and builtins
  tests/Core/positive/out/test039.out
  tests/Core/positive/test039.jvc
Labels: test-suite, core

#1581 Properly newline expressions in the pretty printer
  app/Commands/Dev/Scope/Options.hs
  app/GlobalOptions.hs
  juvix-mode/juvix-mode.el
  src/Juvix/Compiler/Concrete/Extra.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Pretty/Options.hs
  src/Juvix/Data/Ape.hs
  src/Juvix/Data/Ape/Base.hs
  src/Juvix/Data/Ape/Pretty.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/Error/GenericError.hs
  src/Juvix/Data/Fixity.hs
  src/Juvix/Prelude/Pretty.hs
  test/Scope/Positive.hs
  tests/positive/Ape.juvix
Labels: prettyprinting

#1591 Fix letrec printing
  src/Juvix/Compiler/Core/Pretty/Base.hs
Labels: prettyprinting, core

#1592 Support go to definition for the standard library
  app/App.hs
  app/Commands/Compile.hs
  app/Commands/Dev/Asm/Run.hs
  app/Commands/Dev/Asm/Validate.hs
  app/Commands/Dev/Core/Eval.hs
  app/Commands/Dev/Core/Read.hs
  app/Commands/Dev/Core/Repl.hs
  app/GlobalOptions.hs
  juvix-mode/flycheck-juvix.el
  juvix-mode/juvix-customize.el
  juvix-mode/juvix-mode.el
  package.yaml
  src/Juvix/Compiler/Asm/Error.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Asm/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Concrete/Data/Name.hs
  src/Juvix/Compiler/Concrete/Data/Scope.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Compiler/Pipeline/Setup.hs
  src/Juvix/Data/Effect/Files.hs
  src/Juvix/Data/Loc.hs
  src/Juvix/Extra/Paths.hs
  src/Juvix/Extra/Stdlib.hs
  src/Juvix/Extra/Version.hs
  src/Juvix/Parser/Error.hs
  src/Juvix/Parser/Lexer.hs
  src/Juvix/Prelude/Base.hs
  test/Asm/Run/Base.hs
  test/Asm/Validate/Base.hs
  test/Core/Eval/Base.hs
  test/Scope/Positive.hs
Labels: enhancement, standard-library

#1579 Letrec lifting
  app/Commands/Dev/Core/Eval.hs
  app/Commands/Dev/Core/Read.hs
  app/Commands/Dev/Core/Read/Options.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Pretty.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Scoper.hs
  src/Juvix/Compiler/Core/Transformation/Base.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLifting.hs
  src/Juvix/Prelude/Base.hs
  test/Core/Transformation/Base.hs
  test/Core/Transformation/Lifting.hs
Labels: core

#1594 Update language reference to match current state of Juvix
  docs/org/language-reference/compile-blocks.org
  docs/org/language-reference/foreign-blocks.org
  docs/org/language-reference/functions.org
  docs/org/language-reference/inductive-data-types.org
  docs/org/tooling/CLI.org
  docs/org/tooling/emacs-mode.org
  juvix-mode/juvix-mode.el
Labels: documentation

#1598 Binder refactor
  src/Juvix/Compiler/Asm/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Base.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Collector.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Fold.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Fold/Named.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map/Named.hs
  src/Juvix/Compiler/Core/Extra/Stripped/Base.hs
  src/Juvix/Compiler/Core/Info/BinderInfo.hs
  src/Juvix/Compiler/Core/Info/FreeVarsInfo.hs
  src/Juvix/Compiler/Core/Info/IdentInfo.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Language/Stripped.hs
  src/Juvix/Compiler/Core/Language/Stripped/Type.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLifting.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Prelude/Base.hs
  tests/Core/positive/test040.jvc
Labels: refactor, core
