Repository anoma/juvix, pull requests merged in 2023-10, with the labels that each got.

#2388 Add package lockfile support
  app/Commands/Init.hs
  package.yaml
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Error.hs
  src/Juvix/Compiler/Pipeline/Lockfile.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Compiler/Pipeline/Package/Dependency.hs
  src/Juvix/Extra/Paths/Base.hs
  src/Juvix/Extra/Strings.hs
  test/Scope/Positive.hs
  tests/smoke/Commands/compile-dependencies.smoke.yaml
Labels: dev-tools, juvix-yaml

#2405 Fix for crash with wildcard used in type definition
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  test/Scope/Negative.hs
  test/Typecheck/Positive.hs
  tests/negative/UnsupportedType.juvix
  tests/positive/HoleTypeParameter.juvix
Labels: enhancement, fix:bug

#2395 Allow open statements in let expressions
  app/Commands/Repl.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  test/Scope/Negative.hs
  test/Scope/Positive.hs
  tests/negative/LetOpen.juvix
  tests/positive/LetOpen.juvix
Labels: scoping, enhancement, syntax

#2420 Reinstate the project .hlint.yaml
  .hlint.yaml
Labels: repo-maintenance

#2419 Add `juvix dependencies update` command
  app/Commands/Dependencies.hs
  app/Commands/Dependencies/Options.hs
  app/Commands/Dependencies/Update.hs
  app/Commands/Repl.hs
  app/TopCommand.hs
  app/TopCommand/Options.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/DependenciesConfig.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Error.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Compiler/Pipeline/Setup.hs
  test/Format.hs
  test/Scope/Positive.hs
  tests/smoke/Commands/compile-dependencies.smoke.yaml
Labels: enhancement

#2424 Fix record creation error message location
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
Labels: error-messaging, fix:bug

#2435 Ignore instance arguments in the termination checker
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/FunctionCall.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Termination/Data/SizeInfo.hs
  src/Juvix/Data/IsImplicit.hs
  test/Termination/Positive.hs
  tests/positive/Termination/issue2414.juvix
Labels: termination, fix:bug

#2437 Add constructor wildcards
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  tests/positive/Format.juvix
Labels: enhancement, syntax

#2439 Fix instance axiom bug
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Reachability.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Termination/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  test/Reachability/Positive.hs
  test/Typecheck/Positive.hs
  tests/positive/InstanceAxiom.juvix
Labels: fix:bug, traits

#2408 Add default arguments
  .hlint.yaml
  src/Juvix/Compiler/Concrete/Data/NameSignature.hs
  src/Juvix/Compiler/Concrete/Data/NameSignature/Base.hs
  src/Juvix/Compiler/Concrete/Data/NameSignature/Builder.hs
  src/Juvix/Compiler/Concrete/Data/Scope/Base.hs
  src/Juvix/Compiler/Concrete/Extra.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete/NamedArguments.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Pipeline/Artifacts.hs
  src/Juvix/Data/Irrelevant.hs
  src/Juvix/Prelude/Base.hs
  test/Scope/Negative.hs
  test/Typecheck/Negative.hs
  tests/negative/Internal/DefaultTypeError.juvix
  tests/negative/InvalidDefault.juvix
  tests/positive/DefaultValues.juvix
Labels: enhancement, syntax

#2442 Allow `syntax operator` in the rhs of a record declaration
  src/Juvix/Compiler/Concrete/Data/NameSignature/Builder.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  tests/positive/Format.juvix
Labels: scoping, enhancement, syntax

#2443 Comparison optimization
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/CasePermutation.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/Phase/Main.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/SimplifyComparisons.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/SimplifyIfs.hs
Labels: enhancement, optimization

#2450 Constant folding
  src/Juvix/Compiler/Core/Data/IdentDependencyInfo.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Info/FreeVarsInfo.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/ConstantFolding.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/Phase/Main.hs
  src/Juvix/Data/Pragmas.hs
  test/Asm/Compile/Base.hs
  test/Compilation.hs
  test/Compilation/Base.hs
  test/Compilation/Positive.hs
  test/Core/Compile/Base.hs
  test/Examples/Positive.hs
  test/Runtime/Base.hs
  test/Runtime/Positive.hs
  tests/Compilation/positive/out/test064.out
  tests/Compilation/positive/test064.juvix
Labels: enhancement, core, optimization

#2451 Process $root/Package.juvix using a special PathResolver
  include/package/PackageDescription.juvix
  package.yaml
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Data/Effect/Files.hs
  src/Juvix/Extra/Files.hs
  src/Juvix/Extra/PackageFiles.hs
  src/Juvix/Extra/Paths/Base.hs
  src/Juvix/Extra/Stdlib.hs
  test/Scope/Positive.hs
  tests/positive/package/Package.juvix
  tests/positive/package/juvix.yaml
Labels: juvix-yaml

#2454 Arithmetic simplification
  src/Juvix/Compiler/Core/Transformation/Optimize/Phase/Main.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/SimplifyArithmetic.hs
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test065.out
  tests/Compilation/positive/test065.juvix
Labels: enhancement, core, optimization

#2458 Refactor EntryPoint, Package, Pipeline, Root packages
  app/App.hs
  app/Commands/Dev/Highlight.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Data.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Paths.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Artifacts.hs
  src/Juvix/Compiler/Pipeline/Artifacts/Base.hs
  src/Juvix/Compiler/Pipeline/Artifacts/PathResolver.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Compiler/Pipeline/EntryPoint/IO.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Compiler/Pipeline/Package/Base.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Compiler/Pipeline/Root.hs
  src/Juvix/Compiler/Pipeline/Root/Base.hs
  src/Juvix/Compiler/Pipeline/Run.hs
  test/Base.hs
  test/Scope/Positive.hs
Labels: refactor, dev-tools, juvix-yaml

#2447 Add new flags to the Html backend
  app/Commands/Html.hs
  app/Commands/Html/Options.hs
  src/Juvix/Compiler/Backend/Html/Data/Options.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped/Source.hs
  tests/smoke/Commands/html.smoke.yaml
Labels: CLI, html, backend:html

#2456 Show import with public keyword in the html doc
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
Labels: html, fix:bug

#2465 Update clang formatting
  .pre-commit-config.yaml
  runtime/src/juvix/object/closure.h
  runtime/src/juvix/object/object.h
Labels: repo-maintenance

#2459 Use JuvixError instead of Text for errors in Package file loading
  app/Commands/Repl.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Artifacts/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Lockfile.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/Error.hs
  test/Main.hs
  test/Package.hs
  test/Package/Negative.hs
  test/Package/Positive.hs
  tests/negative/Package/InvalidLockfile/juvix.lock.yaml
  tests/negative/Package/InvalidLockfile/juvix.yaml
  tests/negative/Package/YamlDuplicateDependencies/juvix.yaml
  tests/negative/Package/YamlInvalidVersion/juvix.yaml
  tests/negative/Package/YamlParseError/juvix.yaml
  tests/positive/PackageLoader/YamlEmpty/juvix.yaml
  tests/positive/PackageLoader/YamlEmptyDependencies/juvix.yaml
  tests/positive/PackageLoader/YamlNoDependencies/juvix.yaml
  tests/smoke/Commands/compile-dependencies.smoke.yaml
Labels: error-messaging, dev-tools

#2462 Add dependency on expressions in function default arguments
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test066.out
  tests/Compilation/positive/test066/M.juvix
  tests/Compilation/positive/test066/N.juvix
  tests/Compilation/positive/test066/juvix.yaml
Labels: fix:bug, internal-to-core

#2467 Add FileExt type
  app/Commands/Compile/Options.hs
  app/Commands/Dev/Asm/Compile/Options.hs
  app/Commands/Dev/Asm/Run/Options.hs
  app/Commands/Dev/Asm/Validate/Options.hs
  app/Commands/Dev/Core/Asm/Options.hs
  app/Commands/Dev/Core/Compile/Options.hs
  app/Commands/Dev/Core/Eval/Options.hs
  app/Commands/Dev/Core/FromConcrete/Options.hs
  app/Commands/Dev/Core/Normalize/Options.hs
  app/Commands/Dev/Core/Read/Options.hs
  app/Commands/Dev/Core/Strip/Options.hs
  app/Commands/Dev/DisplayRoot/Options.hs
  app/Commands/Dev/Geb/Eval/Options.hs
  app/Commands/Dev/Geb/Infer/Options.hs
  app/Commands/Dev/Geb/Read/Options.hs
  app/Commands/Dev/Highlight/Options.hs
  app/Commands/Dev/Internal/Arity/Options.hs
  app/Commands/Dev/Internal/Pretty/Options.hs
  app/Commands/Dev/Internal/Reachability/Options.hs
  app/Commands/Dev/Internal/Typecheck/Options.hs
  app/Commands/Dev/Parse.hs
  app/Commands/Dev/Parse/Options.hs
  app/Commands/Dev/Repl/Options.hs
  app/Commands/Dev/Runtime/Options.hs
  app/Commands/Dev/Scope/Options.hs
  app/Commands/Dev/Termination/CallGraph/Options.hs
  app/Commands/Dev/Termination/Calls/Options.hs
  app/Commands/Eval/Options.hs
  app/Commands/Extra/Compile.hs
  app/Commands/Extra/Compile/Options.hs
  app/Commands/Format/Options.hs
  app/Commands/Html/Options.hs
  app/Commands/Repl/Options.hs
  app/Commands/Typecheck/Options.hs
  app/CommonOptions.hs
  src/Juvix/Compiler/Backend/Geb/Translation/FromSource.hs
  src/Juvix/Compiler/Backend/VampIR/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Paths.hs
  src/Juvix/Data.hs
  src/Juvix/Data/FileExt.hs
  src/Juvix/Extra/Paths.hs
  src/Juvix/Prelude/Path.hs
Labels: CLI, refactor, dev-tools

#2470 Fix precedence inconsistency bug
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  test/Scope/Negative.hs
  tests/negative/PrecedenceInconsistency.juvix
Labels: scoping, fix:bug

#2473 Use system locale independent readFile and writeFile APIs from with-utf8
  app/Commands/Dev/Asm/Compile.hs
  app/Commands/Dev/Asm/Run.hs
  app/Commands/Dev/Asm/Validate.hs
  app/Commands/Dev/Core/Asm.hs
  app/Commands/Dev/Core/Compile.hs
  app/Commands/Dev/Core/Eval.hs
  app/Commands/Dev/Core/Normalize.hs
  app/Commands/Dev/Core/Read.hs
  app/Commands/Dev/Core/Repl.hs
  app/Commands/Dev/Core/Strip.hs
  app/Commands/Dev/Geb/Check.hs
  app/Commands/Dev/Geb/Eval.hs
  app/Commands/Dev/Geb/Infer.hs
  app/Commands/Dev/Geb/Read.hs
  package.yaml
  src/Juvix/Prelude/Base.hs
Labels: CLI, fix:bug

#2475 Use a versioned documentation link in the doctor output
  app/Commands/Doctor.hs
Labels: documentation, CLI

#2446 Dependent default values
  src/Juvix/Compiler/Concrete/Data/NameSignature/Builder.hs
  src/Juvix/Compiler/Concrete/Data/Scope/Base.hs
  src/Juvix/Compiler/Concrete/Extra.hs
  src/Juvix/Compiler/Concrete/Gen.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Data/LocalVars.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Extra/Clonable.hs
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete/NamedArguments.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete/NamedArguments/Error.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Error.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Error/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/FunctionCall.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Termination/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Traits/Resolver.hs
  src/Juvix/Compiler/Pipeline/Artifacts.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/Effect/Fail.hs
  src/Juvix/Extra/Strings.hs
  test/Arity/Negative.hs
  test/Compilation/Positive.hs
  test/Scope/Negative.hs
  test/Termination/Negative.hs
  tests/Compilation/positive/out/test067.out
  tests/Compilation/positive/out/test068.out
  tests/Compilation/positive/out/test069.out
  tests/Compilation/positive/out/test070.out
  tests/Compilation/positive/test067.juvix
  tests/Compilation/positive/test068.juvix
  tests/Compilation/positive/test069.juvix
  tests/Compilation/positive/test070.juvix
  tests/negative/DefaultArgCycle.juvix
  tests/negative/Internal/DefaultArgCycleArity.juvix
  tests/negative/Termination/DefaultArguments.juvix
Labels: enhancement

#2434 Use a Juvix source file to define a package
  app/Commands/Dev/Core/Repl.hs
  app/Commands/Repl.hs
  app/Evaluator.hs
  include/package/PackageDescription.juvix
  src/Juvix/Compiler/Concrete/Translation.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/ConstantFolding.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Artifacts/PathResolver.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Compiler/Pipeline/Package/Loader.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/Error.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/EvalEff.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/EvalEff/IO.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Compiler/Pipeline/Root.hs
  src/Juvix/Compiler/Pipeline/Run.hs
  src/Juvix/Compiler/Pipeline/Setup.hs
  src/Juvix/Extra/Strings.hs
  test/Core/Eval/Base.hs
  test/Package/Negative.hs
  test/Package/Positive.hs
  test/Scope/Positive.hs
  tests/negative/Package/PackageJuvixDoesntCompile/Package.juvix
  tests/negative/Package/PackageJuvixDuplicateDependencies/Package.juvix
  tests/negative/Package/PackageJuvixDuplicateDependencies/juvix.yaml
  tests/negative/Package/PackageJuvixNoPackageSymbol/Package.juvix
  tests/negative/Package/PackageJuvixPackageSymbolWrongType1/Package.juvix
  tests/negative/Package/PackageJuvixPackageSymbolWrongType2/Package.juvix
  tests/positive/PackageLoader/PackageJuvix/Package.juvix
  tests/positive/PackageLoader/PackageJuvixAndYaml/Package.juvix
  tests/positive/PackageLoader/PackageJuvixAndYaml/juvix.yaml
  tests/positive/PackageLoader/PackageJuvixEmptyDependencies/Package.juvix
  tests/positive/PackageLoader/PackageJuvixNoDependencies/Package.juvix
  tests/positive/PackageLoader/PackageJuvixUsesLockfile/Package.juvix
  tests/positive/PackageLoader/PackageJuvixUsesLockfile/juvix.lock.yaml
  tests/positive/package/Package.juvix
  tests/smoke/Commands/compile-dependencies-package-juvix.smoke.yaml
Labels: dev-tools, juvix-yaml

#2477 Format long list literals by splitting using pre-comma multiline
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Data/Effect/ExactPrint.hs
  src/Juvix/Prelude/Pretty.hs
  tests/positive/Format.juvix
  tests/positive/package/Package.juvix
Labels: juvix-formatter

#2478 Version the PackageDescription module
  include/package/PackageDescription/V1.juvix
  src/Juvix/Compiler/Pipeline/Package/Loader.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/EvalEff.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/EvalEff/IO.hs
  src/Juvix/Extra/Paths/Base.hs
  tests/negative/Package/PackageJuvixDuplicateDependencies/Package.juvix
  tests/negative/Package/PackageJuvixNoPackageSymbol/Package.juvix
  tests/negative/Package/PackageJuvixPackageSymbolWrongType1/Package.juvix
  tests/positive/PackageLoader/PackageJuvix/Package.juvix
  tests/positive/PackageLoader/PackageJuvixAndYaml/Package.juvix
  tests/positive/PackageLoader/PackageJuvixEmptyDependencies/Package.juvix
  tests/positive/PackageLoader/PackageJuvixNoDependencies/Package.juvix
  tests/positive/PackageLoader/PackageJuvixUsesLockfile/Package.juvix
  tests/positive/package/Package.juvix
  tests/smoke/Commands/compile-dependencies-package-juvix.smoke.yaml
Labels: dev-tools, juvix-yaml

#2480 Rename Roots type to Root
  app/App.hs
  app/Commands/Dev/Geb/Repl.hs
  app/Commands/Repl.hs
  app/Commands/Repl/Base.hs
  app/GlobalOptions.hs
  app/Main.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Compiler/Pipeline/EntryPoint/IO.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/EvalEff/IO.hs
  src/Juvix/Compiler/Pipeline/Root.hs
  src/Juvix/Compiler/Pipeline/Root/Base.hs
  test/Base.hs
Labels: refactor

#2486 Fix #2479
  src/Juvix/Compiler/Concrete/Print/Base.hs
  tests/positive/Format.juvix
Labels: fix:bug, juvix-formatter
