Repository anoma/juvix, pull requests merged in 2023-12, with the labels that each got.

#2545 Remove old typechecker
  app/Commands/Dev/Internal.hs
  app/Commands/Dev/Internal/Arity.hs
  app/Commands/Dev/Internal/Arity/Options.hs
  app/Commands/Dev/Internal/Options.hs
  app/GlobalOptions.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Context.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/LocalVars.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Reachability.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Context.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Data.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Compiler/Pipeline/Run.hs
  test/Arity.hs
  test/Arity/Negative.hs
  test/Compilation.hs
  test/Compilation/Positive.hs
  test/Compilation/PositiveNew.hs
  test/Main.hs
  test/Scope/Negative.hs
  test/Typecheck.hs
  test/Typecheck/NegativeNew.hs
  test/Typecheck/PositiveNew.hs
  tests/Compilation/positive/test046.juvix
  tests/negative/UnsupportedType.juvix
Labels: refactor, typechecking

#2533 Add Makefile to hyperfine benchmarks
  Makefile
  bench/hyperfine/.gitignore
  bench/hyperfine/Makefile
  bench/hyperfine/fibo.juvix
Labels: benchmark, repo-maintenance

#2547 Bump up version to v0.5.5
  CHANGELOG.md
  bench/hyperfine/Makefile
  package.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: release

#2550 Implement wildcard constructor
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  test/Typecheck/Positive.hs
  tests/positive/ConstructorWildcard.juvix
Labels: fix:bug

#2551 Improve formatting of function definition arguments
  examples/milestone/Bank/Bank.juvix
  src/Juvix/Compiler/Concrete/Print/Base.hs
  tests/negative/Internal/DefaultArgCycleArity.juvix
  tests/positive/ConstructorWildcard.juvix
  tests/positive/DefaultValues.juvix
  tests/positive/Format.juvix
  tests/positive/Syntax.juvix
  tests/positive/Traits2.juvix
Labels: juvix-formatter

#2552 Fix benchmarks test compilation
  tests/benchmark/mapfun/juvix/mapfun.juvix
Labels: test-suite, benchmark

#2554 Structured temporary stack manipulation in JuvixAsm
  src/Juvix/Compiler/Asm/Data/InfoTable.hs
  src/Juvix/Compiler/Asm/Extra/Memory.hs
  src/Juvix/Compiler/Asm/Extra/Recursors.hs
  src/Juvix/Compiler/Asm/Interpreter.hs
  src/Juvix/Compiler/Asm/Language.hs
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  src/Juvix/Compiler/Asm/Transformation/Prealloc.hs
  src/Juvix/Compiler/Asm/Transformation/StackUsage.hs
  src/Juvix/Compiler/Asm/Transformation/Validate.hs
  src/Juvix/Compiler/Asm/Translation/FromCore.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Backend/C/Translation/FromReg.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Data/Stripped/InfoTable.hs
  src/Juvix/Compiler/Core/Transformation/LetHoisting.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Reg/Extra.hs
  src/Juvix/Compiler/Reg/Language.hs
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
  src/Juvix/Extra/Strings.hs
  tests/Asm/positive/test009.jva
  tests/Asm/positive/test012.jva
  tests/Asm/positive/test014.jva
  tests/Asm/positive/test017.jva
  tests/Asm/positive/test031.jva
  tests/Asm/positive/test032.jva
  tests/Asm/positive/test036.jva
Labels: asm

#2556 Implement the dynamic dispatch loop in JuvixAsm
  app/Commands/Dev/Asm/Compile.hs
  cntlines.sh
  runtime/src/asm/apply.jva
  runtime/src/juvix/api.h
  src/Juvix/Compiler/Asm/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Asm/Extra/Apply.hs
  src/Juvix/Compiler/Asm/Extra/Recursors.hs
  src/Juvix/Compiler/Asm/Interpreter.hs
  src/Juvix/Compiler/Asm/Language.hs
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  src/Juvix/Compiler/Asm/Transformation.hs
  src/Juvix/Compiler/Asm/Transformation/Apply.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Backend/C/Translation/FromReg.hs
  src/Juvix/Compiler/Reg/Extra.hs
  src/Juvix/Compiler/Reg/Language.hs
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
  src/Juvix/Extra/Strings.hs
  test/Asm/Run/Positive.hs
  test/Asm/Transformation.hs
  test/Asm/Transformation/Apply.hs
  tests/Asm/positive/out/test038.out
  tests/Asm/positive/test038.jva
Labels: asm, nock, cairo
