Repository anoma/juvix, pull requests merged in 2023-01, with the labels that each got.

#1694 Add --show-de-bruijn option to `juvix repl`
  app/Commands/Repl.hs
  app/Commands/Repl/Options.hs
Labels: repl

#1698 Add printString and printBool support to legacy C backend
  c-runtime/standalone/c-runtime.h
  c-runtime/wasi-libc/c-runtime.h
  c-runtime/wasi-standalone/c-runtime.h
  test/BackendC/Positive.hs
  test/Internal/Eval/Positive.hs
  tests/Internal/positive/LitStringIO
  tests/Internal/positive/LitStringIO.juvix
  tests/Internal/positive/out/LitStringIO.out
  tests/positive/MiniC/Builtins/Input.juvix
  tests/positive/MiniC/BuiltinsStdlib/Input.juvix
  tests/positive/MiniC/BuiltinsStdlib/expected.golden
  tests/positive/MiniC/BuiltinsStdlib/juvix.yaml
Labels: c-backend

#1708 Fix #1693
  src/Juvix/Compiler/Abstract/Data/Name.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  test/Internal/Eval/Positive.hs
  test/Typecheck/Negative.hs
  test/Typecheck/Positive.hs
  tests/Internal/positive/out/IdenFunctionArgsNoExplicit.out
  tests/negative/Internal/IdenFunctionArgsNoExplicit.juvix
  tests/positive/issue1693/M.juvix
  tests/positive/issue1693/juvix.yaml
Labels: typechecking

#1715 Improve error message for confusing ':=' with '='
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  tests/positive/Symbols.juvix
Labels: parsing, syntax, fix:bug

#1724 Remove wildcard patterns from Internal
  src/Juvix/Compiler/Abstract/Data/Name.hs
  src/Juvix/Compiler/Backend/C/Data/Base.hs
  src/Juvix/Compiler/Backend/C/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
Labels: fix:bug

#1727 Fix de Brujin indexing of lambda arguments
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  test/Internal/Eval/Positive.hs
  tests/Internal/positive/HigherOrderLambda.juvix
  tests/Internal/positive/out/HigherOrderLambda.out
Labels: fix:bug, internal-to-core

#1728 Do not filter implicit args in internal to core translation
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  test/Internal/Eval/Positive.hs
  tests/Internal/positive/Church.juvix
  tests/Internal/positive/out/Church.out
  tests/Internal/positive/out/QuickSort.out
Labels: fix:bug, internal-to-core

#1730 Give a proper type to literal Strings
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  tests/positive/FullExamples/MonoSimpleFungibleToken.juvix
  tests/positive/FullExamples/SimpleFungibleTokenImplicit.juvix
  tests/positive/Internal/LiteralString.juvix
  tests/positive/MiniC/HelloWorld/Input.juvix
  tests/positive/MiniC/HigherOrder/Input.juvix
  tests/positive/MiniC/Lib/Data/String.juvix
  tests/positive/MiniC/MultiModules/Data/String.juvix
  tests/positive/MiniC/MutuallyRecursive/Data/String.juvix
  tests/positive/MiniC/Nat/Input.juvix
  tests/positive/MiniC/Polymorphism/Input.juvix
  tests/positive/MiniC/PolymorphismHoles/Input.juvix
  tests/positive/MiniC/SimpleFungibleTokenImplicit/Input.juvix
Labels: typechecking, fix:bug

#1712 Typecheck let expressions
  app/CommonOptions.hs
  app/TopCommand.hs
  package.yaml
  src/Juvix/Compiler/Abstract/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Abstract/Data/Name.hs
  src/Juvix/Compiler/Abstract/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Abstract/Extra/Functions.hs
  src/Juvix/Compiler/Abstract/Language.hs
  src/Juvix/Compiler/Abstract/Pretty/Base.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Backend/C/Data/Base.hs
  src/Juvix/Compiler/Backend/C/Data/Closure.hs
  src/Juvix/Compiler/Backend/C/Translation/FromInternal.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Concrete/Data/Literal.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/FunctionCall.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Data/Context.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Data/Backends.hs
  src/Juvix/Data/ForeignBlock.hs
  src/Juvix/Data/Hole.hs
  src/Juvix/Data/IsImplicit.hs
  src/Juvix/Data/Loc.hs
  src/Juvix/Data/NameId.hs
  src/Juvix/Data/NameKind.hs
  src/Juvix/Data/Universe.hs
  src/Juvix/Data/Wildcard.hs
  src/Juvix/Data/WithLoc.hs
  test/Arity/Negative.hs
  test/Compilation/Positive.hs
  test/Scope/Negative.hs
  test/Typecheck/Negative.hs
  test/Typecheck/Positive.hs
  tests/Compilation/positive/test010.juvix
  tests/Compilation/positive/test015.juvix
  tests/Compilation/positive/test019.juvix
  tests/Compilation/positive/test024.juvix
  tests/Compilation/positive/test026.juvix
  tests/Compilation/positive/test032.juvix
  tests/Compilation/positive/test034.juvix
  tests/Compilation/positive/test037.juvix
  tests/negative/LetMissingClause.juvix
  tests/positive/issue1693/M.juvix
Labels: typechecking

#1726 Fix inference loop
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  test/Compilation/Positive.hs
  test/Typecheck/Negative.hs
  tests/Compilation/positive/test019.juvix
  tests/negative/issue1700/SelfApplication.juvix
  tests/negative/issue1700/juvix.yaml
Labels: typechecking, fix:bug

#1736 Demo
  examples/demo/Demo.juvix
Labels: documentation, juvix-examples

#1725 Refactor `html` command with extra options
  Makefile
  README.org
  app/Commands/Dev.hs
  app/Commands/Dev/Doc.hs
  app/Commands/Dev/Doc/Options.hs
  app/Commands/Dev/Options.hs
  app/Commands/Html.hs
  app/Commands/Html/Options.hs
  assets/css/linuwial.css
  assets/css/source-ayu-light.css
  assets/css/source-nord.css
  assets/images/tara-magicien.png
  assets/images/tara-seating.svg
  assets/images/tara-smiling.png
  assets/images/tara-smiling.svg
  assets/images/tara-teaching.png
  assets/images/tara-teaching.svg
  assets/js/highlight.js
  assets/js/tex-chtml.js
  changelog.org
  docs/org/getting-started/quick-start.org
  package.yaml
  src/Juvix/Compiler/Backend/Html/Data.hs
  src/Juvix/Compiler/Backend/Html/Data/Options.hs
  src/Juvix/Compiler/Backend/Html/Data/Theme.hs
  src/Juvix/Compiler/Backend/Html/Extra.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped/Source.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Base.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Extra/Assets.hs
  src/Juvix/Extra/Paths.hs
  src/Juvix/Extra/Paths/Base.hs
  test/Typecheck/Positive.hs
  tests/smoke/Commands/html.smoke.yaml
Labels: enhancement, refactor, html, judoc

#1713 Add initial setup for codespaces
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.org
Labels: enhancement, dev-tools, codespaces

#1741 Add test for div and mod
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test003.out
  tests/Compilation/positive/test003.juvix
Labels: test-suite

#1747 Fix macOS CI build
  .github/workflows/ci.yml
Labels: CI, priority:high, mac-issue

#1745 Fix link in README for the new docs
  README.org
Labels: documentation

#1744 Move juvix-mode to a separate repository
  docs/org/reference/tooling/emacs.org
  juvix-mode/flycheck-juvix.el
  juvix-mode/juvix-customize.el
  juvix-mode/juvix-highlight.el
  juvix-mode/juvix-input.el
  juvix-mode/juvix-mode.el
  juvix-mode/juvix-repl.el
Labels: emacs-mode

#1757 Fix demo example build
  .github/workflows/ci.yml
  Makefile
Labels: documentation, build

#1759 Remove hlint from the CI and pre-commit config
  .github/workflows/ci.yml
  .hlint.yaml
  .pre-commit-hooks.yaml
Labels: CI

#1760 Translate Nat builtins to the correct Core Ops
  src/Juvix/Compiler/Core/Transformation/NatToInt.hs
Labels: fix:bug

#1737 Print comments when pretty printing concrete syntax
  Makefile
  app/Commands/Dev/Scope.hs
  app/Commands/Dev/Scope/Options.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Asm/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Backend/C/Translation/FromInternal.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Input.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Properties.hs
  src/Juvix/Compiler/Concrete/Data/ModuleIsTop.hs
  src/Juvix/Compiler/Concrete/Data/Name.hs
  src/Juvix/Compiler/Concrete/Data/NameRef.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTable.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Data/ScopedName.hs
  src/Juvix/Compiler/Concrete/Extra.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Pretty/Options.hs
  src/Juvix/Compiler/Concrete/Print.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Data/Context.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Core/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Data/Backends.hs
  src/Juvix/Data/Comment.hs
  src/Juvix/Data/Effect/ExactPrint.hs
  src/Juvix/Data/Effect/ExactPrint/Base.hs
  src/Juvix/Data/Effect/Files.hs
  src/Juvix/Data/Effect/Files/Base.hs
  src/Juvix/Data/Effect/Files/Error.hs
  src/Juvix/Data/Effect/Files/IO.hs
  src/Juvix/Data/ForeignBlock.hs
  src/Juvix/Data/Keyword.hs
  src/Juvix/Data/Loc.hs
  src/Juvix/Data/WithLoc.hs
  src/Juvix/Parser/Lexer.hs
  test/Scope/Positive.hs
  tests/positive/Imports/A.juvix
Labels: prettyprinting

#1762 Improve arity inference for repl expressions
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  tests/smoke/Commands/repl.smoke.yaml
Labels: fix:bug, aritychecker, repl

#1761 Fix broken links and other improvements
  Makefile
  README.org
  book.toml
  changelog.org
  docs/org/reference/language/axioms.org
  docs/org/reference/tooling/testing.org
Labels: documentation, dev-tools

#1763 Fix let expressions in the repl
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  tests/smoke/Commands/repl.smoke.yaml
Labels: fix:bug, repl

#1764 Run the new Juvix formatter for all the Juvix examples
  Makefile
  examples/demo/Demo.juvix
  examples/milestone/Collatz/Collatz.juvix
  examples/milestone/Fibonacci/Fibonacci.juvix
  examples/milestone/Hanoi/Hanoi.juvix
  examples/milestone/HelloWorld/HelloWorld.juvix
  examples/milestone/PascalsTriangle/PascalsTriangle.juvix
  examples/milestone/TicTacToe/CLI/TicTacToe.juvix
  examples/milestone/TicTacToe/Logic/Board.juvix
  examples/milestone/TicTacToe/Logic/Extra.juvix
  examples/milestone/TicTacToe/Logic/Game.juvix
  examples/milestone/TicTacToe/Logic/GameState.juvix
  examples/milestone/TicTacToe/Logic/Square.juvix
  examples/milestone/TicTacToe/Logic/Symbol.juvix
  examples/milestone/TicTacToe/TicTacToe.juvix
  examples/milestone/TicTacToe/Web/TicTacToe.juvix
  examples/milestone/Tutorial/Tutorial.juvix
  examples/milestone/ValidityPredicates/Anoma/Base.juvix
  examples/milestone/ValidityPredicates/Data/Int.juvix
  examples/milestone/ValidityPredicates/Data/Int/Ops.juvix
  examples/milestone/ValidityPredicates/SimpleFungibleToken.juvix
  examples/milestone/ValidityPredicates/Tests.juvix
Labels: documentation, Makefile, judoc

#1765 Install wasmer binary from Github releases
  .github/workflows/ci.yml
Labels: CI

#1769 Use absolute path in Core Evaluator to generate source file location
  app/Evaluator.hs
  src/Juvix/Data/Loc.hs
  test/Core/Eval/Base.hs
Labels: fix:bug, core

#1770 Parse JuvixCore with absolute paths
  app/Commands/Dev/Core/Asm.hs
  app/Commands/Dev/Core/Compile.hs
  app/Commands/Dev/Core/Eval.hs
  app/Commands/Dev/Core/Read.hs
  app/Commands/Dev/Core/Repl.hs
  app/Commands/Dev/Core/Strip.hs
  app/Commands/Extra/Paths.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Asm/Error.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  test/Core/Eval/Base.hs
Labels: fix:bug, core

#1771 Add debugging builtin functions `trace` and `fail`
  Makefile
  src/Juvix/Compiler/Abstract/Extra/Functions.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Backend/C/Data/BuiltinTable.hs
  src/Juvix/Compiler/Backend/C/Data/CNames.hs
  src/Juvix/Compiler/Builtins.hs
  src/Juvix/Compiler/Builtins/Debug.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  test/Typecheck/Positive.hs
  tests/Core/benchmark/test004.jvc
  tests/Core/negative/test005.jvc
  tests/Core/negative/test009.jvc
  tests/Core/positive/test034.jvc
  tests/positive/issue1731/builtinFail.juvix
  tests/positive/issue1731/builtinTrace.juvix
  tests/positive/issue1731/juvix.yaml
  tests/smoke/Commands/repl.smoke.yaml
Labels: enhancement

#1766 Keep regular comments in html output
  app/Commands/Dev/Core/Repl.hs
  app/Commands/Dev/Highlight.hs
  app/Commands/Dev/Scope.hs
  app/Commands/Html.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped/Source.hs
  src/Juvix/Compiler/Concrete/Data/InfoTable.hs
  src/Juvix/Compiler/Concrete/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Data/Name.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTable.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Data/Scope.hs
  src/Juvix/Compiler/Concrete/Extra.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Data/Context.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Data/Context.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Data.hs
  src/Juvix/Data/Comment.hs
  src/Juvix/Data/Effect/ExactPrint/Base.hs
  src/Juvix/Parser/Error.hs
  src/Juvix/Parser/Lexer.hs
  test/Asm/Run/Base.hs
  test/Asm/Validate/Base.hs
  test/Core/Eval/Base.hs
  test/Parsing/Negative.hs
  test/Scope/Negative.hs
  test/Scope/Positive.hs
  tests/positive/Imports/A.juvix
  tests/positive/Imports/M.juvix
Labels: enhancement, refactor, judoc

#1772 Update pre-commit
  .pre-commit-config.yaml
Labels: repo-maintenance

#1775 Add builtin nat and bool types as start nodes in reachability analysis
  src/Juvix/Compiler/Abstract/Extra/DependencyBuilder.hs
  test/Internal/Eval/Positive.hs
  test/Reachability/Positive.hs
  tests/Internal/positive/Import/out/Importer.out
  tests/Internal/positive/LitIntegerToNat.juvix
  tests/Internal/positive/out/IdenFunctionArgs.out
  tests/Internal/positive/out/IdenFunctionArgsImplicit.out
  tests/Internal/positive/out/IdenFunctionIntegerLiteral.out
  tests/Internal/positive/out/IntegerLiteral.out
  tests/Internal/positive/out/LitIntegerToNat.out
  tests/Internal/positive/out/MatchConstructor.out
Labels: fix:bug, internal-to-core

#1780 Fix minor issue with ==% for type equality
  Makefile
  src/Juvix/Compiler/Abstract/Extra/Functions.hs
  src/Juvix/Compiler/Builtins/Debug.hs
Labels: enhancement

#1781 Pipes for lambda clauses
  Makefile
  examples/milestone/TicTacToe/Logic/GameState.juvix
  examples/milestone/TicTacToe/Logic/Square.juvix
  examples/milestone/TicTacToe/Logic/Symbol.juvix
  src/Juvix/Compiler/Abstract/Language.hs
  src/Juvix/Compiler/Abstract/Pretty/Base.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Data.hs
  src/Juvix/Data/Effect/ExactPrint/Base.hs
  src/Juvix/Data/Irrelevant.hs
  tests/Compilation/positive/test007.juvix
  tests/Compilation/positive/test024.juvix
  tests/Compilation/positive/test026.juvix
  tests/Compilation/positive/test034.juvix
  tests/Compilation/positive/test035.juvix
  tests/Compilation/positive/test037.juvix
  tests/Internal/positive/HigherOrderLambda.juvix
  tests/Internal/positive/Lambda.juvix
  tests/positive/Internal/Lambda.juvix
  tests/positive/StdlibList/Data/List.juvix
Labels: syntax

#1782 Track builtins in the Core InfoTable
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
Labels: refactor, internal-to-core

#1785 Allow type signatures to have a body
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  test/Scope/Negative.hs
  test/Scope/Positive.hs
  tests/negative/DuplicateClause.juvix
  tests/positive/SignatureWithBody.juvix
Labels: syntax

#1789 Translate as-pattern binders to Core PatternBinders
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  test/Internal/Eval/Positive.hs
  tests/Internal/positive/AsPatterns.juvix
  tests/Internal/positive/out/AsPatterns.out
Labels: fix:bug, internal-to-core

#1787 Fix termination with as-patterns
  src/Juvix/Compiler/Abstract/Data/Name.hs
  src/Juvix/Compiler/Abstract/Extra/Functions.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/Error/Types.hs
  test/Termination/Positive.hs
  tests/positive/Termination/TreeGen.juvix
Labels: termination, fix:bug

#1783 Use restore/save github action to speed up the CI testing
  .github/workflows/ci.yml
Labels: enhancement, CI
