Repository anoma/juvix, pull requests merged in 2023-04, with the labels that each got.

#1961 repl: Run disambiguateNames on result node
  app/Commands/Repl.hs
  app/Commands/Repl/Options.hs
  tests/smoke/Commands/repl.smoke.yaml
Labels: fix:bug, repl

#1966 Fix PrettyCode (Maybe a) instance "Just" case
  src/Juvix/Compiler/Internal/Pretty/Base.hs
Labels: fix:bug

#1969 Print quoted strings in the runtime
  runtime/src/juvix/io.c
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test048.out
  tests/Compilation/positive/test048.juvix
Labels: fix:bug, runtime

#1974 Add Juvix to all benchmarks
  bench/Suites.hs
Labels: benchmark

#1975 Refactor Core datastructures
  app/AsmInterpreter.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Asm/Data/InfoTable.hs
  src/Juvix/Compiler/Asm/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Asm/Extra/Base.hs
  src/Juvix/Compiler/Asm/Extra/Memory.hs
  src/Juvix/Compiler/Asm/Extra/Recursors.hs
  src/Juvix/Compiler/Asm/Interpreter.hs
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  src/Juvix/Compiler/Asm/Transformation/Prealloc.hs
  src/Juvix/Compiler/Asm/Translation/FromCore.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Backend/Geb/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Data/IdentDependencyInfo.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Data/Stripped/InfoTable.hs
  src/Juvix/Compiler/Core/Data/TypeDependencyInfo.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/Base.hs
  src/Juvix/Compiler/Core/Transformation/CheckExec.hs
  src/Juvix/Compiler/Core/Transformation/CheckGeb.hs
  src/Juvix/Compiler/Core/Transformation/ComputeTypeInfo.hs
  src/Juvix/Compiler/Core/Transformation/Eta.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLetRecLifting.hs
  src/Juvix/Compiler/Core/Transformation/MatchToCase.hs
  src/Juvix/Compiler/Core/Transformation/NatToInt.hs
  src/Juvix/Compiler/Core/Transformation/RemoveTypeArgs.hs
  src/Juvix/Compiler/Core/Transformation/TopEtaExpand.hs
  src/Juvix/Compiler/Core/Transformation/UnrollRecursion.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Reg/Data/InfoTable.hs
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
  test/Asm/Run/Base.hs
Labels: refactor, core

#1977 Test numbering
  test/Asm/Run/Positive.hs
  test/Core/Asm/Positive.hs
  test/Core/Compile/Positive.hs
  test/Core/Eval/Positive.hs
  test/Core/Transformation/Unrolling.hs
  test/Runtime/Positive.hs
Labels: test-suite, refactor

#1956 Add FoldTypeSynonyms Transformation to Geb Pipeline and more Geb Tests
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/FoldTypeSynonyms.hs
  src/Juvix/Compiler/Core/Transformation/RemoveTypeArgs.hs
  test/BackendGeb/Compilation/Positive.hs
  test/BackendGeb/FromCore/Positive.hs
  tests/Geb/positive/Compilation/out/test026.geb
  tests/Geb/positive/Compilation/out/test027.geb
  tests/Geb/positive/Compilation/out/test028.geb
  tests/Geb/positive/Compilation/out/test029.geb
  tests/Geb/positive/Compilation/test026.juvix
  tests/Geb/positive/Compilation/test027.juvix
  tests/Geb/positive/Compilation/test028.juvix
  tests/Geb/positive/Compilation/test029.juvix
  tests/Geb/positive/Core/test026.jvc
  tests/Geb/positive/Core/test027.jvc
  tests/Geb/positive/Eval/out/test026.geb
  tests/Geb/positive/Eval/out/test027.geb
Labels: test-suite, fix:bug, pipeline:geb

#1990 ci: Specify llvm version in brew prefix command
  .github/workflows/ci.yml
Labels: CI, mac-issue

#1987 Fix location for case expressions
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
Labels: fix:bug, internal-to-core

#1995 Add minor improvements to the docs
  docs/tutorials/learn.md
  docs/tutorials/vscode.md
Labels: documentation

#1978 Fix: format juvix files in test/positive
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  tests/positive/265/M.juvix
  tests/positive/272/M.juvix
  tests/positive/Ape.juvix
  tests/positive/Axiom.juvix
  tests/positive/BuiltinsMultiImport/A.juvix
  tests/positive/BuiltinsMultiImport/Input.juvix
  tests/positive/BuiltinsMultiImport/Nat.juvix
  tests/positive/BuiltinsMultiOpenImport/A.juvix
  tests/positive/BuiltinsMultiOpenImport/Input.juvix
  tests/positive/BuiltinsMultiOpenImport/Nat.juvix
  tests/positive/Dependencies/.libs/Base/Base.juvix
  tests/positive/Dependencies/.libs/Extra/Extra.juvix
  tests/positive/Format.juvix
  tests/positive/Imports/A.juvix
  tests/positive/Internal/AsPattern.juvix
  tests/positive/Internal/LiteralString.juvix
  tests/positive/Internal/Positivity/E5.juvix
  tests/positive/Judoc.juvix
  tests/positive/Literals.juvix
  tests/positive/Operators.juvix
  tests/positive/QualifiedConstructor/M.juvix
  tests/positive/QualifiedSymbol/M.juvix
  tests/positive/QualifiedSymbol2/N.juvix
  tests/positive/Reachability/Data/Bool.juvix
  tests/positive/Reachability/Data/Maybe.juvix
  tests/positive/Reachability/Data/Nat.juvix
  tests/positive/Reachability/Data/Ord.juvix
  tests/positive/Reachability/Data/Product.juvix
  tests/positive/Reachability/M.juvix
  tests/positive/Reachability/N.juvix
  tests/positive/Reachability/O.juvix
  tests/positive/ShadowPublicOpen.juvix
  tests/positive/StdlibImport/A.juvix
  tests/positive/StdlibImport/StdlibImport.juvix
  tests/positive/Symbols.juvix
  tests/positive/Termination/Ack.juvix
  tests/positive/Termination/Data/Bool.juvix
  tests/positive/Termination/Data/List.juvix
  tests/positive/Termination/Data/Nat.juvix
  tests/positive/Termination/Fib.juvix
  tests/positive/Termination/Mutual.juvix
  tests/positive/Termination/TreeGen.juvix
  tests/positive/Termination/Undefined.juvix
  tests/positive/issue1333/M.juvix
  tests/positive/issue1466/M.juvix
  tests/positive/issue1693/M.juvix
  tests/positive/issue1731/builtinFail.juvix
  tests/positive/issue1731/builtinTrace.juvix
  tests/positive/issue1879/LetSynonym.juvix
Labels: enhancement, fix:bug, juvix-formatter

#1988 Pretty print JuvixCore values consistently with Juvix syntax
  app/Commands/Dev/Repl/Options.hs
  app/Commands/Repl.hs
  app/Commands/Repl/Options.hs
  src/Juvix/Compiler/Abstract/Data/Name.hs
  src/Juvix/Compiler/Abstract/Extra/Functions.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Extra/Value.hs
  src/Juvix/Compiler/Core/Info/ExpansionInfo.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Language/Value.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/Eta.hs
  src/Juvix/Compiler/Core/Transformation/MatchToCase.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/Data/SizeInfo.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Data/Fixity.hs
  tests/smoke/Commands/repl.smoke.yaml
Labels: enhancement, error-messaging, prettyprinting, core, repl

#1983 Fix: add supported targets as option for compile commands
  app/Commands/Compile/Options.hs
  app/Commands/Dev/Asm/Compile/Options.hs
  app/Commands/Dev/Core/Asm.hs
  app/Commands/Dev/Core/Compile/Options.hs
  app/Commands/Dev/Core/Options.hs
  app/Commands/Dev/Runtime/Options.hs
  app/Commands/Extra/Compile/Options.hs
  app/TopCommand/Options.hs
  docs/reference/language/modules.md
  src/Juvix/Compiler/Asm.hs
  src/Juvix/Compiler/Asm/Data.hs
  src/Juvix/Compiler/Asm/Translation.hs
  tests/positive/Dependencies/Input.juvix
Labels: fix:bug

#1999 Write compile output file to invoke dir by default
  app/Commands/Extra/Compile.hs
  tests/smoke/Commands/compile.smoke.yaml
Labels: CLI, fix:bug

#2003 Fix: broken links of Example programs
  .github/workflows/ci.yml
  .gitignore
  Makefile
  docs/examples/README.md
  docs/reference/examples.md
  docs/tutorials/learn.md
Labels: CI, documentation, Makefile

#2004 Qualified imports
  src/Juvix/Compiler/Concrete/Data/Name.hs
  src/Juvix/Compiler/Concrete/Data/Scope.hs
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Scope/Positive.hs
  tests/positive/QualifiedImports/Main.juvix
  tests/positive/QualifiedImports/juvix.yaml
Labels: scoping, enhancement, syntax

#1962 Documentation for projects and modules
  docs/SUMMARY.md
  docs/reference/language/infix.md
  docs/reference/language/modules.md
  docs/reference/language/modules_old.md
  docs/reference/language/project.md
  docs/reference/language/statement.md
Labels: documentation

#2015 format long lambda clause body on a new line
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  tests/positive/Format.juvix
Labels: enhancement, prettyprinting, juvix-formatter

#2009 Ide improvements
  app/Commands/Dev/Highlight.hs
  src/Juvix/Compiler/Concrete/Data/Highlight.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Input.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/PrettyJudoc.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Properties.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/RenderEmacs.hs
  src/Juvix/Compiler/Concrete/Data/InfoTable.hs
  src/Juvix/Compiler/Concrete/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Pretty.hs
  src/Juvix/Compiler/Internal/Translation/Extra.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Data/Context.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Context.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Context.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/Emacs.hs
  src/Juvix/Data/Emacs/Point.hs
  src/Juvix/Data/Emacs/SExp.hs
  src/Juvix/Prelude/Pretty.hs
Labels: emacs-mode, highlight

#2021 Support positive arity typealias in arity checker
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  tests/positive/TypeAlias.juvix
Labels: fix:bug, aritychecker

#2019 Add format stdin smoke tests
  tests/smoke/Commands/format.smoke.yaml
Labels: test-suite, smoke-testing, juvix-formatter

#2018 Add `juvix clean` to remove project build artifact directory
  app/Commands/Clean.hs
  app/TopCommand.hs
  app/TopCommand/Options.hs
  tests/smoke/Commands/clean.smoke.yaml
Labels: CLI

#2023 Remove docs related files
  .github/pull_request_template.md
  .github/workflows/ci.yml
  Makefile
  docs/SUMMARY.md
  docs/about/community.md
  docs/about/team.md
  docs/changelog.md
  docs/examples/README.md
  docs/explanations/totality/README.md
  docs/explanations/totality/coverage.md
  docs/explanations/totality/positive.md
  docs/explanations/totality/termination.md
  docs/explanations/typetheory.md
  docs/howto/compilation.md
  docs/howto/installing.md
  docs/howto/judoc.md
  docs/notes/README.md
  docs/notes/builtins.md
  docs/notes/lsp.md
  docs/notes/monomorphization.md
  docs/notes/runtime-benchmark-results.md
  docs/notes/strictly-positive-data-types.md
  docs/quick-start.md
  docs/reference/benchmarks.md
  docs/reference/examples.md
  docs/reference/judoc.md
  docs/reference/language/README.md
  docs/reference/language/axioms.md
  docs/reference/language/builtins.md
  docs/reference/language/comments.md
  docs/reference/language/control.md
  docs/reference/language/datatypes.md
  docs/reference/language/functions.md
  docs/reference/language/infix.md
  docs/reference/language/let.md
  docs/reference/language/modules.md
  docs/reference/language/modules_old.md
  docs/reference/language/project.md
  docs/reference/language/statement.md
  docs/reference/stdlib.md
  docs/reference/tooling/CLI.md
  docs/reference/tooling/README.md
  docs/reference/tooling/doctor.md
  docs/reference/tooling/emacs.md
  docs/reference/tooling/testing.md
  docs/tutorials/README.md
  docs/tutorials/emacs.md
  docs/tutorials/learn.md
  docs/tutorials/nodejs-interop.md
  docs/tutorials/structure.md
  docs/tutorials/vscode.md
Labels: refactor

#2024 Fix dependencies suggestion in missing module error
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Error.hs
  test/Parsing/Negative.hs
  tests/negative/Dependencies/InvalidImport.juvix
  tests/negative/Dependencies/juvix.yaml
  tests/negative/NoDependencies/InvalidImport.juvix
  tests/negative/NoDependencies/juvix.yaml
  tests/smoke/Commands/dev/parse.smoke.yaml
Labels: error-messaging, test-suite, parsing

#2027 Add delimiter face
  src/Juvix/Compiler/Concrete/Data/Highlight.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Properties.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/RenderEmacs.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Data/ParsedItem.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Parser/Lexer.hs
Labels: prettyprinting

#2025 Add judoc code annotation and face
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped/Source.hs
  src/Juvix/Compiler/Concrete/Data/Highlight.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Properties.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/RenderEmacs.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Data/ParsedItem.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Extra/Strings.hs
Labels: prettyprinting, juvix-formatter

#2026 Propertly register top module name in scoper
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
Labels: prettyprinting, fix:bug

#2022 Improve formatting of comments
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Backend/Geb/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Concrete/Data/Highlight.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Data/ParsedItem.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Data/Comment.hs
  src/Juvix/Data/Effect/ExactPrint.hs
  src/Juvix/Data/Effect/ExactPrint/Base.hs
  src/Juvix/Parser/Lexer.hs
  src/Juvix/Prelude/Base.hs
  tests/positive/Format.juvix
  tests/positive/QualifiedSymbol/M.juvix
Labels: prettyprinting, juvix-formatter

#2030 Small style adjustments
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Transformation/UnrollRecursion.hs
  src/Juvix/Data/Pragmas.hs
  src/Juvix/Parser/Lexer.hs
Labels: refactor

#1997 Add: pragma support
  app/Commands/Repl.hs
  src/Juvix/Compiler/Abstract/Language.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLetRecLifting.hs
  src/Juvix/Compiler/Core/Transformation/UnrollRecursion.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Data.hs
  src/Juvix/Data/Pragmas.hs
  src/Juvix/Data/WithSource.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Parser/Lexer.hs
  test/BackendGeb/Compilation/Positive.hs
  test/Parsing/Negative.hs
  test/Scope/Positive.hs
  tests/Geb/positive/Compilation/out/test030.geb
  tests/Geb/positive/Compilation/test030.juvix
  tests/negative/PragmasFormat.juvix
  tests/negative/PragmasYAML.juvix
  tests/positive/Pragmas.juvix
Labels: enhancement, parsing, language, syntax

#2028 Make format command's filepath optional
  app/App.hs
  app/Commands/Dev/Geb/Repl.hs
  app/Commands/Format.hs
  app/Commands/Format/Options.hs
  app/Commands/Repl.hs
  app/GlobalOptions.hs
  examples/milestone/Collatz/Collatz.juvix
  src/Juvix/Compiler/Concrete/Translation.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Extra/Paths.hs
  src/Juvix/Formatter.hs
  src/Juvix/Parser/Error.hs
  test/Format.hs
  test/Formatter/Positive.hs
  tests/positive/Internal/Lambda.juvix
  tests/positive/QualifiedSymbol2/M.juvix
  tests/smoke/Commands/format.smoke.yaml
Labels: enhancement, CLI, juvix-formatter

#2041 Enable self-application test
  test/Typecheck/Positive.hs
Labels: test-suite
