Repository anoma/juvix, pull requests merged in 2023-11, with the labels that each got.

#2490 Cache .hie directory in CI
  .github/workflows/ci.yml
Labels: CI, repo-maintenance

#2492 Bump version to 0.5.3
  CHANGELOG.md
  package.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: release

#2483 Update juvix init to generate Package.juvix instead of juvix.yaml
  app/Commands/Init.hs
  src/Juvix/Compiler/Concrete/Gen.hs
  src/Juvix/Compiler/Concrete/Print.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Compiler/Pipeline/Package/Loader.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/Versions.hs
  src/Juvix/Prelude/Prepath.hs
  tests/smoke/Commands/init.smoke.yaml
Labels: enhancement, dev-tools

#2489 Fix remove unexpected whitespaces introduced by formatting
  app/Commands/Format.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Concrete/Print.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Formatter.hs
  src/Juvix/Prelude/Pretty.hs
  test/Format.hs
  tests/negative/DefaultArgCycle.juvix
  tests/negative/Internal/AmbiguousCoercions.juvix
  tests/negative/Internal/CoercionTargetNotATrait.juvix
  tests/negative/Internal/DefaultArgCycleArity.juvix
  tests/negative/Internal/DefaultTypeError.juvix
  tests/negative/Internal/LoopingCoercion.juvix
  tests/negative/Termination/Data/Nat.juvix
  tests/negative/Termination/DefaultArguments.juvix
  tests/negative/Termination/Mutual.juvix
  tests/negative/Termination/Ord.juvix
  tests/negative/Termination/TerminatingF.juvix
  tests/negative/Termination/TerminatingG.juvix
  tests/positive/DefaultValues.juvix
  tests/positive/Format.juvix
  tests/positive/Internal/Mutual.juvix
  tests/positive/LocalModWithAxiom.juvix
  tests/positive/LocalModWithAxiom.juvix.formatted
  tests/positive/MutualType.juvix
  tests/positive/PackageLoader/PackageJuvixEmptyDependencies/Package.juvix
  tests/positive/PackageLoader/PackageJuvixUsesLockfile/Package.juvix
  tests/positive/Termination/Data/Nat.juvix
  tests/positive/Termination/Mutual.juvix
  tests/smoke/Commands/format.smoke.yaml
Labels: fix:bug, juvix-formatter

#2496 Fix #2495
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Prelude/Pretty.hs
  tests/negative/230/Foo.juvix
  tests/negative/258/M.juvix
  tests/negative/265/M.juvix
  tests/negative/AppLeftImplicit.juvix
  tests/negative/ConstructorExpectedLeftApplication.juvix
  tests/negative/ImplicitPatternLeftApplication.juvix
  tests/negative/Internal/IdenFunctionArgsNoExplicit.juvix
  tests/negative/Internal/LazyBuiltin.juvix
  tests/negative/Internal/PatternConstructor.juvix
  tests/negative/Internal/Positivity/E1.juvix
  tests/negative/Internal/Positivity/E10.juvix
  tests/negative/Internal/Positivity/E11.juvix
  tests/negative/Internal/Positivity/E2.juvix
  tests/negative/Internal/Positivity/E3.juvix
  tests/negative/Internal/Positivity/E4.juvix
  tests/negative/Internal/Positivity/E5.juvix
  tests/negative/Internal/Positivity/E6.juvix
  tests/negative/Internal/Positivity/E7.juvix
  tests/negative/Internal/Positivity/E9.juvix
  tests/negative/Internal/UnsolvedMeta.juvix
  tests/negative/Internal/WrongReturnType.juvix
  tests/negative/Internal/WrongReturnTypeParameters.juvix
  tests/negative/Internal/WrongReturnTypeTooFewArguments.juvix
  tests/negative/Internal/WrongReturnTypeTooManyArguments.juvix
  tests/negative/StdlibConflict/Stdlib/Data/Bool.juvix
  tests/negative/Termination/Data/Tree.juvix
  tests/negative/Termination/Mutual.juvix
  tests/negative/Termination/TerminatingF.juvix
  tests/negative/Termination/TerminatingG.juvix
  tests/negative/issue1337/Braces.juvix
  tests/negative/issue1344/D.juvix
  tests/negative/issue1344/M.juvix
  tests/negative/issue1344/Other.juvix
  tests/negative/issue1344/U.juvix
  tests/negative/issue1700/SelfApplication.juvix
  tests/positive/LocalModWithAxiom.juvix
  tests/positive/LocalModWithAxiom.juvix.formatted
  tests/positive/QualifiedSymbol2/M.juvix
Labels: fix:bug

#2498 Normalise paths on ResolverCache set and lookup
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Data.hs
  src/Juvix/Data/Effect/Files/Base.hs
  src/Juvix/Data/Effect/Files/IO.hs
  src/Juvix/Data/Effect/Files/Pure.hs
  src/Juvix/Extra/Stdlib.hs
  tests/smoke/Commands/compile.smoke.yaml
  tests/smoke/Commands/repl.smoke.yaml
Labels: CLI, fix:bug

#2499 Use Package.juvix in the global project
  app/Commands/Clean.hs
  app/Commands/Clean/Options.hs
  app/Commands/Init.hs
  app/TopCommand.hs
  app/TopCommand/Options.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Compiler/Pipeline/Package/Base.hs
  src/Juvix/Compiler/Pipeline/Package/Loader.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/Versions.hs
  src/Juvix/Data/Effect/Files.hs
  tests/smoke/Commands/clean.smoke.yaml
Labels: CLI

#2500 Add -n/--non-interactive option to juvix init
  app/Commands/Init.hs
  app/Commands/Init/Options.hs
  app/TopCommand.hs
  app/TopCommand/Options.hs
  tests/smoke/Commands/init.smoke.yaml
Labels: CLI, juvix-yaml

#2502 Update file walker to use Package.juvix to detect a Juvix package
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Data/Effect/Files.hs
  src/Juvix/Formatter.hs
  tests/smoke/Commands/format.smoke.yaml
Labels: CLI

#2494 Named arguments syntax with function definitions
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Data/Irrelevant.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Compilation/Positive.hs
  test/Scope/Negative.hs
  tests/Compilation/positive/out/test071.out
  tests/Compilation/positive/test071.juvix
  tests/negative/UnexpectedArgumentNew.juvix
  tests/positive/Format.juvix
Labels: enhancement, syntax

#2501 Refresh bound variable ids when substituting in Internal
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Extra/Binders.hs
  src/Juvix/Compiler/Internal/Extra/Clonable.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Traits/Resolver.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
Labels: typechecking, fix:bug

#2504 Fix `clone` in `subsHoles`
  src/Juvix/Compiler/Internal/Extra/Base.hs
Labels: typechecking, fix:bug

#2505 test: Run juvix format on juvix packages rather than files
  Makefile
Labels: test-suite

#2513 Refactor markdown parsing
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
Labels: refactor

#2514 Fix Bank Example
  examples/milestone/Bank/Bank.juvix
Labels: milestone-example, fix

#2506 General inductive parameters
  src/Juvix/Compiler/Concrete/Data/NameSignature/Builder.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Data/LocalVars.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete/NamedArguments.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  test/Typecheck/PositiveNew.hs
  tests/positive/Monads/Functor.juvix
  tests/positive/Monads/Identity.juvix
  tests/positive/Monads/Monad.juvix
  tests/positive/Monads/MonadReader.juvix
  tests/positive/Monads/MonadState.juvix
  tests/positive/Monads/Package.juvix
  tests/positive/Monads/Reader.juvix
  tests/positive/Monads/ReaderT.juvix
  tests/positive/Monads/State.juvix
  tests/positive/Monads/StateT.juvix
  tests/positive/Traits2.juvix
Labels: enhancement, typechecking

#2515 Add MarkdownInfo entry in Module Concrete Decl and proper errors
  app/Commands/Markdown.hs
  src/Juvix/Compiler/Backend/Markdown/Data/Types.hs
  src/Juvix/Compiler/Backend/Markdown/Error.hs
  src/Juvix/Compiler/Backend/Markdown/Translation/FromTyped/Source.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Pipeline/Package/Loader.hs
  src/Juvix/Parser/Error.hs
  test/BackendMarkdown.hs
  test/BackendMarkdown/Negative.hs
  test/BackendMarkdown/Positive.hs
  test/Main.hs
  tests/negative/Markdown/Empty.juvix.md
  tests/negative/Markdown/NoJuvixCodeBlocks.juvix.md
  tests/negative/Markdown/juvix.yaml
Labels: enhancement, error-messaging, refactor

#2512 Fix #2510
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Paths.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/PathResolver.hs
  src/Juvix/Data/Effect/Files/Base.hs
  src/Juvix/Data/Effect/Files/IO.hs
  src/Juvix/Data/Effect/Files/Pure.hs
  src/Juvix/Data/FileExt.hs
  src/Juvix/Parser/Error.hs
  test/Parsing/Negative.hs
  test/Typecheck/Positive.hs
  tests/WithoutPackageFile/Good.juvix
  tests/WithoutPackageFile/NoGood.juvix
  tests/positive/Markdown/Test.juvix.md
  tests/positive/Markdown/juvix.yaml
  tests/positive/MarkdownImport/A.juvix
  tests/positive/MarkdownImport/B.juvix.md
  tests/positive/MarkdownImport/C.juvix.md
  tests/positive/MarkdownImport/Package.juvix
  tests/positive/Monads/Identity.juvix
  tests/positive/Monads/MonadReader.juvix
  tests/positive/Monads/MonadState.juvix
  tests/positive/Monads/Package.juvix
  tests/positive/Monads/ReaderT.juvix
  tests/positive/Monads/StateT.juvix
  tests/positive/Traits2.juvix
Labels: enhancement, fix:bug

#2523 Release 0.5.4
  CHANGELOG.md
  package.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: release

#2526 Fix the global 'package' package so that modules within it can be type-checked independently
  include/package/Package.juvix
  src/Juvix/Compiler/Pipeline/Package/Loader/PathResolver.hs
  tests/smoke/Commands/typecheck.smoke.yaml
Labels: fix:bug, juvix-yaml

#2522 Update the Juvix lock file when the Package file changes
  .github/workflows/ci.yml
  Makefile
  package.yaml
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Data.hs
  src/Juvix/Compiler/Pipeline/Lockfile.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/EvalEff/IO.hs
  src/Juvix/Data/SHA256.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Prelude/Aeson.hs
  test/Scope/Positive.hs
  tests/positive/Dependencies/.libs/Base/Package.juvix
  tests/positive/Dependencies/Package.juvix
  tests/smoke/Commands/compile-dependencies-package-juvix.smoke.yaml
  tests/smoke/Commands/compile-dependencies.smoke.yaml
Labels: enhancement, juvix-yaml

#2516 Add non-dependent default values to the new typechecking algorithm
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew/Arity.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error/Types.hs
  test/Typecheck/PositiveNew.hs
Labels: enhancement, typechecking

#2536 Fix location for aliases
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
Labels: scoping, fix

#2538 runtime Makefile: Do not resolve variables when writing a dependency file
  runtime/Makefile.generic
Labels: build, runtime

#2524 Improve inference for `--new-typechecker`
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Data/LocalVars.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Extra/Clonable.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew/Arity.hs
  src/Juvix/Prelude/Base.hs
  test/Compilation.hs
  test/Compilation/Base.hs
  test/Compilation/Positive.hs
  test/Compilation/PositiveNew.hs
  test/Typecheck/PositiveNew.hs
  tests/Compilation/positive/out/test072.out
  tests/Compilation/positive/test027.juvix
  tests/Compilation/positive/test032.juvix
  tests/Compilation/positive/test046.juvix
  tests/Compilation/positive/test072/Functor.juvix
  tests/Compilation/positive/test072/Identity.juvix
  tests/Compilation/positive/test072/Monad.juvix
  tests/Compilation/positive/test072/MonadReader.juvix
  tests/Compilation/positive/test072/MonadState.juvix
  tests/Compilation/positive/test072/Package.juvix
  tests/Compilation/positive/test072/Reader.juvix
  tests/Compilation/positive/test072/ReaderT.juvix
  tests/Compilation/positive/test072/State.juvix
  tests/Compilation/positive/test072/StateT.juvix
Labels: typechecking

#2532 Negative tests for `--new-typechecker`
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error/Types.hs
  test/Arity/Negative.hs
  test/Typecheck.hs
  test/Typecheck/Negative.hs
  test/Typecheck/NegativeNew.hs
  test/Typecheck/Positive.hs
Labels: test-suite

#2542 Add new case for positivity checker: type cannot occur as arg of bound var
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Error.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Error/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error/Types.hs
  test/Typecheck/Negative.hs
  test/Typecheck/NegativeNew.hs
  tests/negative/Internal/Positivity/E10.juvix
  tests/negative/Internal/Positivity/E11.juvix
  tests/negative/Internal/Positivity/Evil.juvix
  tests/negative/Internal/Positivity/EvilWithAxiom.juvix
  tests/negative/Internal/Positivity/FreeT.juvix
Labels: enhancement, fix:bug

#2541 Add dependent defaults for the new typechecker
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete/NamedArguments.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew/Arity.hs
  src/Juvix/Data/Fixity.hs
  test/Compilation/PositiveNew.hs
  test/Typecheck/PositiveNew.hs
Labels: enhancement, typechecking
