Repository anoma/juvix, pull requests merged in 2023-09, with the labels that each got.

#2272 External package dependencies
  .github/workflows/ci.yml
  app/Commands/Init.hs
  app/Commands/Repl.hs
  package.yaml
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Artifacts.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Compiler/Pipeline/Package/Dependency.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Compiler/Pipeline/Setup.hs
  src/Juvix/Data/Effect/Git.hs
  src/Juvix/Data/Effect/Git/Base.hs
  src/Juvix/Data/Effect/Git/Process.hs
  src/Juvix/Data/Effect/Git/Process/Error.hs
  src/Juvix/Data/Effect/Log.hs
  src/Juvix/Data/Effect/Process.hs
  src/Juvix/Data/Effect/Process/Base.hs
  src/Juvix/Data/Effect/Process/IO.hs
  src/Juvix/Extra/Paths/Base.hs
  src/Juvix/Extra/Stdlib.hs
  src/Juvix/Prelude/Base.hs
  test/Scope/Positive.hs
  tests/smoke/Commands/compile-dependencies.smoke.yaml
Labels: enhancement, dev-tools, juvix-yaml

#2323 Add macchiato html theme
  assets/css/source-macchiato.css
  src/Juvix/Compiler/Backend/Html/Data/Options.hs
  src/Juvix/Compiler/Backend/Html/Extra.hs
Labels: html

#2335 Global offline flag
  app/Commands/Doctor.hs
  app/Commands/Doctor/Options.hs
  app/Commands/Repl.hs
  app/GlobalOptions.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Data/Effect/Git/Process.hs
  test/Scope/Positive.hs
  tests/smoke/Commands/compile-dependencies.smoke.yaml
Labels: CLI, juvix-yaml

#2343 Allow named arguments in type synonyms
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  tests/positive/Internal/Synonyms.juvix
Labels: typechecking

#2342 Improve formatting of single-constructor types and records
  examples/milestone/Bank/Bank.juvix
  examples/milestone/Hanoi/Hanoi.juvix
  examples/milestone/TicTacToe/Logic/Board.juvix
  examples/milestone/TicTacToe/Logic/GameState.juvix
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Data/Effect/ExactPrint.hs
  test/Format.hs
  tests/positive/Adt.juvix
  tests/positive/Format.juvix
  tests/positive/ImportShadow/Main.juvix
  tests/positive/Imports/A.juvix
  tests/positive/Inductive.juvix
  tests/positive/InductivePipes.juvix
  tests/positive/Judoc.juvix
  tests/positive/MultiParams.juvix
  tests/positive/QualifiedConstructor/M.juvix
  tests/positive/Records.juvix
  tests/positive/StdlibList/Data/Product.juvix
Labels: juvix-formatter

#2337 Add Internet effect
  app/Commands/Repl.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Data/Effect.hs
  src/Juvix/Data/Effect/Git/Process.hs
  src/Juvix/Data/Effect/Internet.hs
  test/Scope/Positive.hs
Labels: refactor

#2320 Traits
  src/Juvix/Compiler/Concrete/Data/NameSignature/Builder.hs
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Data.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Data/InfoTable/Base.hs
  src/Juvix/Compiler/Internal/Data/InstanceInfo.hs
  src/Juvix/Compiler/Internal/Data/TypedHole.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete/NamedArguments.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Data/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Error/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Termination/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error/Pretty.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error/Types.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Traits/Resolver.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Traits/Termination.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/Effect/ExactPrint.hs
  src/Juvix/Data/IsImplicit.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Prelude/Base.hs
  test/Compilation/Positive.hs
  test/Typecheck/Negative.hs
  test/Typecheck/Positive.hs
  tests/Compilation/positive/out/test061.out
  tests/Compilation/positive/test061.juvix
  tests/negative/Internal/AmbiguousInstances.juvix
  tests/negative/Internal/ExplicitInstanceArgument.juvix
  tests/negative/Internal/InstanceTermination.juvix
  tests/negative/Internal/NoInstance.juvix
  tests/negative/Internal/NotATrait.juvix
  tests/negative/Internal/TargetNotATrait.juvix
  tests/negative/NestedPatternBraces.juvix
  tests/positive/Traits.juvix
Labels: enhancement, typechecking, syntax, aritychecker, traits

#2345 Small refactor for traits
  src/Juvix/Compiler/Concrete/Data/NameSignature/Builder.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete/NamedArguments.hs
  test/Scope/Negative.hs
  tests/negative/Internal/DanglingDoubleBrace.juvix
  tests/positive/Format.juvix
Labels: error-messaging, refactor

#2344 VampIR range checks and error handling
  app/Commands/Dev/Core/Compile/Base.hs
  app/Commands/Extra/Compile/Options.hs
  runtime/src/vampir/stdlib.pir
  runtime/src/vampir/stdlib_unsafe.pir
  src/Juvix/Compiler/Backend/VampIR/Language.hs
  src/Juvix/Compiler/Backend/VampIR/Pretty/Base.hs
  src/Juvix/Compiler/Backend/VampIR/Pretty/Keywords.hs
  src/Juvix/Compiler/Backend/VampIR/Pretty/Options.hs
  src/Juvix/Compiler/Backend/VampIR/Translation.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Extra/Strings.hs
  test/VampIR/Core/Base.hs
  tests/VampIR/positive/Compilation/data/test022.json
  tests/smoke/Commands/compile.smoke.yaml
Labels: enhancement, pipeline:vampir

#2357 Remove duplicated implicit pattern check from scoper
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  test/Typecheck/Negative.hs
  tests/negative/issue1337/DoubleBraces.juvix
Labels: error-messaging, refactor

#2353 Add new case syntax
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  tests/Internal/positive/Case.juvix
  tests/positive/Format.juvix
  tests/positive/ImportShadow/Main.juvix
  tests/positive/Internal/Case.juvix
  tests/positive/Iterators.juvix
Labels: enhancement, language, syntax

#2350 Fix instance import
  src/Juvix/Compiler/Internal/Data/InstanceInfo.hs
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Traits/Resolver.hs
  test/Typecheck/Positive.hs
  tests/positive/InstanceImport/M.juvix
  tests/positive/InstanceImport/Main.juvix
  tests/positive/InstanceImport/juvix.yaml
Labels: typechecking, fix:bug, traits

#2360 Add newlines at end of JSON files
  tests/VampIR/positive/Compilation/data/test001.json
  tests/VampIR/positive/Compilation/data/test002.json
  tests/VampIR/positive/Compilation/data/test003.json
  tests/VampIR/positive/Compilation/data/test004.json
  tests/VampIR/positive/Compilation/data/test005.json
  tests/VampIR/positive/Compilation/data/test006.json
  tests/VampIR/positive/Compilation/data/test007.json
  tests/VampIR/positive/Compilation/data/test008.json
  tests/VampIR/positive/Compilation/data/test009.json
  tests/VampIR/positive/Compilation/data/test010.json
  tests/VampIR/positive/Compilation/data/test011.json
  tests/VampIR/positive/Compilation/data/test012.json
  tests/VampIR/positive/Compilation/data/test013.json
  tests/VampIR/positive/Compilation/data/test014.json
  tests/VampIR/positive/Compilation/data/test015.json
  tests/VampIR/positive/Compilation/data/test016.json
  tests/VampIR/positive/Compilation/data/test017.json
  tests/VampIR/positive/Compilation/data/test018.json
  tests/VampIR/positive/Compilation/data/test019.json
  tests/VampIR/positive/Compilation/data/test020.json
  tests/VampIR/positive/Compilation/data/test021.json
  tests/VampIR/positive/Compilation/data/test022.json
  tests/VampIR/positive/Compilation/data/test023.json
  tests/VampIR/positive/Core/data/test001.json
  tests/VampIR/positive/Core/data/test002.json
  tests/VampIR/positive/Core/data/test003.json
  tests/VampIR/positive/Core/data/test004.json
  tests/VampIR/positive/Core/data/test005.json
  tests/VampIR/positive/Core/data/test006.json
  tests/VampIR/positive/Core/data/test007.json
  tests/VampIR/positive/Core/data/test008.json
  tests/VampIR/positive/Core/data/test009.json
  tests/VampIR/positive/Core/data/test010.json
  tests/VampIR/positive/Core/data/test011.json
  tests/VampIR/positive/Core/data/test012.json
  tests/VampIR/positive/Core/data/test013.json
  tests/VampIR/positive/Core/data/test014.json
  tests/VampIR/positive/Core/data/test015.json
  tests/VampIR/positive/Core/data/test016.json
  tests/VampIR/positive/Core/data/test017.json
  tests/VampIR/positive/Core/data/test018.json
  tests/VampIR/positive/Core/data/test019.json
  tests/VampIR/positive/Core/data/test020.json
  tests/VampIR/positive/Core/data/test021.json
  tests/VampIR/positive/Core/data/test022.json
  tests/VampIR/positive/Core/data/test023.json
  tests/VampIR/positive/Core/data/test024.json
  tests/VampIR/positive/Core/data/test025.json
  tests/VampIR/positive/Core/data/test026.json
  tests/VampIR/positive/Core/data/test027.json
  tests/VampIR/positive/Core/data/test028.json
  tests/VampIR/positive/Core/data/test029.json
  tests/VampIR/positive/translation/data/test001.json
  tests/VampIR/positive/translation/data/test002.json
Labels: pipeline:vampir

#2368 Fix bug in isTrait
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Traits/Resolver.hs
  tests/Compilation/positive/out/test061.out
  tests/Compilation/positive/test061.juvix
Labels: fix:bug, traits

#2370 Bump version to 0.5.1
  CHANGELOG.md
  package.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: repo-maintenance

#2376 Error on local instances
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  test/Parsing/Negative.hs
  tests/negative/ErrorOnLocalInstances.juvix
Labels: error-messaging, parsing, syntax, traits

#2378 Avoid the `-Os` option when generating WebAssembly
  app/Commands/Extra/Compile.hs
Labels: fix:bug, c-backend

#2379 Do not call `git fetch` on git dependency if ref already exists in clone
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Data/Effect/Git/Base.hs
  src/Juvix/Data/Effect/Git/Process.hs
  tests/smoke/Commands/compile-dependencies.smoke.yaml
Labels: enhancement, juvix-yaml

#2377 Improve inlining
  src/Juvix/Compiler/Core/Data/BinderList.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Collector.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/Inlining.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/LetFolding.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  test/Runtime/Base.hs
Labels: enhancement, optimization

#2381 Avoid serialization of _packageFile field in juvix.yaml
  src/Juvix/Compiler/Pipeline/Package.hs
  tests/smoke/Commands/init.smoke.yaml
Labels: CLI, fix:bug, juvix-yaml

#2385 Support functions in instance parameters
  src/Juvix/Compiler/Internal/Data/InstanceInfo.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Traits/Resolver.hs
  tests/Compilation/positive/out/test061.out
  tests/Compilation/positive/test061.juvix
Labels: enhancement, traits

#2387 Fix case formatting
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Data/Effect/ExactPrint.hs
  src/Juvix/Prelude/Pretty.hs
  tests/Compilation/positive/test037.juvix
  tests/Compilation/positive/test038.juvix
  tests/Compilation/positive/test060.juvix
  tests/VampIR/positive/Compilation/test006.juvix
  tests/VampIR/positive/Compilation/test007.juvix
  tests/VampIR/positive/Compilation/test009.juvix
  tests/VampIR/positive/Compilation/test017.juvix
  tests/VampIR/positive/Compilation/test019.juvix
  tests/VampIR/positive/Compilation/test023.juvix
  tests/positive/Internal/Case.juvix
Labels: juvix-formatter

#2390 Add nodes with no edges to the dependency graph
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  test/Typecheck/Positive.hs
  tests/positive/issue2373/Main.juvix
  tests/positive/issue2373/juvix.yaml
Labels: fix:bug

#2397 Minor changes to midsquare
  examples/midsquare/MidSquareHash.juvix
  examples/midsquare/MidSquareHashUnrolled.juvix
  examples/midsquare/juvix.yaml
Labels: repo-maintenance

#2398 Remove unused files
  .hlint.yaml
  Makefile
  assets/images/tara-magicien.png
  assets/images/tara-seating.svg
  assets/images/tara-smiling.png
  assets/images/tara-teaching.png
  assets/images/tara-teaching.svg
  book.toml
  licenses/agda/LICENSE
  licenses/agda/readme.org
  theme/index.hbs
  theme/juvix.css
  theme/juvix.js
  theme/latex-macros.txt
  theme/pagetoc.css
  theme/pagetoc.js
  theme/pascal.js
Labels: repo-maintenance

#2400 Update pre-commit to check JSON formatting
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  tests/VampIR/positive/Compilation/data/test001.json
  tests/VampIR/positive/Compilation/data/test002.json
  tests/VampIR/positive/Compilation/data/test003.json
  tests/VampIR/positive/Compilation/data/test004.json
  tests/VampIR/positive/Compilation/data/test005.json
  tests/VampIR/positive/Compilation/data/test006.json
  tests/VampIR/positive/Compilation/data/test007.json
  tests/VampIR/positive/Compilation/data/test008.json
  tests/VampIR/positive/Compilation/data/test009.json
  tests/VampIR/positive/Compilation/data/test010.json
  tests/VampIR/positive/Compilation/data/test011.json
  tests/VampIR/positive/Compilation/data/test012.json
  tests/VampIR/positive/Compilation/data/test013.json
  tests/VampIR/positive/Compilation/data/test014.json
  tests/VampIR/positive/Compilation/data/test015.json
  tests/VampIR/positive/Compilation/data/test016.json
  tests/VampIR/positive/Compilation/data/test017.json
  tests/VampIR/positive/Compilation/data/test018.json
  tests/VampIR/positive/Compilation/data/test019.json
  tests/VampIR/positive/Compilation/data/test020.json
  tests/VampIR/positive/Compilation/data/test021.json
  tests/VampIR/positive/Compilation/data/test022.json
  tests/VampIR/positive/Compilation/data/test023.json
  tests/VampIR/positive/Core/data/test001.json
  tests/VampIR/positive/Core/data/test002.json
  tests/VampIR/positive/Core/data/test003.json
  tests/VampIR/positive/Core/data/test004.json
  tests/VampIR/positive/Core/data/test005.json
  tests/VampIR/positive/Core/data/test006.json
  tests/VampIR/positive/Core/data/test007.json
  tests/VampIR/positive/Core/data/test008.json
  tests/VampIR/positive/Core/data/test009.json
  tests/VampIR/positive/Core/data/test010.json
  tests/VampIR/positive/Core/data/test011.json
  tests/VampIR/positive/Core/data/test012.json
  tests/VampIR/positive/Core/data/test013.json
  tests/VampIR/positive/Core/data/test014.json
  tests/VampIR/positive/Core/data/test015.json
  tests/VampIR/positive/Core/data/test016.json
  tests/VampIR/positive/Core/data/test017.json
  tests/VampIR/positive/Core/data/test018.json
  tests/VampIR/positive/Core/data/test019.json
  tests/VampIR/positive/Core/data/test020.json
  tests/VampIR/positive/Core/data/test021.json
  tests/VampIR/positive/Core/data/test022.json
  tests/VampIR/positive/Core/data/test023.json
  tests/VampIR/positive/Core/data/test024.json
  tests/VampIR/positive/Core/data/test025.json
  tests/VampIR/positive/Core/data/test026.json
  tests/VampIR/positive/Core/data/test027.json
  tests/VampIR/positive/Core/data/test028.json
  tests/VampIR/positive/Core/data/test029.json
  tests/VampIR/positive/translation/data/test001.json
  tests/VampIR/positive/translation/data/test002.json
Labels: repo-maintenance

#2399 Simplify README
  README.md
Labels: repo-maintenance

#2369 Record creation syntax with function definitions
  src/Juvix/Compiler/Concrete/Data/NameSignature/Builder.hs
  src/Juvix/Compiler/Concrete/Extra.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  test/Scope/Negative.hs
  tests/Compilation/positive/test060.juvix
  tests/Compilation/positive/test061.juvix
  tests/negative/MissingFields.juvix
Labels: enhancement, syntax

#2406 Fix tara url svg
  README.md
Labels: repo-maintenance

#2393 Fix delay instance resolution
  src/Juvix/Compiler/Internal/Data/TypedHole.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Traits/Resolver.hs
  tests/Compilation/positive/out/test061.out
  tests/Compilation/positive/test061.juvix
Labels: enhancement, typechecking, traits

#2396 Improve closure calls in the runtime
  runtime/src/juvix/api.h
  runtime/src/juvix/funcall.h
  runtime/src/juvix/funcall/apply.h
  runtime/src/juvix/funcall/funcall.h
  src/Juvix/Compiler/Asm/Transformation/Prealloc.hs
  src/Juvix/Compiler/Backend.hs
  src/Juvix/Compiler/Backend/C/Translation/FromReg.hs
  src/Juvix/Compiler/Reg/Extra.hs
  test/Compilation/Positive.hs
  test/Runtime/Positive.hs
  tests/Compilation/positive/out/test062.out
  tests/Compilation/positive/test062.juvix
  tests/runtime/positive/out/test021.out
  tests/runtime/positive/out/test022.out
  tests/runtime/positive/test007.c
  tests/runtime/positive/test008.c
  tests/runtime/positive/test012.c
  tests/runtime/positive/test013.c
  tests/runtime/positive/test015.c
  tests/runtime/positive/test016.c
  tests/runtime/positive/test017.c
  tests/runtime/positive/test021.c
  tests/runtime/positive/test022.c
Labels: enhancement, c-backend, runtime

#2415 Update benchmarks
  tests/benchmark/combinations/runtime/combinations.c
  tests/benchmark/mapfun/juvix/mapfun.juvix
  tests/benchmark/maybe/juvix/maybe.juvix
  tests/benchmark/maybe/runtime/maybe.c
  tests/benchmark/mergesort/juvix/mergesort.juvix
Labels: benchmark

#2407 Fix minor: case and error message
  src/Juvix/Data/Effect/Git/Process.hs
  src/Juvix/Data/Effect/Git/Process/Error.hs
  tests/smoke/Commands/compile-dependencies.smoke.yaml
Labels: repo-maintenance

#2389 Remove function clause from `Internal`
  src/Juvix/Compiler/Builtins/Effect.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Termination/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Prelude/Base.hs
Labels: refactor

#2418 Remove package.yaml entry for PNG assets
  package.yaml
Labels: repo-maintenance
