Repository anoma/juvix, pull requests merged in 2023-05, with the labels that each got.

#2042 Return endLine info in highlighting command
  src/Juvix/Compiler/Concrete/Data/Highlight/Properties.hs
Labels: highlight

#2044 Fix HasExpressions ConstructorApp
  src/Juvix/Compiler/Internal/Extra.hs
  test/Typecheck/Positive.hs
  tests/positive/NestedPatterns.juvix
Labels: fix:bug

#2046 Fix pipeline setup in the repl
  .github/workflows/ci.yml
  app/Commands/Repl.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Extra/Stdlib.hs
Labels: fix:bug, repl

#2029 Support module imports in Juvix REPL
  app/Commands/Repl.hs
  src/Juvix/Compiler/Abstract/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete/Data/Context.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Data/Context.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Data/Context.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Artifacts.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  tests/positive/NoDependencies/Empty.juvix
  tests/positive/NoDependencies/Foo.juvix
  tests/positive/NoDependencies/juvix.yaml
  tests/smoke/Commands/repl.smoke.yaml
Labels: enhancement, repl

#2061 Fix devcontainer juvix install
  .devcontainer/Dockerfile
Labels: dev-tools

#2063 Fix topCommandInputFile for Format command
  app/TopCommand/Options.hs
  tests/smoke/Commands/format.smoke.yaml
Labels: fix:bug, juvix-formatter

#2053 Partial incremental highlighting
  app/Commands/Dev/Highlight.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete/Data/Context.hs
  src/Juvix/Compiler/Concrete/Data/Highlight.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Input.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/PrettyJudoc.hs
  src/Juvix/Compiler/Concrete/Data/InfoTable.hs
  src/Juvix/Compiler/Concrete/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTable.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder/BuilderState.hs
  src/Juvix/Compiler/Concrete/Translation.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Data/Context.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Artifacts.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Data/Error/GenericError.hs
  src/Juvix/Data/Loc.hs
  test/Scope/Positive.hs
  tests/smoke/Commands/dev/highlight.smoke.yaml
Labels: enhancement, highlight

#2049 Arity check types and functions (->)
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  test/Typecheck/Positive.hs
  tests/positive/IdInType.juvix
Labels: fix:bug, aritychecker

#2078 Fix format on projects that contain subprojects
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Data/Effect/Files.hs
  src/Juvix/Formatter.hs
  tests/smoke/Commands/format.smoke.yaml
Labels: fix:bug, juvix-formatter

#2062 Fix reachability analysis with imports in unreachable nested modules
  src/Juvix/Compiler/Abstract/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Reachability.hs
  test/Internal/Eval/Positive.hs
  tests/Internal/positive/NestedModuleScope/Base.juvix
  tests/Internal/positive/NestedModuleScope/Base2.juvix
  tests/Internal/positive/NestedModuleScope/Import.juvix
  tests/Internal/positive/NestedModuleScope/juvix.yaml
  tests/Internal/positive/NestedModuleScope/out/NestedModuleScope.out
Labels: fix:bug, reachability

#2075 Allow nested block comments
  src/Juvix/Parser/Lexer.hs
  tests/Compilation/positive/test003.juvix
  tests/Core/positive/test003.jvc
  tests/positive/Parsing.juvix
Labels: parsing

#2092 Improve error message when input path doesn't exist
  app/Main.hs
  app/TopCommand/Options.hs
  src/Juvix/Prelude/Path.hs
  src/Juvix/Prelude/Path/SomePath.hs
  tests/smoke/Commands/compile.smoke.yaml
  tests/smoke/Commands/format.smoke.yaml
Labels: enhancement, CLI

#2093 Bump to LTS Haskell 20.21 (ghc-9.2.7)
  .devcontainer/Dockerfile
  .github/workflows/linux-static-binary.yaml
  cabal.project
  docker/Dockerfile-ghc-alpine-9.2.7
  docker/README.md
  package.yaml
  stack.yaml
Labels: repo-maintenance

#2040 Fix ordering of statements in Abstract -> Internal
  src/Juvix/Compiler/Abstract/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Language/Base.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Reachability.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Data/DependencyInfo.hs
  src/Juvix/Data/Effect/ExactPrint/Base.hs
  src/Juvix/Prelude/Base.hs
  test/Compilation/Positive.hs
  test/Reachability/Positive.hs
  test/Typecheck/Positive.hs
  tests/Compilation/positive/out/test052.out
  tests/Compilation/positive/test052.juvix
  tests/positive/LambdaCalculus.juvix
  tests/positive/LocalSynonym.juvix
  tests/positive/MutualType.juvix
Labels: fix:bug, priority:high, internal-to-core

#2094 Slightly improve prettyprinting for Core
  src/Juvix/Compiler/Core/Pretty/Base.hs
Labels: prettyprinting, core

#2097 Reachability analysis in Core
  src/Juvix/Compiler/Core/Data/IdentDependencyInfo.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/FilterUnreachable.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/Phase/Main.hs
Labels: core, optimization

#2076 Implement core transformation `let-hoisting`
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/LetHoisting.hs
  src/Juvix/Compiler/Core/Transformation/NaiveMatchToCase.hs
  src/Juvix/Compiler/Core/Transformation/Normalize.hs
  test/Core.hs
  test/Core/Eval/Base.hs
  test/Core/Normalize/Positive.hs
  test/Core/VampIR.hs
  test/Core/VampIR/Base.hs
  test/Core/VampIR/LetHoist.hs
  test/Core/VampIR/Positive.hs
  tests/VampIR/positive/Core/data/test028.json
  tests/VampIR/positive/Core/data/test029.json
  tests/VampIR/positive/Core/test028.jvc
  tests/VampIR/positive/Core/test029.jvc
Labels: core, pipeline:vampir

#2098 Modify `open import` syntax
  examples/milestone/TicTacToe/CLI/TicTacToe.juvix
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  test/Scope/Positive.hs
  tests/positive/Format.juvix
  tests/positive/ImportAsOpen/Main.juvix
  tests/positive/ImportAsOpen/Other.juvix
  tests/positive/ImportAsOpen/juvix.yaml
  tests/positive/ImportShadow/Main.juvix
  tests/positive/Internal/Case.juvix
  tests/positive/Pragmas.juvix
  tests/positive/SignatureWithBody.juvix
  tests/positive/Symbols.juvix
  tests/smoke/Commands/format.smoke.yaml
Labels: enhancement, syntax

#2101 Fix extra whitespace in text rendering of indented empty lines
  app/Commands/Dev/Geb/Repl/Format.hs
  src/Juvix/Data/PPOutput.hs
  src/Juvix/Prelude/Pretty.hs
  tests/positive/Format.juvix
Labels: fix:bug, juvix-formatter

#2105 Simplify formatting of lambdas with a single clause
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  tests/positive/Format.juvix
  tests/positive/StdlibList/Data/List.juvix
Labels: prettyprinting, juvix-formatter

#2102 Add syntax for Judoc blocks
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/PrettyJudoc.hs
  src/Juvix/Compiler/Concrete/Data/ParsedInfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Pretty/Options.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/Effect/ExactPrint.hs
  src/Juvix/Data/Keyword.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Parser/Lexer.hs
  src/Juvix/Prelude/Base.hs
  src/Juvix/Prelude/Lens.hs
  test/Scope/Positive.hs
  tests/positive/Judoc.juvix
Labels: enhancement, syntax

#2108 Scope check symbols inside `using {..}` and `hiding {..}`
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  test/Scope/Negative.hs
  tests/negative/UsingHiding/Main.juvix
  tests/negative/UsingHiding/juvix.yaml
  tests/positive/UsingHiding/Main.juvix
  tests/positive/UsingHiding/juvix.yaml
Labels: scoping, enhancement

#2109 Allow symbol renaming inside `using {..}`
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  tests/positive/UsingHiding/Main.juvix
Labels: scoping, enhancement, syntax

#2096 Add VampIR to the CI
  .github/workflows/ci.yml
  src/Juvix/Compiler/Concrete/Print/Base.hs
  tests/negative/Termination/Data/Nat.juvix
  tests/positive/Format.juvix
Labels: CI

#2112 Add Bottom node
  src/Juvix/Compiler/Backend/Geb/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Error.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Info/TypeInfo.hs
  src/Juvix/Compiler/Core/Keywords.hs
  src/Juvix/Compiler/Core/Language.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Normalizer.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/Check/Base.hs
  src/Juvix/Compiler/Core/Transformation/Check/Exec.hs
  src/Juvix/Compiler/Core/Transformation/Check/Geb.hs
  src/Juvix/Compiler/Core/Transformation/Check/VampIR.hs
  src/Juvix/Compiler/Core/Transformation/ComputeTypeInfo.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Compilation/Negative.hs
  test/Core/Asm/Positive.hs
  test/Core/Compile/Positive.hs
  test/Core/Eval/Positive.hs
  test/Core/Transformation/Pipeline.hs
  tests/Compilation/negative/test005.juvix
  tests/Core/positive/out/test060.out
  tests/Core/positive/test060.jvc
Labels: core, internal-to-core

#2122 Fix baseUrl for juvix docs in Doctor command
  CONTRIBUTING.md
  app/Commands/Doctor.hs
Labels: documentation

#2125 Fix spurious messages from Makefile.generic
  runtime/Makefile.generic
Labels: build, runtime

#2123 Add gnu-sed to the macOS build in the CI
  .github/workflows/ci.yml
Labels: CI, mac-issue, repo-maintenance

#2120 Add `main` field to `juvix.yaml`
  app/App.hs
  app/Commands/Compile.hs
  app/Commands/Dev/Asm/Compile.hs
  app/Commands/Dev/Core/Compile.hs
  app/Commands/Dev/Core/Compile/Base.hs
  app/Commands/Extra/Compile.hs
  app/Commands/Extra/Compile/Options.hs
  app/Commands/Init.hs
  examples/milestone/Collatz/juvix.yaml
  examples/milestone/Fibonacci/juvix.yaml
  examples/milestone/Hanoi/juvix.yaml
  examples/milestone/HelloWorld/juvix.yaml
  examples/milestone/PascalsTriangle/juvix.yaml
  examples/milestone/TicTacToe/juvix.yaml
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Prelude/Prepath.hs
  tests/smoke/Commands/compile.smoke.yaml
Labels: enhancement, CLI, juvix-yaml

#2127 Show unicode characters without escaping
  package.yaml
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Prelude/Base.hs
  tests/positive/Format.juvix
Labels: prettyprinting, juvix-formatter

#2119 Add `:def` command to the repl
  app/Commands/Repl.hs
  app/Commands/Repl/Base.hs
  src/Juvix/Compiler/Concrete/Data/InfoTable.hs
  src/Juvix/Compiler/Concrete/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Pretty/Options.hs
  src/Juvix/Compiler/Concrete/Print.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Data/Error/GenericError.hs
  src/Juvix/Data/NameKind.hs
  src/Juvix/Prelude/Pretty.hs
  stack.yaml
  tests/smoke/Commands/repl.smoke.yaml
Labels: enhancement, refactor, repl

#2143 Add `ValueType`
  src/Juvix/Compiler/Core/Extra/Value.hs
  src/Juvix/Compiler/Core/Language/Value.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
Labels: fix:bug, core

#2126 Iterator syntax
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Concrete/Data/Scope.hs
  src/Juvix/Compiler/Concrete/Data/ScopedName.hs
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/IteratorAttribs.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Data/NameKind.hs
  src/Juvix/Data/Pragmas.hs
  src/Juvix/Data/Yaml.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Prelude/Pretty.hs
  test/Compilation/Positive.hs
  test/Core/Eval/Base.hs
  test/Scope/Negative.hs
  test/Scope/Positive.hs
  tests/Compilation/positive/out/test054.out
  tests/Compilation/positive/test054.juvix
  tests/negative/230/Foo/Data/Bool.juvix
  tests/negative/Iterators1.juvix
  tests/negative/Iterators2.juvix
  tests/negative/Iterators3.juvix
  tests/negative/Iterators4.juvix
  tests/negative/Iterators5.juvix
  tests/negative/PragmasYAML.juvix
  tests/positive/Iterators.juvix
  tests/positive/Pragmas.juvix
Labels: parsing, language, syntax

#2144 Fix printing of infix constructor values
  src/Juvix/Compiler/Core/Pretty/Base.hs
  tests/smoke/Commands/repl.smoke.yaml
Labels: prettyprinting, repl

#2140 Add `Semigroup` instance for `AnsiText`
  app/Commands/Dev/Geb/Repl/Format.hs
  app/Commands/Format.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Abstract/Pretty.hs
  src/Juvix/Compiler/Asm/Pretty.hs
  src/Juvix/Compiler/Backend/Geb/Evaluator/Error.hs
  src/Juvix/Compiler/Backend/Geb/Pretty.hs
  src/Juvix/Compiler/Backend/VampIR/Pretty.hs
  src/Juvix/Compiler/Concrete/Pretty.hs
  src/Juvix/Compiler/Concrete/Print.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Pretty.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Core/Pretty.hs
  src/Juvix/Compiler/Internal/Pretty.hs
  src/Juvix/Data/PPOutput.hs
  src/Juvix/Parser/Error.hs
  src/Juvix/Prelude/Pretty.hs
  test/Format.hs
  test/Scope/Positive.hs
Labels: refactor

#2149 Remove code for `Eval` and `Print` statements
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
Labels: refactor, syntax

#2150 Add the `format` pragma
  src/Juvix/Data/Pragmas.hs
  src/Juvix/Formatter.hs
  test/Scope/Positive.hs
  tests/positive/FormatPragma.juvix
Labels: juvix-formatter
