Repository anoma/juvix, pull requests merged in 2023-06, with the labels that each got.

#2137 VampIR pipeline: handle booleans in the type of `main`
  src/Juvix/Compiler/Backend/VampIR/Language.hs
  src/Juvix/Compiler/Backend/VampIR/Pretty/Base.hs
  src/Juvix/Compiler/Backend/VampIR/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Transformation/Check/Base.hs
  src/Juvix/Compiler/Core/Transformation/Check/VampIR.hs
  test/Core/Eval/Base.hs
  test/VampIR/Compilation/Positive.hs
  tests/VampIR/positive/Compilation/data/test020.json
  tests/VampIR/positive/Compilation/test020.juvix
Labels: enhancement, pipeline:vampir

#2152 Use the`JUVIX_LLVM_DIST_PATH` environment variable to search for the clang executable
  app/Commands/Doctor.hs
  app/Commands/Doctor/Options.hs
  app/Commands/Extra/Compile.hs
  src/Juvix/Prelude/Path.hs
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: enhancement, CLI

#2158 Add extra git dependencies to `cabal.project`
  cabal.project
Labels: fix:bug, build

#2156 Support new `import ... open` syntax in REPL
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  tests/smoke/Commands/repl.smoke.yaml
Labels: syntax, fix:bug, repl

#2141 Allow to specify VampIR variable names
  app/Commands/Repl.hs
  src/Juvix/Compiler/Backend/VampIR/Extra.hs
  src/Juvix/Compiler/Backend/VampIR/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Transformation/DisambiguateNames.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLetRecLifting.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Data/Pragmas.hs
  test/Core/Eval/Base.hs
  tests/VampIR/positive/Compilation/data/test001.json
  tests/VampIR/positive/Compilation/data/test002.json
  tests/VampIR/positive/Compilation/data/test003.json
  tests/VampIR/positive/Compilation/data/test004.json
  tests/VampIR/positive/Compilation/data/test005.json
  tests/VampIR/positive/Compilation/data/test006.json
  tests/VampIR/positive/Compilation/data/test007.json
  tests/VampIR/positive/Compilation/data/test008.json
  tests/VampIR/positive/Compilation/data/test009.json
  tests/VampIR/positive/Compilation/data/test010.json
  tests/VampIR/positive/Compilation/data/test017.json
  tests/VampIR/positive/Compilation/data/test019.json
  tests/VampIR/positive/Compilation/data/test020.json
  tests/VampIR/positive/Compilation/test002.juvix
  tests/VampIR/positive/Compilation/test010.juvix
Labels: enhancement, pipeline:vampir

#2165 Properly scan imports inside local modules
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  test/Typecheck/Positive.hs
  tests/positive/issue2163/Main.juvix
  tests/positive/issue2163/juvix.yaml
Labels: fix:bug

#2151 Finish the new pretty printing algorithm and delete the old one
  app/Commands/Dev/Scope.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Abstract/Pretty/Base.hs
  src/Juvix/Compiler/Abstract/Translation/FromConcrete.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/PrettyJudoc.hs
  src/Juvix/Compiler/Concrete/Extra.hs
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Pretty.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Data/Ape.hs
  src/Juvix/Data/Ape/Pretty.hs
  src/Juvix/Data/Ape/Print.hs
  src/Juvix/Data/Comment.hs
  src/Juvix/Data/Effect/ExactPrint.hs
  src/Juvix/Data/Effect/ExactPrint/Base.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Prelude/Base.hs
  test/Scope/Positive.hs
  tests/positive/Format.juvix
  tests/positive/SignatureWithBody.juvix
  tests/smoke/Commands/repl.smoke.yaml
Labels: enhancement, refactor, prettyprinting, juvix-formatter

#2170 Improve parsing error messages
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  tests/Compilation/positive/test053.juvix
Labels: enhancement, error-messaging, parsing

#2175 small refactor
  app/App.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Reachability.hs
  src/Juvix/Compiler/Pipeline.hs
Labels: refactor

#2172 Do not filter unreachable symbols when compiling for REPL
  app/Commands/Repl.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Reachability.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  tests/smoke/Commands/repl.smoke.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: fix:bug, repl

#2179 Print values in `juvix eval`
  app/Commands/Dev/Core/Eval/Options.hs
  app/Commands/Dev/Core/FromConcrete/Options.hs
  app/Commands/Dev/Core/Normalize/Options.hs
  app/Commands/Dev/Core/Read/Options.hs
  app/Commands/Eval/Options.hs
  app/Evaluator.hs
Labels: CLI

#2178 Fix 'function not found' error in `juvix eval`
  app/Commands/Eval.hs
  tests/smoke/Commands/eval.smoke.yaml
Labels: error-messaging, CLI, fix:bug

#2182 Respect fixity in runtime printer
  runtime/src/juvix/info.c
  runtime/src/juvix/info.h
  runtime/src/juvix/object/object.h
  runtime/src/juvix/object/print.c
  src/Juvix/Compiler/Asm/Data/InfoTable.hs
  src/Juvix/Compiler/Asm/Translation/FromCore.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Backend/C/Translation/FromReg.hs
  src/Juvix/Compiler/Core/Data/Stripped/InfoTable.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Reg/Data/InfoTable.hs
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
  test/Compilation/Positive.hs
  test/Core/Eval/Base.hs
  tests/Compilation/positive/out/test055.out
  tests/Compilation/positive/test055.juvix
  tests/runtime/positive/test012.c
  tests/runtime/positive/test015.c
Labels: fix:bug, c-backend, runtime, pipeline:exec

#2181 Format returns 0 when file is not formatted
  app/Commands/Format.hs
  src/Juvix/Formatter.hs
  test/Formatter/Positive.hs
  tests/smoke/Commands/format.smoke.yaml
Labels: juvix-formatter

#2184 Use stderr for errors in the runtime
  runtime/src/juvix/defs.h
  runtime/src/juvix/io.c
  test/Runtime/Base.hs
Labels: error-messaging, fix:bug, runtime

#2183 Change terminal colours to be more align with the scheme
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/NameKind.hs
Labels: prettyprinting, repl

#2192 Fix benchmark runtime C examples
  tests/benchmark/fold/runtime/fold.c
  tests/benchmark/mapfold/runtime/mapfold.c
  tests/benchmark/mapfun/runtime/mapfun.c
  tests/benchmark/mapfun/runtime/mapfun_spec.c
  tests/benchmark/mergesort/runtime/mergesort.c
  tests/benchmark/prime/runtime/prime.c
Labels: test-suite, benchmark

#2193 Check valid argument names in YAML
  src/Juvix/Data/Pragmas.hs
  test/VampIR.hs
  test/VampIR/Compilation/Base.hs
  test/VampIR/Compilation/Negative.hs
  test/VampIR/Compilation/Positive.hs
  tests/VampIR/negative/test001.juvix
Labels: error-messaging, fix:bug

#2195 Fix runtime C maybe benchmark example
  tests/benchmark/compile.sh
  tests/benchmark/maybe/runtime/maybe.c
Labels: test-suite, benchmark

#2197 More tests for the VampIR compilation pipeline
  test/VampIR/Compilation/Positive.hs
  tests/VampIR/positive/Compilation/data/test021.json
  tests/VampIR/positive/Compilation/data/test022.json
  tests/VampIR/positive/Compilation/test021.juvix
  tests/VampIR/positive/Compilation/test022.juvix
Labels: test-suite, pipeline:vampir

#2138 Update to the new version of VampIR
  test/VampIR/Core/Base.hs
Labels: CI, test-suite, pipeline:vampir

#2201 Restrict permutative conversions on cases to non-booleans
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  test/Core/Normalize/Positive.hs
  test/VampIR/Compilation/Positive.hs
  tests/VampIR/positive/Compilation/data/test023.json
  tests/VampIR/positive/Compilation/test023.juvix
Labels: enhancement, pipeline:vampir

#2207 Propogate formatter results when traversing subdirs
  src/Juvix/Formatter.hs
  tests/smoke/Commands/format.smoke.yaml
Labels: fix:bug, juvix-formatter

#2208 Support juvix format with no argument to format a project
  app/Commands/Format.hs
  app/TopCommand/Options.hs
  tests/smoke/Commands/format.smoke.yaml
Labels: enhancement, juvix-formatter

#2204 Improve iterator formatting and syntax
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Data/Effect/ExactPrint.hs
  src/Juvix/Prelude/Pretty.hs
  tests/Compilation/positive/test054.juvix
Labels: enhancement, parsing, syntax, juvix-formatter

#2210 Use juvix-installer in CodeSpaces, install vamp-ir
  .devcontainer/Dockerfile
Labels: codespaces

#2212 Fix `isNegative` in the VampIR runtime
  package.yaml
  runtime/vampir/stdlib.pir
  src/Juvix/Compiler/Backend/VampIR/Pretty/Base.hs
  src/Juvix/Compiler/Backend/VampIR/Pretty/Options.hs
  test/Core/Normalize/Positive.hs
  test/VampIR/Compilation/Positive.hs
  test/VampIR/Core/Positive.hs
  tests/VampIR/positive/Compilation/data/test011.json
  tests/VampIR/positive/Compilation/data/test012.json
  tests/VampIR/positive/Compilation/data/test014.json
  tests/VampIR/positive/Compilation/data/test015.json
  tests/VampIR/positive/Compilation/data/test017.json
  tests/VampIR/positive/Compilation/test011.juvix
  tests/VampIR/positive/Compilation/test012.juvix
  tests/VampIR/positive/Compilation/test014.juvix
  tests/VampIR/positive/Compilation/test015.juvix
  tests/VampIR/positive/Compilation/test017.juvix
Labels: fix:bug, pipeline:vampir

#2221 Build and cache smoke binary keyed using icu4c version
  .github/workflows/ci.yml
Labels: CI

#2222 Local pragmas
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Info/PragmaInfo.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLetRecLifting.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  tests/Compilation/positive/test053.juvix
  tests/VampIR/positive/Compilation/test021.juvix
  tests/VampIR/positive/Compilation/test022.juvix
Labels: enhancement, parsing, syntax

#2223 The `public` pragma
  src/Juvix/Compiler/Backend/VampIR/Language.hs
  src/Juvix/Compiler/Backend/VampIR/Pretty/Base.hs
  src/Juvix/Compiler/Backend/VampIR/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Transformation/Check/VampIR.hs
  src/Juvix/Data/Pragmas.hs
  tests/VampIR/positive/Compilation/test002.juvix
Labels: enhancement, pipeline:vampir

#2218 Lifting calls out of cases for the VampIR backend
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Extra/Recursors.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map/Named.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Parameters.hs
  src/Juvix/Compiler/Core/Extra/Recursors/SFold.hs
  src/Juvix/Compiler/Core/Extra/Recursors/SFold/Named.hs
  src/Juvix/Compiler/Core/Extra/Recursors/SMap.hs
  src/Juvix/Compiler/Core/Extra/Recursors/SMap/Named.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/CaseCallLifting.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/LetFolding.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/Phase/VampIR.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/SimplifyIfs.hs
Labels: enhancement, optimization, pipeline:vampir

#2213 Remove Subtree sections, all collapse all button
  assets/css/linuwial.css
  assets/js/toggle.js
  src/Juvix/Compiler/Backend/Html/Extra.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
Labels: html

#2225 Bump version to 0.4.1 and update CHANGELOG
  CHANGELOG.md
  package.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: release

#2227 Fix de Bruijn indices in LetRecs
  src/Juvix/Compiler/Core/Transformation/LambdaLetRecLifting.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
Labels: fix:bug, core, internal-to-core, lifting

#2164 Specialization optimisation
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLetRecLifting.hs
  src/Juvix/Compiler/Core/Transformation/LetHoisting.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/CaseCallLifting.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/LetFolding.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/Phase/Main.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/SpecializeArgs.hs
  src/Juvix/Compiler/Core/Transformation/RemoveTypeArgs.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Data/Pragmas.hs
  src/Juvix/Prelude/Base.hs
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test056.out
  tests/Compilation/positive/test052.juvix
  tests/Compilation/positive/test056.juvix
Labels: enhancement, core, optimization

#2229 Case folding
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/CaseFolding.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/Phase/Main.hs
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test057.out
  tests/Compilation/positive/test057.juvix
Labels: enhancement, optimization

#2231 Fold lets when the bound variable occurs at most once
  src/Juvix/Compiler/Core/Info/FreeVarsInfo.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/LetFolding.hs
  tests/Core/positive/test034.jvc
Labels: enhancement, optimization

#2238 Fix bug in aritychecker
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
Labels: fix:bug, aritychecker
