Repository anoma/juvix, pull requests merged in 2023-03, with the labels that each got.

#1880 Fix type synonym in let
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/FunctionsTable.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Inference.hs
  src/Juvix/Prelude/Base.hs
  test/Typecheck/Positive.hs
  tests/positive/issue1879/LetSynonym.juvix
  tests/positive/issue1879/juvix.yaml
Labels: typechecking, fix:bug

#1891 Remove dead code in `Internal`
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
Labels: refactor

#1890 Remove missing Juvix examples and webapp example from docs build
  .github/workflows/ci.yml
  Makefile
  examples/milestone/TicTacToe/README.org
  examples/milestone/TicTacToe/Web/TicTacToe.juvix
  examples/milestone/TicTacToe/Web/index.html
  examples/milestone/TicTacToe/Web/tictactoe.js
Labels: documentation

#1892 Prepare Release 0.3.0
  changelog.org
  docs/org/howto/installing.org
  package.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: release

#1893 The `rmap` recursor
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Recursors.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Map/Named.hs
  src/Juvix/Compiler/Core/Extra/Recursors/RMap.hs
  src/Juvix/Compiler/Core/Extra/Recursors/RMap/Named.hs
  src/Juvix/Compiler/Core/Extra/Recursors/Utils.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Extra/Utils/Base.hs
  src/Juvix/Compiler/Core/Language/Base.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Transformation/NatToInt.hs
  test/Core.hs
  test/Core/Recursor.hs
  test/Core/Recursor/Base.hs
  test/Core/Recursor/RMap.hs
Labels: core

#1883 Make keyword `end` optional for top modules
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  tests/positive/Format.juvix
Labels: syntax

#1894 Automatically detect and split mutually recursive blocks in let expressions
  src/Juvix/Compiler/Abstract/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromInternal/Data/IndexTable.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/Data/Graph.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract/Analysis/Termination/LexOrder.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/DependencyInfo.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Prelude/Base.hs
  test/Compilation/Positive.hs
  test/Typecheck/Positive.hs
  tests/Compilation/positive/out/test039.out
  tests/Compilation/positive/test039.juvix
  tests/positive/MutualLet.juvix
  tests/smoke/Commands/repl.smoke.yaml
Labels: typechecking, core, internal-to-core

#1897 Normalize types in repl
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  tests/smoke/Commands/repl.smoke.yaml
Labels: typechecking, fix:bug, repl

#1898 Fix de Bruijn indices in rmap
  src/Juvix/Compiler/Core/Extra/Recursors/RMap.hs
  test/Core/Recursor/RMap.hs
Labels: fix:bug, core

#1900 internal-to-core: Fix index shifting of pattern arguments
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test040.out
  tests/Compilation/positive/test040.juvix
Labels: fix:bug, internal-to-core

#1871 Add errors to the Core pipeline and check GEB prerequisites
  app/Commands/Compile.hs
  app/Commands/Dev/Core/Asm.hs
  app/Commands/Dev/Core/Compile/Base.hs
  app/Commands/Dev/Core/FromConcrete.hs
  app/Commands/Dev/Core/Read.hs
  app/Commands/Dev/Core/Strip.hs
  app/Commands/Eval.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Backend/Geb/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Data/IdentDependencyInfo.hs
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Pipeline.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/Base.hs
  src/Juvix/Compiler/Core/Transformation/CheckGeb.hs
  src/Juvix/Compiler/Core/Transformation/NatToInt.hs
  src/Juvix/Compiler/Core/Transformation/RemoveTypeArgs.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/ExpressionContext.hs
  src/Juvix/Data/DependencyInfo.hs
  src/Juvix/Prelude/Lens.hs
  test/Compilation/Base.hs
  test/Core/Asm/Base.hs
  test/Core/Compile/Base.hs
  test/Core/Eval/Base.hs
Labels: error-messaging, core, translation:core-to-geb

#1903 Fix JuvixAsm validation
  app/Evaluator.hs
  src/Juvix/Compiler/Asm/Extra/Recursors.hs
  src/Juvix/Compiler/Asm/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  test/Compilation/Positive.hs
  test/Core/Eval/Base.hs
  tests/Compilation/positive/out/test042.out
  tests/Compilation/positive/out/test043.out
  tests/Compilation/positive/test042.juvix
  tests/Compilation/positive/test043.juvix
Labels: asm

#1906 Fix bug in IO runtime
  runtime/src/juvix/arch/wasi.c
  runtime/src/juvix/arch/wasi.h
  runtime/src/juvix/defs.h
  runtime/src/juvix/io.c
  runtime/src/juvix/io.h
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  test/Asm/Compile/Base.hs
  test/Asm/Compile/Positive.hs
  test/Compilation/Base.hs
  test/Compilation/Positive.hs
  test/Core/Compile/Base.hs
  tests/Compilation/positive/out/test044.out
  tests/Compilation/positive/test044.juvix
Labels: fix:bug, runtime

#1905 CI pre-commit maintenance
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  examples/demo/Demo.juvix
  examples/midsquare/MidSquareHash.juvix
  examples/milestone/Collatz/Collatz.juvix
  examples/milestone/Fibonacci/Fibonacci.juvix
  examples/milestone/Hanoi/Hanoi.juvix
  examples/milestone/HelloWorld/HelloWorld.juvix
  examples/milestone/PascalsTriangle/PascalsTriangle.juvix
  examples/milestone/TicTacToe/CLI/TicTacToe.juvix
  examples/milestone/TicTacToe/Logic/Board.juvix
  examples/milestone/TicTacToe/Logic/Extra.juvix
  examples/milestone/TicTacToe/Logic/Game.juvix
  examples/milestone/TicTacToe/Logic/GameState.juvix
  examples/milestone/TicTacToe/Logic/Square.juvix
  examples/milestone/TicTacToe/Logic/Symbol.juvix
  examples/milestone/TicTacToe/TicTacToe.juvix
  examples/milestone/Tutorial/Tutorial.juvix
  tests/Internal/positive/LitStringIO
Labels: enhancement, CI

#1909 Check for recursive inductive types in the GEB pipeline
  src/Juvix/Compiler/Core/Data/TypeDependencyInfo.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Transformation/CheckGeb.hs
Labels: enhancement, backend:geb, translation:core-to-geb

#1910 Update GitHub pages deployment using deploy-pages action
  .github/workflows/ci.yml
Labels: enhancement, documentation

#1924 Fix memory count for string operations
  runtime/src/juvix/object/print.c
  src/Juvix/Compiler/Asm/Transformation/Prealloc.hs
  src/Juvix/Compiler/Backend.hs
  test/Asm/Compile/Base.hs
Labels: fix:bug, asm, runtime

#1921 Let folding
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser.hs
  src/Juvix/Compiler/Core/Extra/Recursors/RMap.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/LetFolding.hs
Labels: core, optimization

#1912 Recursion unrolling for functions
  examples/midsquare/MidSquareHash.juvix
  examples/midsquare/MidSquareHash.jvc
  examples/midsquare/MidSquareHashUnrolled.juvix
  examples/midsquare/MidSquareHashUnrolled.jvc
  src/Juvix/Compiler/Core/Data/InfoTable.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Transformation/NatToInt.hs
  src/Juvix/Compiler/Core/Transformation/UnrollRecursion.hs
  src/Juvix/Prelude/Base.hs
  test/Core/Transformation.hs
  test/Core/Transformation/Unrolling.hs
Labels: core, translation:core-to-geb

#1932 Fix spacing of judoc in the formatter
  examples/midsquare/MidSquareHash.juvix
  examples/midsquare/MidSquareHashUnrolled.juvix
  examples/milestone/Hanoi/Hanoi.juvix
  examples/milestone/PascalsTriangle/PascalsTriangle.juvix
  examples/milestone/TicTacToe/CLI/TicTacToe.juvix
  examples/milestone/TicTacToe/Logic/Extra.juvix
  examples/milestone/TicTacToe/Logic/Game.juvix
  examples/milestone/Tutorial/Tutorial.juvix
  src/Juvix/Compiler/Concrete/Pretty/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  tests/positive/Format.juvix
Labels: prettyprinting, judoc

#1933 Preserve name and location information in Internal-to-Core
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Language.hs
  test/Compilation/Negative.hs
  tests/Compilation/negative/test002.juvix
  tests/Compilation/negative/test003.juvix
Labels: enhancement, internal-to-core

#1939 Avoid capturing the same free variable multiple times in letrec lifting
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLetRecLifting.hs
Labels: fix:bug, core

#1938 Add syntax highlighting to Core error messages
  src/Juvix/Compiler/Core/Error.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Transformation/CheckGeb.hs
  src/Juvix/Compiler/Core/Transformation/MatchToCase.hs
Labels: enhancement, error-messaging, core

#1942 End-to-end Geb compilation tests
  app/Commands/Dev/Geb/Check.hs
  app/Commands/Dev/Geb/Infer.hs
  src/Juvix/Compiler/Backend/Geb/Evaluator.hs
  src/Juvix/Compiler/Backend/Geb/Extra.hs
  src/Juvix/Compiler/Backend/Geb/Translation/FromCore.hs
  src/Juvix/Compiler/Core/Transformation/CheckGeb.hs
  test/BackendGeb.hs
  test/BackendGeb/Compilation.hs
  test/BackendGeb/Compilation/Base.hs
  test/BackendGeb/Compilation/Positive.hs
  test/BackendGeb/Eval/Positive.hs
  test/BackendGeb/FromCore/Base.hs
  test/BackendGeb/FromCore/Positive.hs
  tests/Geb/positive/Compilation/.gitignore
  tests/Geb/positive/Compilation/out/test001.geb
  tests/Geb/positive/Compilation/out/test002.geb
  tests/Geb/positive/Compilation/out/test003.geb
  tests/Geb/positive/Compilation/out/test004.geb
  tests/Geb/positive/Compilation/out/test005.geb
  tests/Geb/positive/Compilation/out/test006.geb
  tests/Geb/positive/Compilation/out/test007.geb
  tests/Geb/positive/Compilation/out/test008.geb
  tests/Geb/positive/Compilation/out/test009.geb
  tests/Geb/positive/Compilation/out/test010.geb
  tests/Geb/positive/Compilation/out/test011.geb
  tests/Geb/positive/Compilation/out/test012.geb
  tests/Geb/positive/Compilation/test001.juvix
  tests/Geb/positive/Compilation/test002.juvix
  tests/Geb/positive/Compilation/test003.juvix
  tests/Geb/positive/Compilation/test004.juvix
  tests/Geb/positive/Compilation/test005.juvix
  tests/Geb/positive/Compilation/test006.juvix
  tests/Geb/positive/Compilation/test007.juvix
  tests/Geb/positive/Compilation/test008.juvix
  tests/Geb/positive/Compilation/test009.juvix
  tests/Geb/positive/Compilation/test010.juvix
  tests/Geb/positive/Compilation/test011.juvix
  tests/Geb/positive/Compilation/test012.juvix
  tests/Geb/positive/Core/test001.jvc
  tests/Geb/positive/Core/test002.jvc
  tests/Geb/positive/Core/test009.jvc
  tests/Geb/positive/Core/test010.jvc
  tests/Geb/positive/Core/test011.jvc
  tests/Geb/positive/Core/test012.jvc
  tests/Geb/positive/Core/test013.jvc
  tests/Geb/positive/Eval/out/test009.geb
  tests/Geb/positive/Eval/out/test010.geb
  tests/Geb/positive/Eval/out/test011.geb
  tests/Geb/positive/Eval/out/test012.geb
  tests/Geb/positive/Eval/out/test013.geb
  tests/Geb/positive/Infer/out/basic-app.out
  tests/Geb/positive/Infer/out/left-unit.out
  tests/Geb/positive/Infer/out/test001.out
  tests/Geb/positive/Infer/out/test002.out
  tests/Geb/positive/Infer/out/test003.out
  tests/Geb/positive/Infer/out/test004.out
  tests/Geb/positive/Infer/out/test005.out
  tests/Geb/positive/Infer/out/test006.out
Labels: test-suite, backend:geb, translation:core-to-geb

#1950 CI: Ignore errors linux typecheck / format examples step
  .github/workflows/ci.yml
Labels: CI

#1949 Filter out type synonyms in RemoveTypeArgs
  src/Juvix/Compiler/Core/Transformation/RemoveTypeArgs.hs
Labels: core

#1946 Option `--show-args-num`
  app/Commands/Dev/Core/Eval/Options.hs
  app/Commands/Dev/Core/FromConcrete/Options.hs
  app/Commands/Dev/Core/Read/Options.hs
  app/Commands/Dev/Core/Repl/Options.hs
  app/CommonOptions.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Pretty/Options.hs
  src/Juvix/Compiler/Core/Transformation/RemoveTypeArgs.hs
Labels: enhancement, CLI, prettyprinting, core

#1911 Fix REPL state to include enough information to rerun the pipeline
  app/App.hs
  app/Commands/Dev/Core/Repl.hs
  app/Commands/Dev/Geb/Repl.hs
  app/Commands/Extra/Paths.hs
  app/Commands/Repl.hs
  app/Commands/Repl/Options.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Backend/Geb.hs
  src/Juvix/Compiler/Builtins/Effect.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/PathResolver.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Data/Context.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Data/Context.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Artifacts.hs
  src/Juvix/Compiler/Pipeline/ExpressionContext.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/Effect/NameIdGen.hs
  src/Juvix/Extra/Paths.hs
  test/Arity/Negative.hs
  test/BackendGeb/Compilation/Base.hs
  test/Compilation/Base.hs
  test/Format.hs
  test/Formatter/Positive.hs
  test/Internal/Eval/Base.hs
  test/Parsing/Negative.hs
  test/Reachability/Positive.hs
  test/Scope/Negative.hs
  test/Scope/Positive.hs
  test/Termination/Negative.hs
  test/Termination/Positive.hs
  test/Typecheck/Negative.hs
  test/Typecheck/Positive.hs
  tests/smoke/Commands/repl.smoke.yaml
Labels: fix:bug, repl

#1934 Add Judoc syntax reference
  docs/reference/judoc.md
Labels: documentation

#1945 Preserve the target type in letrec lifting
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Transformation/LambdaLetRecLifting.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  test/Core/Compile/Positive.hs
  test/Core/Eval/Positive.hs
  tests/Core/positive/test040.jvc
  tests/Core/positive/test043.jvc
Labels: enhancement, core

#1954 Fix removal of polymorphic type arguments
  src/Juvix/Compiler/Core/Transformation/RemoveTypeArgs.hs
  test/Compilation/Positive.hs
  test/Core/Eval/Positive.hs
  tests/Compilation/positive/out/test046.out
  tests/Compilation/positive/test046.juvix
  tests/Core/positive/out/test059.out
  tests/Core/positive/test055.jvc
  tests/Core/positive/test059.jvc
Labels: fix:bug, core

#1953 Fix a bug in closure traversal
  src/Juvix/Compiler/Core/Extra/Base.hs
Labels: fix:bug, core

#1941 Add juvix dev repl command
  app/Commands/Dev.hs
  app/Commands/Dev/Options.hs
  app/Commands/Dev/Repl/Options.hs
  app/Commands/Repl.hs
  app/Commands/Repl/Options.hs
  tests/smoke/Commands/dev/repl.smoke.yaml
Labels: CLI, repl, dev-tools

#1955 Let-folding after lifting
  src/Juvix/Compiler/Core/Data/TransformationId.hs
Labels: core, optimization

#1872 Support local modules
  src/Juvix/Compiler/Abstract/Data/Name.hs
  src/Juvix/Compiler/Concrete/Data/Scope.hs
  src/Juvix/Compiler/Concrete/Data/ScopedName.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromAbstract.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/ArityChecking/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Reachability.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Checker.hs
  test/Compilation/Positive.hs
  test/Reachability/Positive.hs
  tests/Compilation/positive/out/test047.out
  tests/Compilation/positive/test047.juvix
Labels: typechecking, core, aritychecker, internal-to-core
