Repository anoma/juvix, pull requests merged in 2024-10, with the labels that each got.

#3075 Fix named application bug
  src/Juvix/Compiler/Concrete/Data/NameSignature/Builder.hs
  src/Juvix/Compiler/Concrete/Language/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete/NamedArguments.hs
  src/Juvix/Prelude/Base/Foundation.hs
  test/Typecheck/Negative.hs
  tests/negative/Internal/issue3074.juvix
Labels: fix:bug

#3108 Update license reference
  README.md
Labels: documentation, fix:bug

#3110 Update anoma nock stdlib to include resource machine client library
  runtime/nockma/README.md
  runtime/nockma/stdlib.nockma
  src/Juvix/Compiler/Nockma/StdlibFunction.hs
Labels: backend:nockma, anoma

#3105 Fix closure representation in the Nock backend
  src/Juvix/Compiler/Nockma/Language.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  test/Nockma/Eval/Positive.hs
Labels: enhancement, fix:bug, nock, backend:nockma, anoma

#3113 Add frontend support for Anoma Resource Machine builtins
  src/Juvix/Compiler/Builtins/Anoma.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Keywords.hs
  src/Juvix/Compiler/Core/Language/Builtins.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/ComputeTypeInfo.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Keywords.hs
  src/Juvix/Compiler/Tree/Language/Builtins.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Transformation/CheckNoAnoma.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Anoma/Compilation/Positive.hs
  tests/Anoma/Compilation/positive/test085.juvix
Labels: backend:nockma, anoma

#3116 Refactor dangerous default branches in Core to Tree translation
  src/Juvix/Compiler/Core/Language/Builtins.hs
  src/Juvix/Compiler/Tree/Language.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
Labels: refactor

#3066 Serialize Nockma output using nock jam
  app/Commands/Compile/Anoma.hs
  app/Commands/Dev/Nockma/Eval.hs
  app/Commands/Dev/Nockma/Format.hs
  app/Commands/Dev/Nockma/Repl.hs
  app/Commands/Dev/Nockma/Run.hs
  src/Juvix/Compiler/Nockma/Encoding/Cue.hs
  src/Juvix/Compiler/Nockma/Encoding/Jam.hs
  src/Juvix/Compiler/Nockma/Evaluator/Error.hs
  src/Juvix/Compiler/Nockma/Language.hs
  src/Juvix/Compiler/Nockma/Pretty/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromSource/Base.hs
  src/Juvix/Data/FileExt.hs
  src/Juvix/Prelude/Effects/Accum.hs
  src/Juvix/Prelude/Path.hs
  tests/Anoma/Compilation/positive/test001-args.debug.nockma
  tests/smoke/Commands/compile.smoke.yaml
Labels: CLI, backend:nockma, anoma

#3124 Set line width to 80
  examples/milestone/Bank/Bank.juvix
  examples/milestone/Collatz/Collatz.juvix
  examples/milestone/Hanoi/Hanoi.juvix
  examples/milestone/PascalsTriangle/PascalsTriangle.juvix
  examples/milestone/TicTacToe/CLI/TicTacToe.juvix
  examples/milestone/TicTacToe/Logic/Board.juvix
  examples/milestone/TicTacToe/Logic/Extra.juvix
  examples/milestone/TicTacToe/Logic/Game.juvix
  examples/milestone/TicTacToe/Logic/GameState.juvix
  src/Juvix/Prelude/Pretty.hs
  tests/positive/Ape.juvix
  tests/positive/Format.juvix
  tests/positive/Internal/Positivity2/main.juvix
  tests/positive/Isabelle/isabelle/Program.thy
  tests/positive/StdlibList/Data/List.juvix
  tests/positive/issue3048/main.juvix
Labels: juvix-formatter

#3129 Support random API from the Anoma stdlib
  package.yaml
  src/Juvix/Compiler/Builtins/Anoma.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Keywords.hs
  src/Juvix/Compiler/Core/Language/Builtins.hs
  src/Juvix/Compiler/Core/Language/Primitives.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/Check/Cairo.hs
  src/Juvix/Compiler/Core/Transformation/ComputeTypeInfo.hs
  src/Juvix/Compiler/Core/Transformation/ConvertBuiltinTypes.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Nockma/AnomaLib.hs
  src/Juvix/Compiler/Nockma/AnomaLib/Base.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Extra/Type.hs
  src/Juvix/Compiler/Tree/Keywords.hs
  src/Juvix/Compiler/Tree/Language/Builtins.hs
  src/Juvix/Compiler/Tree/Language/Type.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Anoma/Compilation/Positive.hs
  test/Nockma/Eval/Positive.hs
  tests/Anoma/Compilation/positive/test086.juvix
Labels: enhancement, backend:nockma, anoma

#3132 Fix linux static build by pinning ghc-musl container version
  .github/workflows/linux-static-binary.yaml
Labels: CI, build
