Repository anoma/juvix, pull requests merged in 2024-12, with the labels that each got.

#3233 Fix RISC0 CI
  .github/workflows/ci.yml
Labels: CI, fix

#3229 anoma start should start the consensus engine
  include/anoma/start.exs
Labels: anoma

#3227 Update anoma ref to latest lukasz/juvix-integration-tracking
  .github/workflows/ci.yml
  runtime/nockma/anomalib.nockma
  src/Juvix/Compiler/Nockma/AnomaLib.hs
Labels: anoma

#3219 Format Package.juvix when formatting project
  app/App.hs
  app/Commands/Format.hs
  examples/demo/Package.juvix
  examples/midsquare/Package.juvix
  examples/milestone/Bank/Package.juvix
  examples/milestone/Collatz/Package.juvix
  examples/milestone/Fibonacci/Package.juvix
  examples/milestone/Hanoi/Package.juvix
  examples/milestone/HelloWorld/Package.juvix
  examples/milestone/PascalsTriangle/Package.juvix
  examples/milestone/TicTacToe/Package.juvix
  examples/milestone/Tutorial/Package.juvix
  src/Juvix/Formatter.hs
  tests/positive/Internal/Positivity2/Package.juvix
  tests/positive/PackageLoader/PackageJuvixEmptyDependencies/Package.juvix
  tests/positive/PackageLoader/YamlEmptyDependencies/Package.juvix
  tests/positive/PackageLoaderV2/PackageJuvixEmptyDependencies/Package.juvix
  tests/positive/issue3068/Package.juvix
  tests/smoke/Commands/format.smoke.yaml
Labels: fix:bug, juvix-formatter

#3238 Fix basic block calls in the Reg -> CASM translation
  src/Juvix/Compiler/Casm/Translation/FromReg.hs
  src/Juvix/Compiler/Reg/Language/Instrs.hs
  test/Casm/Compilation/Positive.hs
  test/Casm/Reg/Cairo.hs
  test/Casm/Reg/Positive.hs
  tests/Casm/Compilation/positive/in/test079.json
  tests/Casm/Compilation/positive/out/test079.out
  tests/Casm/Compilation/positive/test079.juvix
  tests/Casm/Reg/positive/in/test044.json
  tests/Casm/Reg/positive/in/test045.json
  tests/Casm/Reg/positive/in/test046.json
  tests/Casm/Reg/positive/in/test047.json
  tests/Casm/Reg/positive/in/test048.json
  tests/Casm/Reg/positive/out/test044.out
  tests/Casm/Reg/positive/out/test045.out
  tests/Casm/Reg/positive/out/test046.out
  tests/Casm/Reg/positive/out/test047.out
  tests/Casm/Reg/positive/out/test048.out
  tests/Casm/Reg/positive/test044.jvr
  tests/Casm/Reg/positive/test045.jvr
  tests/Casm/Reg/positive/test046.jvr
  tests/Casm/Reg/positive/test047.jvr
  tests/Casm/Reg/positive/test048.jvr
Labels: fix:bug, cairo

#3225 Fix printing of indented block comments
  src/Juvix/Data/Comment.hs
  src/Juvix/Data/Effect/ExactPrint/Base.hs
  tests/positive/Format.juvix
Labels: prettyprinting, syntax, fix:bug, juvix-formatter

#3240 Allow module self-reference
  src/Juvix/Compiler/Concrete/Data/NameSpace.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test090.out
  tests/Compilation/positive/test090.juvix
Labels: scoping, enhancement, syntax, modules

#3253 The args file to the prove CLI must now be textual nock term
  app/Commands/Dev/Anoma/Base.hs
  app/Commands/Dev/Anoma/Prove.hs
  app/Commands/Dev/Nockma/Run/Anoma.hs
  src/Juvix/Compiler/Nockma/Translation/FromSource/Base.hs
Labels: CLI, anoma

#3258 Modify how the arguments are passed to the anoma node
  app/Commands/Dev/Anoma/Base.hs
  app/Commands/Dev/Anoma/Prove.hs
  app/Commands/Dev/Anoma/Prove/Options.hs
  app/Commands/Dev/Anoma/Prove/Options/ProveArg.hs
  app/Commands/Dev/Anoma/Prove/Options/ProveArgTag.hs
  app/Commands/Dev/Nockma/Run/Anoma.hs
  app/Commands/Dev/Nockma/Run/EphemeralClient.hs
  app/Commands/Dev/Nockma/Run/EphemeralClient/Options.hs
  app/Commands/Dev/Nockma/Run/WithClient.hs
  app/Commands/Dev/Nockma/Run/WithClient/Options.hs
  app/CommonOptions.hs
  src/Juvix/Compiler/Concrete/Data.hs
  src/Juvix/Compiler/Concrete/Data/Literal.hs
  src/Juvix/Compiler/Concrete/Data/Stage.hs
  src/Juvix/Compiler/Nockma/Encoding/ByteString.hs
  src/Juvix/Data/Error/GenericError.hs
  src/Juvix/Data/IntegerWithBase.hs
  src/Juvix/Parser/Lexer.hs
  src/Juvix/Prelude/Base/Foundation.hs
Labels: enhancement, CLI, nock

#3260 Add `dev anoma print-config` command
  app/Commands/Dev/Anoma.hs
  app/Commands/Dev/Anoma/Client.hs
  app/Commands/Dev/Anoma/Options.hs
  app/Commands/Dev/Anoma/PrintConfig.hs
  app/Commands/Dev/Anoma/PrintConfig/Options.hs
  src/Anoma/Effect/Base.hs
  src/Juvix/Data/Error/GenericError.hs
Labels: enhancement, CLI
