Repository anoma/juvix, pull requests merged in 2024-05, with the labels that each got.

#2762 justfile: use numParallelJobs in test flag
  justfile
Labels: dev-tools

#2761 Deduplicate project remote dependencies
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Artifacts/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver/Data.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver/DependencyResolver.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver/Error.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Compiler/Pipeline/Run.hs
  src/Juvix/Data/Effect/Files.hs
  src/Juvix/Data/Effect/Files/Base.hs
  src/Juvix/Data/Effect/Files/IO.hs
  src/Juvix/Data/Effect/Files/Pure.hs
  src/Juvix/Data/SHA256.hs
  tests/smoke/Commands/compile-dependencies-package-juvix.smoke.yaml
  tests/smoke/Commands/compile-dependencies.smoke.yaml
Labels: package-manager

#2765 Update Anoma nockma stdlib
  runtime/src/nockma/stdlib.nockma
  src/Juvix/Compiler/Nockma/StdlibFunction.hs
Labels: backend:nockma

#2775 Add support for anoma-decode builtin
  bench2/Benchmark/Nockma/Encoding.hs
  package.yaml
  src/Juvix/Compiler/Asm/Translation/FromTree.hs
  src/Juvix/Compiler/Builtins/Anoma.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Language/Builtins.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/ComputeTypeInfo.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Nockma/Encoding.hs
  src/Juvix/Compiler/Nockma/Encoding/Base.hs
  src/Juvix/Compiler/Nockma/Encoding/Cue.hs
  src/Juvix/Compiler/Nockma/Encoding/Effect/BitReader.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Evaluator/Error.hs
  src/Juvix/Compiler/Nockma/Language.hs
  src/Juvix/Compiler/Nockma/StdlibFunction.hs
  src/Juvix/Compiler/Nockma/StdlibFunction/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Evaluator.hs
  src/Juvix/Compiler/Tree/EvaluatorEff.hs
  src/Juvix/Compiler/Tree/Language.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Transformation/CheckNoAnoma.hs
  src/Juvix/Compiler/Tree/Transformation/Validate.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Data/Irrelevant.hs
  src/Juvix/Data/Loc.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Prelude/Base/Foundation.hs
  test/Anoma/Compilation/Positive.hs
  test/Nockma/Eval/Positive.hs
  tests/Anoma/Compilation/positive/test076.juvix
Labels: backend:nockma

#2784 refactor: Add Anoma Node in Tree language
  src/Juvix/Compiler/Asm/Translation/FromTree.hs
  src/Juvix/Compiler/Core/Language/Builtins.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Evaluator.hs
  src/Juvix/Compiler/Tree/EvaluatorEff.hs
  src/Juvix/Compiler/Tree/Extra/Base.hs
  src/Juvix/Compiler/Tree/Keywords.hs
  src/Juvix/Compiler/Tree/Language.hs
  src/Juvix/Compiler/Tree/Language/Builtins.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Transformation/CheckNoAnoma.hs
  src/Juvix/Compiler/Tree/Transformation/Validate.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
  src/Juvix/Data/Keyword/All.hs
  test/Tree/Transformation/CheckNoAnoma.hs
  tests/Tree/negative/test010.jvt
  tests/Tree/negative/test011.jvt
Labels: refactor, backend:nockma

#2778 Optional braces in case syntax
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  tests/Anoma/Compilation/positive/test026.juvix
  tests/Anoma/Compilation/positive/test028.juvix
  tests/Anoma/Compilation/positive/test035.juvix
  tests/Anoma/Compilation/positive/test038.juvix
  tests/Anoma/Compilation/positive/test052.juvix
  tests/Anoma/Compilation/positive/test057.juvix
  tests/Casm/Compilation/positive/test024.juvix
  tests/Casm/Compilation/positive/test026.juvix
  tests/Casm/Compilation/positive/test057.juvix
  tests/Compilation/negative/test002.juvix
  tests/Compilation/positive/test012.juvix
  tests/Compilation/positive/test015.juvix
  tests/Compilation/positive/test021.juvix
  tests/Compilation/positive/test024.juvix
  tests/Compilation/positive/test025.juvix
  tests/Compilation/positive/test026.juvix
  tests/Compilation/positive/test028.juvix
  tests/Compilation/positive/test029.juvix
  tests/Compilation/positive/test032.juvix
  tests/Compilation/positive/test035.juvix
  tests/Compilation/positive/test037.juvix
  tests/Compilation/positive/test052.juvix
  tests/Compilation/positive/test057.juvix
  tests/Compilation/positive/test060.juvix
  tests/Compilation/positive/test064.juvix
  tests/Geb/positive/Compilation/test007.juvix
  tests/Geb/positive/Compilation/test008.juvix
  tests/Geb/positive/Compilation/test011.juvix
  tests/Geb/positive/Compilation/test027.juvix
  tests/Internal/positive/Case.juvix
  tests/VampIR/positive/Compilation/test005.juvix
  tests/VampIR/positive/Compilation/test017.juvix
  tests/VampIR/positive/Compilation/test018.juvix
  tests/VampIR/positive/Compilation/test019.juvix
  tests/VampIR/positive/Compilation/test021.juvix
  tests/VampIR/positive/Compilation/test023.juvix
  tests/negative/issue1337/DoubleBraces.juvix
  tests/positive/Alias.juvix
  tests/positive/AliasRecordConstructor.juvix
  tests/positive/Format.juvix
  tests/positive/ImportShadow/Main.juvix
  tests/positive/ImportShadow/Nat.juvix
  tests/positive/InstanceImport/Main.juvix
  tests/positive/Internal/Case.juvix
  tests/positive/Iterators.juvix
  tests/positive/LetShadow.juvix
  tests/positive/NestedPatterns.juvix
  tests/positive/Traits2.juvix
Labels: enhancement, parsing, prettyprinting, syntax

#2785 Support Anoma stdlib API `verifyDetached`
  package.yaml
  src/Juvix/Compiler/Builtins/Anoma.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Language/Builtins.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/ComputeTypeInfo.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Nockma/Encoding.hs
  src/Juvix/Compiler/Nockma/Encoding/ByteString.hs
  src/Juvix/Compiler/Nockma/Encoding/Cue.hs
  src/Juvix/Compiler/Nockma/Encoding/Jam.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/StdlibFunction.hs
  src/Juvix/Compiler/Nockma/StdlibFunction/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Keywords.hs
  src/Juvix/Compiler/Tree/Language/Builtins.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Transformation/CheckNoAnoma.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Anoma/Compilation/Positive.hs
  test/Tree/Transformation/CheckNoAnoma.hs
  tests/Anoma/Compilation/positive/test077.juvix
  tests/Tree/negative/test012.jvt
Labels: anoma

#2788 Support Anoma stdlib APIs `sign` and `verify`
  src/Juvix/Compiler/Builtins/Anoma.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Language/Builtins.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/ComputeTypeInfo.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Nockma/Encoding/Ed25519.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Evaluator/Error.hs
  src/Juvix/Compiler/Nockma/StdlibFunction.hs
  src/Juvix/Compiler/Nockma/StdlibFunction/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Keywords.hs
  src/Juvix/Compiler/Tree/Language/Builtins.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Transformation/CheckNoAnoma.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Anoma/Compilation/Positive.hs
  test/Tree/Transformation/CheckNoAnoma.hs
  tests/Anoma/Compilation/positive/test078.juvix
  tests/Tree/negative/test013.jvt
  tests/Tree/negative/test014.jvt
Labels: backend:nockma, anoma

#2789 Add support for Strings in the Anoma backend
  src/Juvix/Compiler/Core/Transformation/Check/Anoma.hs
  src/Juvix/Compiler/Nockma/Encoding/ByteString.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Language.hs
  src/Juvix/Compiler/Nockma/Pretty/Base.hs
  src/Juvix/Compiler/Nockma/StdlibFunction.hs
  src/Juvix/Compiler/Nockma/StdlibFunction/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromSource/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  test/Anoma/Compilation/Positive.hs
  test/Nockma/Eval/Positive.hs
  tests/Anoma/Compilation/negative/String.juvix
  tests/Anoma/Compilation/positive/test079.juvix
Labels: backend:nockma, anoma

#2793 Use little endian encoding of ByteStrings in Anoma
  src/Juvix/Compiler/Nockma/Encoding/ByteString.hs
Labels: backend:nockma
