Repository anoma/juvix, pull requests merged in 2024-11, with the labels that each got.

#3133 Detect constant side conditions in matches
  src/Juvix/Compiler/Core/Data/TransformationId.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Strings.hs
  src/Juvix/Compiler/Core/Transformation.hs
  src/Juvix/Compiler/Core/Transformation/ComputeCaseANF.hs
  src/Juvix/Compiler/Core/Transformation/DetectConstantSideConditions.hs
  src/Juvix/Compiler/Core/Transformation/DetectRedundantPatterns.hs
  src/Juvix/Compiler/Core/Transformation/MatchToCase.hs
  src/Juvix/Prelude/Base/Foundation.hs
  test/Compilation/Negative.hs
  test/Compilation/Positive.hs
  tests/Compilation/negative/test001.juvix
  tests/Compilation/negative/test011.juvix
  tests/Compilation/negative/test012.juvix
  tests/Compilation/negative/test013.juvix
  tests/Compilation/positive/out/test082.out
  tests/Compilation/positive/test082.juvix
Labels: enhancement, pattern-matching

#3139 Fix package-base interaction
  app/Commands/Format.hs
  app/Commands/Repl.hs
  app/GlobalOptions.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Driver.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Compiler/Pipeline/EntryPoint/IO.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver/PackageInfo.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Compiler/Pipeline/Package/Base.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/EvalEff/IO.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Compiler/Pipeline/Root.hs
  src/Juvix/Compiler/Pipeline/Root/Base.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Formatter.hs
  test/Base.hs
  test/Repl/Positive.hs
Labels: fix:bug

#3134 Add anoma nockma tests
  .github/workflows/ci.yml
  app/Commands/Dev/Anoma/Node.hs
  src/Anoma/Effect/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Data/Error/GenericError.hs
  src/Juvix/Prelude/Base/Foundation.hs
  src/Juvix/Prelude/Env.hs
  test/Anoma/Compilation/Positive.hs
  test/Base.hs
  test/Nockma/Compile/Tree/Positive.hs
  test/Nockma/Eval/Positive.hs
Labels: test-suite

#3140 Anoma client verbose request response
  package.yaml
  src/Anoma/Effect/RunNockma.hs
  src/Juvix/Prelude/Aeson.hs
Labels: anoma

#3142 `juvix dev nockma run --anoma-dir ./anoma --args` are given as a nockma list
  app/Commands/Dev/Nockma/Run.hs
  app/Commands/Dev/Nockma/Run/Options.hs
  src/Juvix/Compiler/Nockma/Language.hs
Labels: CLI, nock

#3135 Add `dev nockma encode` command
  app/Commands/Dev/Nockma.hs
  app/Commands/Dev/Nockma/Encode.hs
  app/Commands/Dev/Nockma/Encode/Options.hs
  app/Commands/Dev/Nockma/Options.hs
  src/Anoma/Effect/RunNockma.hs
  src/Juvix/Compiler/Nockma/Encoding/Cue.hs
  src/Juvix/Compiler/Nockma/Encoding/Jam.hs
  src/Juvix/Prelude/Base/Foundation.hs
Labels: CLI

#3149 Use `nockmaEq` instead of Eq instance to detect `nil` terminator
  src/Juvix/Compiler/Nockma/Language.hs
Labels: fix:bug, backend:nockma, anoma

#3150 Fix StdlibRandomNextBytes call
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  test/Nockma/Eval/Positive.hs
Labels: fix:bug, backend:nockma, anoma

#3153 Release 0.6.7
  CHANGELOG.md
  package.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: release

#3144 Add option to run Anoma tests in non-debug mode
  src/Juvix/Compiler/Nockma/Language.hs
  test/Anoma/Compilation/Positive.hs
  test/Nockma/Eval/Positive.hs
Labels: backend:nockma, anoma

#3152 Support traces in the anoma node
  .github/workflows/ci.yml
  app/Commands/Dev/Nockma/Run.hs
  src/Anoma/Effect/Base.hs
  src/Anoma/Effect/RunNockma.hs
  src/Anoma/Rpc/RunNock.hs
  src/Anoma/Rpc/RunNock/JsonOptions.hs
  src/Juvix/Prelude/Aeson.hs
  test/Anoma/Compilation/Positive.hs
Labels: test-suite, nock, anoma

#3159 Don't write log messages to stdout
  src/Juvix/Data/Effect/Log.hs
  tests/smoke/Commands/compile-dependencies-package-juvix.smoke.yaml
  tests/smoke/Commands/compile-dependencies.smoke.yaml
  tests/smoke/Commands/typecheck.smoke.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: error-messaging

#3167 Add merged pull requests for 0.6.{7,8} to CHANGELOG
  CHANGELOG.md
Labels: documentation, release

#3163 Nockma mode
  app/Commands/Dev/Latex/Export.hs
  app/Commands/Dev/Nockma.hs
  app/Commands/Dev/Nockma/Format.hs
  app/Commands/Dev/Nockma/Ide.hs
  app/Commands/Dev/Nockma/Ide/Check.hs
  app/Commands/Dev/Nockma/Ide/Check/Options.hs
  app/Commands/Dev/Nockma/Ide/Highlight.hs
  app/Commands/Dev/Nockma/Ide/Highlight/Options.hs
  app/Commands/Dev/Nockma/Ide/Options.hs
  app/Commands/Dev/Nockma/Ide/Rules.hs
  app/Commands/Dev/Nockma/Options.hs
  app/Commands/Dev/Nockma/Repl.hs
  app/Commands/Dev/Tree/Repl.hs
  app/Commands/Repl.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped/Source.hs
  src/Juvix/Compiler/Backend/Latex/Translation/FromScoped/Source.hs
  src/Juvix/Compiler/Concrete/Data.hs
  src/Juvix/Compiler/Concrete/Data/Highlight.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Builder.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Input.hs
  src/Juvix/Compiler/Concrete/Gen.hs
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/Data/ParserState.hs
  src/Juvix/Compiler/Nockma/Highlight.hs
  src/Juvix/Compiler/Nockma/Highlight/Base.hs
  src/Juvix/Compiler/Nockma/Highlight/Doc.hs
  src/Juvix/Compiler/Nockma/Highlight/Doc/Base.hs
  src/Juvix/Compiler/Nockma/Highlight/Doc/Parser.hs
  src/Juvix/Compiler/Nockma/Highlight/Doc/Parser/Base.hs
  src/Juvix/Compiler/Nockma/Highlight/Doc/Parser/QQ.hs
  src/Juvix/Compiler/Nockma/Highlight/Doc/Pretty.hs
  src/Juvix/Compiler/Nockma/Highlight/Input.hs
  src/Juvix/Compiler/Nockma/Language.hs
  src/Juvix/Compiler/Nockma/Language/Path.hs
  src/Juvix/Compiler/Nockma/Pretty/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromSource/Base.hs
  src/Juvix/Data.hs
  src/Juvix/Data/CodeAnn.hs
  src/Juvix/Data/Emacs.hs
  src/Juvix/Data/Emacs/SExp.hs
  src/Juvix/Data/Error.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Data/ParsedItem.hs
  src/Juvix/Emacs/Point.hs
  src/Juvix/Emacs/Properties.hs
  src/Juvix/Emacs/Render.hs
  src/Juvix/Emacs/SExp.hs
  src/Juvix/Extra/Strings.hs
  src/Juvix/Parser/Lexer.hs
  src/Juvix/Prelude/Base/Foundation.hs
Labels: emacs-mode, backend:nockma

#3170 Use tagged version of ghc-musl in static linux build
  .github/workflows/linux-static-binary.yaml
Labels: CI, build

#3172 Launch the Anoma node and client from the elixir REPL
  app/Commands/Dev/Anoma/Node.hs
  include/anoma/start.exs
  src/Anoma/Effect/Base.hs
  test/Anoma/Compilation/Positive.hs
Labels: backend:nockma, anoma

#3175 Fix nock compilation and builtin evaluation of sha256 stdilb
  src/Juvix/Compiler/Nockma/Encoding/ByteString.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  test/Anoma/Compilation/Positive.hs
  test/Nockma/Encoding.hs
  tests/Core/positive/out/test062.out
Labels: backend:nockma, anoma

#3177 Fix long opts for nockma encode from/to
  app/Commands/Dev/Nockma/Encode/Options.hs
Labels: CLI

#3168 HTML generation: make the light theme lighter
  app/Commands/Html/Options.hs
  assets/css/latte-light.css
  src/Juvix/Compiler/Backend/Html/Data/Options.hs
  src/Juvix/Compiler/Backend/Html/Extra.hs
Labels: html, backend:html

#3180 Support running nockma code with a running Anoma client
  app/Commands/Dev/Nockma/Options.hs
  app/Commands/Dev/Nockma/Run.hs
  app/Commands/Dev/Nockma/Run/Anoma.hs
  app/Commands/Dev/Nockma/Run/BuiltinEvaluator.hs
  app/Commands/Dev/Nockma/Run/BuiltinEvaluator/Options.hs
  app/Commands/Dev/Nockma/Run/EphemeralClient.hs
  app/Commands/Dev/Nockma/Run/EphemeralClient/Options.hs
  app/Commands/Dev/Nockma/Run/Options.hs
  app/Commands/Dev/Nockma/Run/WithClient.hs
  app/Commands/Dev/Nockma/Run/WithClient/Options.hs
  app/CommonOptions.hs
  src/Anoma/Effect/Base.hs
  tests/smoke/Commands/compile.smoke.yaml
Labels: CLI, anoma

#3182 Set std_in to NoStream on the Anoma client process
  src/Anoma/Effect/Base.hs
Labels: CLI, anoma

#3183 Add `juvix dev anoma {start, stop, status}` to manage an Anoma client
  app/Commands/Dev/Anoma.hs
  app/Commands/Dev/Anoma/Client.hs
  app/Commands/Dev/Anoma/Node.hs
  app/Commands/Dev/Anoma/Node/Options.hs
  app/Commands/Dev/Anoma/Options.hs
  app/Commands/Dev/Anoma/Start.hs
  app/Commands/Dev/Anoma/Start/Options.hs
  app/Commands/Dev/Anoma/Status.hs
  app/Commands/Dev/Anoma/Stop.hs
  app/Commands/Dev/Nockma/Run/WithClient.hs
  app/Commands/Dev/Options.hs
  package.yaml
  src/Anoma/Client/Base.hs
  src/Anoma/Client/Config.hs
  src/Anoma/Effect/Base.hs
  src/Juvix/Data/Effect/Files.hs
  src/Juvix/Data/Yaml.hs
  src/Juvix/Extra/Paths/Base.hs
  src/Juvix/Prelude/Posix.hs
Labels: CLI, anoma

#3189 Improve generated code for derived instances
  src/Juvix/Compiler/Core/Data/IdentDependencyInfo.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/ConstantFolding.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/Inlining.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/Phase/Main.hs
  src/Juvix/Compiler/Core/Transformation/Optimize/SpecializeArgs.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  tests/Compilation/positive/out/test085.out
  tests/Compilation/positive/test085.juvix
Labels: enhancement, optimization, traits, deriving

#3196 Add a new Anoma compile test mode 'AnomaTestModeNodeOnly'
  test/Anoma/Compilation/Positive.hs
  tests/Anoma/Compilation/positive/test085.juvix
Labels: test-suite, anoma

#3125 Allow punning in record updates
  src/Juvix/Compiler/Concrete/Language/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test088.out
  tests/Compilation/positive/test088.juvix
Labels: enhancement, syntax

#3199 Fix function clause printing
  src/Juvix/Compiler/Concrete/Print/Base.hs
  tests/positive/Format.juvix
Labels: prettyprinting, fix:bug

#3200 Fix `juvix clean --global`
  app/Commands/Clean.hs
  app/Commands/Clean/Options.hs
Labels: CLI, fix:bug

#3193 Add `juvix dev anoma add-transaction` command
  .github/workflows/ci.yml
  app/Commands/Dev/Anoma.hs
  app/Commands/Dev/Anoma/AddTransaction/Options.hs
  app/Commands/Dev/Anoma/Base.hs
  app/Commands/Dev/Anoma/Options.hs
  app/Commands/Dev/Anoma/Prove/Options.hs
  app/Commands/Dev/Options.hs
  include/anoma/start.exs
  src/Anoma/Effect.hs
  src/Anoma/Effect/AddTransaction.hs
  src/Anoma/Effect/Base.hs
  src/Anoma/Effect/RunNockma.hs
  src/Anoma/Rpc/AddTransaction.hs
  src/Anoma/Rpc/Base.hs
  src/Anoma/Rpc/NodeInfo.hs
Labels: CLI, anoma
