Repository anoma/juvix, pull requests merged in 2024-08, with the labels that each got.

#2921 Improve css themes
  app/Commands/Html/Options.hs
  assets/css/source-ayu-light.css
  assets/css/source-frappe.css
  assets/css/source-latte.css
  assets/css/source-macchiato.css
  assets/css/source-mocha.css
  assets/css/source-nord.css
  src/Juvix/Compiler/Backend/Html/Data/Options.hs
  src/Juvix/Compiler/Backend/Html/Extra.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped/Source.hs
Labels: html

#2922 Put `Last modified` message inside footer tag
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped/Source.hs
Labels: html

#2934 Do not try flatparse scanner for .md files
  src/Juvix/Compiler/Concrete/Translation/ImportScanner.hs
  src/Juvix/Compiler/Concrete/Translation/ImportScanner/FlatParse.hs
Labels: fix:bug

#2917 Export Juvix source code to latex
  app/App.hs
  app/Commands/Compile/CStage.hs
  app/Commands/Dev.hs
  app/Commands/Dev/Asm/Compile.hs
  app/Commands/Dev/Core/Compile/Base.hs
  app/Commands/Dev/Latex.hs
  app/Commands/Dev/Latex/Export.hs
  app/Commands/Dev/Latex/Export/Options.hs
  app/Commands/Dev/Latex/GetJuvixSty.hs
  app/Commands/Dev/Latex/GetJuvixSty/Options.hs
  app/Commands/Dev/Latex/Options.hs
  app/Commands/Dev/Options.hs
  app/Commands/Dev/Reg/Compile.hs
  app/Commands/Dev/Scope.hs
  app/Commands/Dev/Termination/CallGraph.hs
  app/Commands/Dev/Tree/CompileOld/Base.hs
  app/Commands/Dev/Tree/Eval/Options.hs
  app/Commands/Repl.hs
  app/CommonOptions.hs
  app/Main.hs
  app/TopCommand/Options.hs
  include/latex/juvix.sty
  src/Juvix/Compiler/Backend/Latex/Translation/FromScoped.hs
  src/Juvix/Compiler/Backend/Latex/Translation/FromScoped/Source.hs
  src/Juvix/Compiler/Concrete/Print.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Extra/Paths.hs
  src/Juvix/Extra/Paths/Base.hs
  src/Juvix/Prelude/Base/Foundation.hs
Labels: enhancement, backend:latex

#2946 Add `--statements` flag to `juvix dev latex export`
  app/Commands/Dev/Latex/Export.hs
  app/Commands/Dev/Latex/Export/Options.hs
  app/CommonOptions.hs
  src/Juvix/Compiler/Backend/Latex/Translation/FromScoped/Source.hs
  src/Juvix/Compiler/Concrete/Language.hs
  src/Juvix/Compiler/Concrete/Language/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/ParserResultBuilder.hs
  src/Juvix/Compiler/Core/Data/TransformationId/Parser/Base.hs
  src/Juvix/Parser/Lexer.hs
  src/Juvix/Prelude/Parsing.hs
  src/Juvix/Prelude/Pretty.hs
Labels: enhancement, CLI, backend:latex

#2947 Use ByteArray for Anoma cryptographic builtins
  src/Juvix/Compiler/Builtins/Anoma.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Nockma/Encoding/Ed25519.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/StdlibFunction.hs
  src/Juvix/Compiler/Nockma/StdlibFunction/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  test/Anoma/Compilation/Positive.hs
  test/Nockma/Eval/Positive.hs
  tests/Anoma/Compilation/positive/test077.juvix
  tests/Anoma/Compilation/positive/test078.juvix
  tests/Core/positive/test062.jvc
Labels: anoma

#2953 Fix inference of let and letrec in core
  src/Juvix/Compiler/Core/Data/BinderList.hs
  src/Juvix/Compiler/Core/Transformation/ComputeTypeInfo.hs
  test/Compilation/Positive.hs
  test/Core/Eval/Positive.hs
  tests/Compilation/positive/out/test079.out
  tests/Compilation/positive/test079.juvix
  tests/Core/positive/out/test065.out
  tests/Core/positive/test065.jvc
Labels: fix:bug

#2956 Release 0.6.5
  CHANGELOG.md
  package.yaml
  tests/smoke/Commands/version-help-doctor.smoke.yaml
Labels: release

#2943 Register builtins during scoping and report proper errors instead of crashing
  app/App.hs
  src/Juvix/Compiler/Builtins.hs
  src/Juvix/Compiler/Builtins/Anoma.hs
  src/Juvix/Compiler/Builtins/Bool.hs
  src/Juvix/Compiler/Builtins/Byte.hs
  src/Juvix/Compiler/Builtins/ByteArray.hs
  src/Juvix/Compiler/Builtins/Cairo.hs
  src/Juvix/Compiler/Builtins/Control.hs
  src/Juvix/Compiler/Builtins/Debug.hs
  src/Juvix/Compiler/Builtins/Effect.hs
  src/Juvix/Compiler/Builtins/Error.hs
  src/Juvix/Compiler/Builtins/Field.hs
  src/Juvix/Compiler/Builtins/IO.hs
  src/Juvix/Compiler/Builtins/Int.hs
  src/Juvix/Compiler/Builtins/List.hs
  src/Juvix/Compiler/Builtins/Maybe.hs
  src/Juvix/Compiler/Builtins/Nat.hs
  src/Juvix/Compiler/Builtins/Pair.hs
  src/Juvix/Compiler/Builtins/String.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Concrete/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Internal/Builtins.hs
  src/Juvix/Compiler/Internal/Data/Name.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Error.hs
  src/Juvix/Compiler/Internal/Translation/Repl.hs
  src/Juvix/Compiler/Pipeline/Artifacts.hs
  src/Juvix/Compiler/Pipeline/Artifacts/Base.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Compiler/Pipeline/Run.hs
  src/Juvix/Compiler/Store/Extra.hs
  src/Juvix/Compiler/Store/Internal/Data/InfoTable.hs
  src/Juvix/Compiler/Store/Scoped/Data/InfoTable.hs
Labels: error-messaging, refactor, fix:bug

#2937 Add do notation
  src/Juvix/Compiler/Builtins.hs
  src/Juvix/Compiler/Builtins/Monad.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Concrete/Keywords.hs
  src/Juvix/Compiler/Concrete/Language/Base.hs
  src/Juvix/Compiler/Concrete/Language/IsApeInstances.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping/Error/Types.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Core/Keywords.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  tests/Compilation/positive/test080.juvix
Labels: enhancement, syntax

#2959 Fix bug where highlighting is not kept when the file has a type error and imports some other file
  app/Commands/Dev/Highlight.hs
  src/Juvix/Compiler/Concrete/Data/Highlight.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Builder.hs
  src/Juvix/Compiler/Concrete/Data/Highlight/Input.hs
  src/Juvix/Compiler/Concrete/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource/ParserResultBuilder.hs
  src/Juvix/Compiler/Concrete/Translation/ImportScanner/Megaparsec.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Driver.hs
  src/Juvix/Compiler/Pipeline/DriverParallel.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Compiler/Pipeline/Run.hs
  src/Juvix/Formatter.hs
Labels: fix:bug, highlight

#2969 Improve compilation progress log
  app/App.hs
  app/Commands/Dev/ImportTree/Print.hs
  app/Commands/Typecheck.hs
  app/CommonOptions.hs
  src/Juvix/Compiler/Asm/Interpreter/Base.hs
  src/Juvix/Compiler/Concrete/Print/Base.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Pipeline/Driver.hs
  src/Juvix/Compiler/Pipeline/Driver/Data.hs
  src/Juvix/Compiler/Pipeline/DriverParallel.hs
  src/Juvix/Compiler/Pipeline/JvoCache.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver/Base.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver/ImportTree/Base.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver/ImportTree/ImportNode.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver/PackageInfo.hs
  src/Juvix/Compiler/Pipeline/Options.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/EvalEff/IO.hs
  src/Juvix/Compiler/Pipeline/Package/Loader/PathResolver.hs
  src/Juvix/Compiler/Pipeline/Repl.hs
  src/Juvix/Compiler/Pipeline/Run.hs
  src/Juvix/Data/Logger.hs
  src/Juvix/Prelude/Base/Foundation.hs
  src/Juvix/Prelude/Effects/Base.hs
  src/Parallel/ParallelTemplate.hs
  src/Parallel/ProgressLog.hs
Labels: enhancement, CLI, fix:bug

#2975 Improve performance of anomaEncode / anomaDecode in the Core evaluator
  bench2/Benchmark/Nockma.hs
  bench2/Benchmark/Nockma/Encoding/ByteString.hs
  package.yaml
  src/Juvix/Compiler/Nockma/Encoding/Base.hs
  src/Juvix/Compiler/Nockma/Encoding/ByteString.hs
  src/Juvix/Compiler/Nockma/Encoding/Cue.hs
  src/Juvix/Compiler/Nockma/Encoding/Jam.hs
  test/Nockma.hs
  test/Nockma/Encoding.hs
Labels: anoma
