Repository anoma/juvix, pull requests merged in 2024-01, with the labels that each got.

#2574 Require semicolon to separate case/if branches in JuvixAsm syntax
  runtime/src/asm/apply.jva
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  tests/Asm/negative/test003.jva
  tests/Asm/negative/vtest006.jva
  tests/Asm/negative/vtest007.jva
  tests/Asm/negative/vtest008.jva
  tests/Asm/negative/vtest009.jva
  tests/Asm/positive/test008.jva
  tests/Asm/positive/test009.jva
  tests/Asm/positive/test010.jva
  tests/Asm/positive/test011.jva
  tests/Asm/positive/test013.jva
  tests/Asm/positive/test014.jva
  tests/Asm/positive/test015.jva
  tests/Asm/positive/test017.jva
  tests/Asm/positive/test019.jva
  tests/Asm/positive/test020.jva
  tests/Asm/positive/test023.jva
  tests/Asm/positive/test024.jva
  tests/Asm/positive/test027.jva
  tests/Asm/positive/test028.jva
  tests/Asm/positive/test030.jva
  tests/Asm/positive/test031.jva
  tests/Asm/positive/test032.jva
  tests/Asm/positive/test033.jva
  tests/Asm/positive/test034.jva
  tests/Asm/positive/test035.jva
  tests/Asm/positive/test036.jva
  tests/Asm/positive/test038.jva
Labels: syntax, asm

#2575 Filter out unreachable functions in JuvixAsm
  src/Juvix/Compiler/Asm/Data/CallGraph.hs
  src/Juvix/Compiler/Asm/Extra/Recursors.hs
  src/Juvix/Compiler/Asm/Language.hs
  src/Juvix/Compiler/Asm/Pipeline.hs
  src/Juvix/Compiler/Asm/Transformation.hs
  src/Juvix/Compiler/Asm/Transformation/FilterUnreachable.hs
  test/Asm/Transformation.hs
  test/Asm/Transformation/Reachability.hs
  tests/Asm/positive/reachability/out/test001.out
  tests/Asm/positive/reachability/out/test002.out
  tests/Asm/positive/reachability/test001.jva
  tests/Asm/positive/reachability/test002.jva
Labels: asm

#2582 Nockma compile refactor
  app/App.hs
  app/AsmInterpreter.hs
  app/Commands/Compile.hs
  app/Commands/Dev/Asm/Compile.hs
  app/Commands/Dev/Core/Compile/Base.hs
  app/Commands/Dev/Core/Read.hs
  app/Commands/Dev/Core/Repl.hs
  app/Commands/Dev/Geb/Check.hs
  app/Commands/Dev/Geb/Eval.hs
  app/Commands/Dev/Geb/Infer.hs
  app/Commands/Dev/Geb/Read.hs
  app/Commands/Dev/Geb/Repl.hs
  app/Commands/Dev/Nockma/Repl.hs
  app/Commands/Init.hs
  app/Commands/Repl.hs
  app/Evaluator.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Backend/Geb/Translation/FromSource.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped.hs
  src/Juvix/Compiler/Casm/Translation/FromSource.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Extra/Base.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Nockma/Translation/FromSource/Base.hs
  src/Juvix/Prelude/Base.hs
  test/Asm/Compile/Base.hs
  test/Asm/Run/Base.hs
  test/BackendGeb/Eval/Base.hs
  test/BackendGeb/FromCore/Base.hs
  test/Casm/Run/Base.hs
  test/Core/Asm/Base.hs
  test/Core/Compile/Base.hs
  test/Core/Eval/Base.hs
  test/Core/Print/Base.hs
  test/Internal/Eval/Base.hs
  test/Runtime/Base.hs
  test/Scope/Positive.hs
  test/VampIR/Core/Base.hs
Labels: refactor

#2579 Merge stack and temporary variable groups in JuvixReg
  runtime/src/juvix/api.h
  src/Juvix/Compiler/Backend/C/Translation/FromReg.hs
  src/Juvix/Compiler/Reg/Data/InfoTable.hs
  src/Juvix/Compiler/Reg/Language.hs
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
  tests/runtime/positive/test009.c
  tests/runtime/positive/test010.c
  tests/runtime/positive/test011.c
Labels: refactor, juvix-reg

#2581 Factor the JuvixCore -> JuvixAsm translation into JuvixCore -> JuvixTree -> JuvixAsm
  app/Commands/Dev/Core/Asm.hs
  src/Juvix/Compiler/Asm/Data/CallGraph.hs
  src/Juvix/Compiler/Asm/Data/InfoTable.hs
  src/Juvix/Compiler/Asm/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Asm/Extra/Apply.hs
  src/Juvix/Compiler/Asm/Extra/Base.hs
  src/Juvix/Compiler/Asm/Extra/Memory.hs
  src/Juvix/Compiler/Asm/Extra/Recursors.hs
  src/Juvix/Compiler/Asm/Extra/Type.hs
  src/Juvix/Compiler/Asm/Interpreter.hs
  src/Juvix/Compiler/Asm/Language.hs
  src/Juvix/Compiler/Asm/Pipeline.hs
  src/Juvix/Compiler/Asm/Pretty.hs
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  src/Juvix/Compiler/Asm/Pretty/Options.hs
  src/Juvix/Compiler/Asm/Transformation/FilterUnreachable.hs
  src/Juvix/Compiler/Asm/Transformation/StackUsage.hs
  src/Juvix/Compiler/Asm/Translation.hs
  src/Juvix/Compiler/Asm/Translation/FromCore.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Asm/Translation/FromTree.hs
  src/Juvix/Compiler/Casm/Language/Base.hs
  src/Juvix/Compiler/Core/Language/Base.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Nockma/Translation/FromAsm.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Reg/Language/Base.hs
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
  src/Juvix/Compiler/Tree.hs
  src/Juvix/Compiler/Tree/Data/InfoTable.hs
  src/Juvix/Compiler/Tree/Data/InfoTable/Base.hs
  src/Juvix/Compiler/Tree/Extra/Type.hs
  src/Juvix/Compiler/Tree/Language.hs
  src/Juvix/Compiler/Tree/Language/Base.hs
  src/Juvix/Compiler/Tree/Language/Rep.hs
  src/Juvix/Compiler/Tree/Language/Type.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  test/Core/Asm/Base.hs
  test/Core/Compile/Base.hs
Labels: asm, juvix-tree

#2580 Fast nockma eval
  .github/workflows/ci.yml
  Makefile
  app/Commands/Dev/Nockma/Eval.hs
  app/Commands/Dev/Nockma/Repl.hs
  package.yaml
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Evaluator/Options.hs
  src/Juvix/Compiler/Nockma/Language.hs
  src/Juvix/Compiler/Nockma/Pretty/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromAsm.hs
  src/Juvix/Compiler/Nockma/Translation/FromSource/Base.hs
  src/Juvix/Data/Effect/Fail.hs
  src/Juvix/Extra/Strings.hs
  test/Nockma/Compile/Asm/Positive.hs
  test/Nockma/Compile/Positive.hs
  test/Nockma/Eval/Positive.hs
  test/Nockma/Parse/Positive.hs
  tests/nockma/positive/StdlibCall.pnock
Labels: nock, backend:nockma

#2584 Unqualify language import in nockma parser
  src/Juvix/Compiler/Nockma/Translation/FromSource/Base.hs
Labels: refactor

#2585 Improved errors for nockma eval
  app/Commands/Dev/Nockma/Repl.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Evaluator/Crumbs.hs
  src/Juvix/Compiler/Nockma/Evaluator/Error.hs
  src/Juvix/Compiler/Nockma/Language.hs
  src/Juvix/Compiler/Nockma/Pretty/Base.hs
  src/Juvix/Compiler/Nockma/Translation/FromAsm.hs
  src/Juvix/Compiler/Nockma/Translation/FromSource/Base.hs
  src/Juvix/Data/Loc.hs
  src/Juvix/Parser/Lexer.hs
  test/Nockma/Compile/Positive.hs
  test/Nockma/Eval/Positive.hs
Labels: error-messaging, nock

#2586 Support `MemRepTuple` in the Nockma backend
  src/Juvix/Compiler/Core/Data/Stripped/InfoTable.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Nockma/Translation/FromAsm.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  test/Nockma/Compile/Positive.hs
Labels: backend:nockma

#2592 Use makeSem
  src/Juvix/Compiler/Asm/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Tree/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Tree/Data/InfoTableBuilder/Base.hs
Labels: refactor

#2583 JuvixTree parser and pretty printer
  app/Commands/Compile.hs
  app/Commands/Dev.hs
  app/Commands/Dev/Asm/Compile.hs
  app/Commands/Dev/Core/Compile.hs
  app/Commands/Dev/Core/Compile/Base.hs
  app/Commands/Dev/Core/Compile/Options.hs
  app/Commands/Dev/Options.hs
  app/Commands/Dev/Tree.hs
  app/Commands/Dev/Tree/Options.hs
  app/Commands/Dev/Tree/Read.hs
  app/Commands/Dev/Tree/Read/Options.hs
  app/Commands/Extra/Compile.hs
  app/Commands/Extra/Compile/Options.hs
  cntlines.sh
  src/Juvix/Compiler/Asm/Data/InfoTable.hs
  src/Juvix/Compiler/Asm/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Asm/Extra/Memory.hs
  src/Juvix/Compiler/Asm/Extra/Type.hs
  src/Juvix/Compiler/Asm/Interpreter.hs
  src/Juvix/Compiler/Asm/Keywords.hs
  src/Juvix/Compiler/Asm/Language.hs
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  src/Juvix/Compiler/Asm/Pretty/Options.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Asm/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Asm/Translation/FromTree.hs
  src/Juvix/Compiler/Backend.hs
  src/Juvix/Compiler/Casm/Keywords.hs
  src/Juvix/Compiler/Casm/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Nockma/Translation/FromAsm.hs
  src/Juvix/Compiler/Reg/Translation/FromAsm.hs
  src/Juvix/Compiler/Tree/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Tree/Data/InfoTableBuilder/Base.hs
  src/Juvix/Compiler/Tree/Extra/Base.hs
  src/Juvix/Compiler/Tree/Extra/Type.hs
  src/Juvix/Compiler/Tree/Keywords.hs
  src/Juvix/Compiler/Tree/Keywords/Base.hs
  src/Juvix/Compiler/Tree/Language.hs
  src/Juvix/Compiler/Tree/Language/Base.hs
  src/Juvix/Compiler/Tree/Pretty.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Pretty/Options.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
  src/Juvix/Compiler/Tree/Translation/FromSource/Base.hs
  src/Juvix/Compiler/Tree/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Tree/Translation/FromSource/Lexer/Base.hs
  src/Juvix/Compiler/Tree/Translation/FromSource/Sig.hs
  src/Juvix/Data/FileExt.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Nockma/Compile/Positive.hs
  tests/Asm/positive/test007.jva
  tests/Asm/positive/test016.jva
  tests/Asm/positive/test022.jva
  tests/Asm/positive/test024.jva
  tests/Asm/positive/test027.jva
  tests/Asm/positive/test032.jva
  tests/Asm/positive/test038.jva
Labels: parsing, asm, juvix-tree

#2591 Use Anoma compatible Nockma serialization of Bools and List-like data structures
  src/Juvix/Compiler/Nockma/Evaluator/Error.hs
  src/Juvix/Compiler/Nockma/Translation/FromAsm.hs
  test/Nockma/Compile/Positive.hs
Labels: backend:nockma

#2589 JuvixTree evaluator
  app/Commands/Dev/Tree.hs
  app/Commands/Dev/Tree/Eval.hs
  app/Commands/Dev/Tree/Eval/Options.hs
  app/Commands/Dev/Tree/Options.hs
  app/TreeEvaluator.hs
  src/Juvix/Compiler/Asm/Interpreter/Base.hs
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Evaluator.hs
  src/Juvix/Compiler/Tree/Language/Value.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Translation/FromAsm.hs
  src/Juvix/Prelude/Base.hs
  test/Tree.hs
  test/Tree/Asm/Positive.hs
  test/Tree/Eval.hs
  test/Tree/Eval/Base.hs
  test/Tree/Eval/Positive.hs
Labels: enhancement, test-suite, juvix-tree

#2602 Fix generation and evaluation of Nock isCell op
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Translation/FromAsm.hs
  test/Nockma/Eval/Positive.hs
Labels: backend:nockma

#2590 Add the `juvix dev tree compile` command
  app/Commands/Dev/Tree.hs
  app/Commands/Dev/Tree/Compile.hs
  app/Commands/Dev/Tree/Compile/Base.hs
  app/Commands/Dev/Tree/Compile/Options.hs
  app/Commands/Dev/Tree/Options.hs
  src/Juvix/Compiler/Pipeline.hs
Labels: CLI, juvix-tree

#2603 Remove redundant `QuasiQuotes` pragmas
  app/Commands/Dev/Geb/Repl.hs
  app/Commands/Dev/Nockma/Repl.hs
  app/Commands/Repl.hs
  app/Main.hs
  src/Juvix/Compiler/Nockma/Stdlib.hs
  src/Juvix/Compiler/Pipeline/Lockfile.hs
  test/Nockma/Compile/Positive.hs
  test/Nockma/Eval/Positive.hs
Labels: refactor

#2595 JuvixTree "apply" transformation
  app/Commands/Dev/Nockma/Eval.hs
  cntlines.sh
  runtime/src/asm/apply.jva
  runtime/src/tree/apply.jvt
  src/Juvix/Compiler/Asm/Extra/Recursors.hs
  src/Juvix/Compiler/Asm/Language.hs
  src/Juvix/Compiler/Asm/Pipeline.hs
  src/Juvix/Compiler/Asm/Transformation.hs
  src/Juvix/Compiler/Asm/Transformation/Apply.hs
  src/Juvix/Compiler/Asm/Translation/FromTree.hs
  src/Juvix/Compiler/Core/Extra/Stripped/Base.hs
  src/Juvix/Compiler/Core/Language/Nodes.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Nockma/EvalCompiled.hs
  src/Juvix/Compiler/Nockma/Translation/FromAsm.hs
  src/Juvix/Compiler/Pipeline.hs
  src/Juvix/Compiler/Tree.hs
  src/Juvix/Compiler/Tree/Data/InfoTable/Base.hs
  src/Juvix/Compiler/Tree/Data/InfoTableBuilder/Base.hs
  src/Juvix/Compiler/Tree/Data/TransformationId.hs
  src/Juvix/Compiler/Tree/Data/TransformationId/Strings.hs
  src/Juvix/Compiler/Tree/Evaluator.hs
  src/Juvix/Compiler/Tree/Extra/Apply.hs
  src/Juvix/Compiler/Tree/Extra/Base.hs
  src/Juvix/Compiler/Tree/Language.hs
  src/Juvix/Compiler/Tree/Pipeline.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Transformation.hs
  src/Juvix/Compiler/Tree/Transformation/Apply.hs
  src/Juvix/Compiler/Tree/Transformation/Base.hs
  src/Juvix/Compiler/Tree/Translation/FromAsm.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
  test/Asm/Transformation.hs
  test/Asm/Transformation/Apply.hs
  test/Nockma/Compile.hs
  test/Nockma/Compile/Positive.hs
  test/Nockma/Compile/Tree/Positive.hs
  test/Tree/Eval/Base.hs
  test/Tree/Eval/Positive.hs
  test/Tree/Transformation.hs
  test/Tree/Transformation/Apply.hs
Labels: enhancement, asm, nock, juvix-tree

#2596 Compute temporary stack height in JuvixTree
  src/Juvix/Compiler/Asm/Pipeline.hs
  src/Juvix/Compiler/Asm/Transformation.hs
  src/Juvix/Compiler/Asm/Transformation/TempHeight.hs
  src/Juvix/Compiler/Tree/Data/TransformationId.hs
  src/Juvix/Compiler/Tree/Data/TransformationId/Strings.hs
  src/Juvix/Compiler/Tree/Transformation.hs
  src/Juvix/Compiler/Tree/Transformation/TempHeight.hs
Labels: asm, nock, juvix-tree

#2597 Filter out unreachable functions in JuvixTree
  src/Juvix/Compiler/Asm/Pipeline.hs
  src/Juvix/Compiler/Tree/Data/CallGraph.hs
  src/Juvix/Compiler/Tree/Data/TransformationId.hs
  src/Juvix/Compiler/Tree/Data/TransformationId/Strings.hs
  src/Juvix/Compiler/Tree/Transformation.hs
  src/Juvix/Compiler/Tree/Transformation/FilterUnreachable.hs
  test/Tree/Transformation.hs
  test/Tree/Transformation/Reachability.hs
  tests/Tree/positive/reachability/out/test001.out
  tests/Tree/positive/reachability/out/test002.out
  tests/Tree/positive/reachability/test001.jvt
  tests/Tree/positive/reachability/test002.jvt
Labels: enhancement, juvix-tree

#2598 JuvixTree smoke tests
  src/Juvix/Compiler/Asm/Pretty/Base.hs
  tests/smoke/Commands/dev/tree.smoke.yaml
Labels: test-suite, juvix-tree

#2604 Use `writeFileEnsureLn` in place of `writeFile`
  app/Commands/Base.hs
  app/Commands/Compile.hs
  app/Commands/Dev/Asm/Compile.hs
  app/Commands/Dev/Core/Compile/Base.hs
  app/Commands/Dev/Tree/Compile/Base.hs
  app/Commands/Format.hs
  src/Juvix/Compiler/Pipeline/Package.hs
  src/Juvix/Data/Effect/Files/Base.hs
  src/Juvix/Data/Effect/Files/IO.hs
  src/Juvix/Data/Effect/Files/Pure.hs
  src/Juvix/Extra/Files.hs
  src/Juvix/Prelude/Base.hs
  src/Juvix/Prelude/Trace.hs
  test/Asm/Compile/Base.hs
  test/Core/Compile/Base.hs
  test/VampIR/Core/Base.hs
Labels: refactor

#2605 Store syntax aliases in serialized scoper infotable
  src/Juvix/Compiler/Concrete/Data/InfoTableBuilder.hs
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Store/Scoped/Data/InfoTable.hs
  src/Juvix/Compiler/Store/Scoped/Data/SymbolEntry.hs
  src/Juvix/Compiler/Store/Scoped/Language.hs
  test/Compilation/Positive.hs
  tests/Compilation/positive/out/test073.out
  tests/Compilation/positive/test073/Package.juvix
  tests/Compilation/positive/test073/SyntaxAlias.juvix
  tests/Compilation/positive/test073/test073.juvix
Labels: fix:bug

#2599 Options for `juvix dev tree read`
  app/Commands/Dev/Core/FromConcrete/Options.hs
  app/Commands/Dev/Core/Read/Options.hs
  app/Commands/Dev/Repl/Options.hs
  app/Commands/Dev/Tree/Read.hs
  app/Commands/Dev/Tree/Read/Options.hs
  app/CommonOptions.hs
Labels: CLI, juvix-tree

#2600 Location info in JuvixTree nodes
  src/Juvix/Compiler/Asm/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Evaluator.hs
  src/Juvix/Compiler/Tree/Extra/Base.hs
  src/Juvix/Compiler/Tree/Extra/Recursors/Base.hs
  src/Juvix/Compiler/Tree/Language.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Transformation/Apply.hs
  src/Juvix/Compiler/Tree/Transformation/TempHeight.hs
  src/Juvix/Compiler/Tree/Translation/FromAsm.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
Labels: juvix-tree
