Repository anoma/juvix, pull requests merged in 2025-04, with the labels that each got.

#3379 Noun-like type representation in Nockma
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Language/Type.hs
  test/Anoma/Compilation/Positive.hs
  tests/Anoma/Compilation/positive/test088.juvix
Labels: backend:nockma

#3384 Precompute nock hashes
  src/Juvix/Compiler/Nockma/Encoding/Cue.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Evaluator/Storage.hs
  src/Juvix/Compiler/Nockma/Language.hs
  src/Juvix/Compiler/Nockma/Translation/FromSource/Base.hs
Labels: nock, backend:nockma

#3403 Additional Anoma compilation CLI options
  app/Commands/Compile/Anoma.hs
  app/Commands/Compile/Anoma/Options.hs
  app/Commands/Dev/Tree/Compile/Anoma.hs
  src/Juvix/Compiler/Nockma/Pretty.hs
  src/Juvix/Compiler/Nockma/Pretty/Base.hs
  src/Juvix/Compiler/Nockma/Pretty/Options.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Pipeline/EntryPoint.hs
  src/Juvix/Data/FileExt.hs
  src/Juvix/Prelude/Base.hs
  test/Nockma/Eval/Negative.hs
  test/Nockma/Eval/Positive.hs
Labels: CLI, nock, anoma
