Repository anoma/juvix, pull requests merged in 2025-02, with the labels that each got.

#3313 Support ByteArray and List arguments to anoma prove CLI
  app/Commands/Dev/Anoma/Base.hs
  app/Commands/Dev/Anoma/Prove/Options/ProveArg.hs
  app/Commands/Dev/Anoma/Prove/Options/ProveArgTag.hs
  src/Anoma/Effect/RunNockma.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
Labels: anoma

#3310 Allow named arguments for some anoma builtins
  src/Juvix/Compiler/Builtins/Anoma.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
Labels: enhancement

#3330 Make pedantic option the default in the `justfile`
  justfile
Labels: dev-tools

#3334 Accept optional semicolon before pipe
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
Labels: parsing, syntax

#3329 Report error when named arguments are repeated
  src/Juvix/Compiler/Concrete/Translation/FromParsed/Analysis/Scoping.hs
  src/Juvix/Compiler/Pipeline/Loader/PathResolver.hs
  src/Juvix/Prelude/Base.hs
  test/Scope/Negative.hs
  tests/negative/RepeatedNamedArgumentsPuns.juvix
Labels: scoping, fix:bug

#3332 Fix markdown --folder-structure flag
  app/Commands/Markdown.hs
  app/Commands/Markdown/Options.hs
  test/BackendMarkdown/Positive.hs
  tests/positive/Markdown/Dir/Nested.juvix.md
  tests/positive/Markdown/Lib.juvix.md
  tests/positive/Markdown/Package.juvix
  tests/positive/Markdown/Test.juvix.md
  tests/positive/Markdown/markdown/Dir.Nested.md
  tests/positive/Markdown/markdown/Test.md
  tests/smoke/Commands/markdown.smoke.yaml
Labels: CLI, frontend:markdown

#3322 Fix builtin anoma-random-next-bytes
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Nockma/AnomaLib.hs
  src/Juvix/Compiler/Nockma/AnomaLib/Base.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Evaluator/Error.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Language/Builtins.hs
  test/Nockma/Eval.hs
  test/Nockma/Eval/Negative.hs
  test/Nockma/Eval/Positive.hs
  tests/Anoma/Compilation/positive/test086.juvix
Labels: refactor, anoma

#3338 Format exits with success unless `--check` given
  app/Commands/Format.hs
  app/Commands/Format/Options.hs
  src/Juvix/Formatter.hs
  test/Formatter/Positive.hs
  tests/smoke/Commands/format.smoke.yaml
Labels: CLI, juvix-formatter

#3341 Update RISC0 to 1.3.0
  .github/workflows/ci.yml
  runtime/rust/risc0/host/Cargo.toml
  runtime/rust/risc0/methods/Cargo.toml
  runtime/rust/risc0/methods/guest/Cargo.toml
  runtime/rust/risc0/rust-toolchain.toml
Labels: CI, risc0-backend

#3343 Downgrade RISC0 to 1.2.4
  .github/workflows/ci.yml
  runtime/rust/risc0/host/Cargo.toml
  runtime/rust/risc0/methods/Cargo.toml
  runtime/rust/risc0/methods/guest/Cargo.toml
Labels: CI, risc0-backend
