Repository anoma/juvix, pull requests merged in 2025-01, with the labels that each got.

#3263 Add `--print-loc` option to `dev import-tree scan` command
  app/Commands/Dev/ImportTree/ScanFile.hs
  app/Commands/Dev/ImportTree/ScanFile/Options.hs
  src/Juvix/Compiler/Concrete/Translation/ImportScanner/Base.hs
  src/Juvix/Compiler/Concrete/Translation/ImportScanner/FlatParse.hs
  src/Juvix/Prelude/FlatParse/Lexer.hs
Labels: enhancement, CLI

#3271 Update nock Anoma stdlib
  .github/workflows/ci.yml
  runtime/nockma/README.md
  runtime/nockma/anomalib.nockma
  tests/Anoma/Compilation/positive/test085/client/ResourceMachine.juvix
  tests/Anoma/Compilation/positive/test085/delta.juvix
Labels: anoma

#3272 Add `--cue` flag to `dev nockma encode`
  app/Commands/Dev/Nockma/Encode.hs
  app/Commands/Dev/Nockma/Encode/Options.hs
Labels: enhancement, CLI

#3268 Recursive markdown generation
  app/App.hs
  app/Commands/Format.hs
  app/Commands/Html.hs
  app/Commands/Markdown.hs
  app/Commands/Markdown/Options.hs
  app/CommonOptions.hs
  src/Juvix/Compiler/Backend/Html/Translation/FromTyped/Source.hs
  src/Juvix/Compiler/Backend/Markdown/Translation/FromTyped/Source.hs
  src/Juvix/Compiler/Pipeline/Driver.hs
  src/Juvix/Compiler/Pipeline/Driver/Data.hs
  src/Juvix/Compiler/Pipeline/Run.hs
  src/Juvix/Extra/Assets.hs
  src/Juvix/Formatter.hs
  test/BackendMarkdown/Negative.hs
  test/BackendMarkdown/Positive.hs
  tests/smoke/Commands/markdown.smoke.yaml
Labels: frontend:markdown

#3280 Upload Juvix binary from each CI run
  .github/workflows/ci.yml
Labels: CI

#3286 Anoma protobuf version fix
  .github/workflows/ci.yml
Labels: CI

#3290 Make meta-variables introduced by coercion resolution non-rigid
  src/Juvix/Compiler/Internal/Extra/InstanceInfo.hs
  src/Juvix/Compiler/Internal/Pretty/Base.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/Traits/Resolver.hs
  tests/Compilation/positive/out/test063.out
  tests/Compilation/positive/test063.juvix
Labels: fix:bug, traits

#3277 Increase AnomaLib Layer Depth for v0.30
  .github/workflows/ci.yml
  runtime/nockma/anomalib.nockma
  src/Juvix/Compiler/Nockma/AnomaLib.hs
  test/Anoma/Client/Base.hs
  test/Anoma/Client/Positive.hs
Labels: anoma

#3294 Remove mainFunctionWrapper in nock backend
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  test/Anoma/Compilation/Positive.hs
Labels: backend:nockma, anoma

#3296 Add support for AnomaSet and AnomaSet{to, from}List
  .github/workflows/ci.yml
  src/Juvix/Compiler/Builtins/Anoma.hs
  src/Juvix/Compiler/Concrete/Data/Builtins.hs
  src/Juvix/Compiler/Core/Evaluator.hs
  src/Juvix/Compiler/Core/Extra/Utils.hs
  src/Juvix/Compiler/Core/Keywords.hs
  src/Juvix/Compiler/Core/Language/Builtins.hs
  src/Juvix/Compiler/Core/Pretty/Base.hs
  src/Juvix/Compiler/Core/Transformation/ComputeTypeInfo.hs
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/Stripped/FromCore.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Nockma/AnomaLib.hs
  src/Juvix/Compiler/Nockma/AnomaLib/Base.hs
  src/Juvix/Compiler/Nockma/Evaluator.hs
  src/Juvix/Compiler/Nockma/Translation/FromTree.hs
  src/Juvix/Compiler/Tree/Keywords.hs
  src/Juvix/Compiler/Tree/Language/Builtins.hs
  src/Juvix/Compiler/Tree/Pretty/Base.hs
  src/Juvix/Compiler/Tree/Translation/FromCore.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
  src/Juvix/Data/Keyword/All.hs
  src/Juvix/Extra/Strings.hs
  test/Anoma/Compilation/Positive.hs
  tests/Anoma/Compilation/positive/test087.juvix
Labels: anoma

#3298 Avoid double jamming prove arguments in Anoma CLI commands
  app/Commands/Dev/Anoma/Base.hs
  app/Commands/Dev/Anoma/Prove/Options/ProveArgTag.hs
  src/Anoma/Effect/RunNockma.hs
  src/Juvix/Compiler/Nockma/Encoding/ByteString.hs
  test/Anoma/Client/Positive.hs
  test/Anoma/Compilation/Positive.hs
Labels: anoma

#3297 Pre-register all type axioms in internal to core
  src/Juvix/Compiler/Core/Translation/FromInternal.hs
  test/Typecheck/Positive.hs
  tests/positive/Internal/AnomaSet.juvix
Labels: fix:bug

#3309 Fix dependency graph creation in filterUnreachable
  src/Juvix/Compiler/Core/Data/IdentDependencyInfo.hs
  src/Juvix/Compiler/Core/Data/Module.hs
Labels: fix:bug, core

#3308 Support unjammed arguments
  app/Commands/Dev/Anoma/Base.hs
  app/Commands/Dev/Anoma/Prove/Options/ProveArg.hs
  app/Commands/Dev/Anoma/Prove/Options/ProveArgTag.hs
Labels: enhancement, CLI
