Repository anoma/juvix, pull requests merged in 2025-03, with the labels that each got.

#3349 Fix detection of mutual blocks for the positivity checker
  src/Juvix/Compiler/Internal/Extra.hs
  src/Juvix/Compiler/Internal/Extra/Base.hs
  src/Juvix/Compiler/Internal/Extra/DependencyBuilder.hs
  src/Juvix/Compiler/Internal/Language.hs
  src/Juvix/Compiler/Internal/Translation/FromConcrete.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/Positivity/Checker.hs
  src/Juvix/Compiler/Internal/Translation/FromInternal/Analysis/TypeChecking/CheckerNew.hs
  test/Typecheck/Positive.hs
  tests/positive/Internal/Positivity.juvix
Labels: fix:bug, positivity

#3355 Fix `parseFailure` in the parsers
  app/Commands/Dev/Anoma/Prove/Options/ProveArg.hs
  app/Commands/Dev/Tree/Repl.hs
  src/Anoma/Client/Base.hs
  src/Juvix/Compiler/Asm/Translation/FromSource.hs
  src/Juvix/Compiler/Casm/Translation/FromSource.hs
  src/Juvix/Compiler/Casm/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Concrete/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Error.hs
  src/Juvix/Compiler/Core/Translation/FromSource.hs
  src/Juvix/Compiler/Core/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Reg/Translation/FromSource.hs
  src/Juvix/Compiler/Reg/Translation/FromSource/Lexer.hs
  src/Juvix/Compiler/Tree/Translation/FromSource.hs
  src/Juvix/Compiler/Tree/Translation/FromSource/Base.hs
  src/Juvix/Compiler/Tree/Translation/FromSource/Lexer/Base.hs
  src/Juvix/Compiler/Tree/Translation/FromSource/Sig.hs
  src/Juvix/Data/Error/GenericError.hs
  src/Juvix/Parser/Error.hs
  src/Juvix/Parser/Error/Base.hs
  src/Juvix/Parser/Lexer.hs
  test/Anoma/Compilation/Negative.hs
  test/Asm/Compile/Base.hs
  test/Asm/Run/Base.hs
  test/Asm/Validate/Base.hs
  test/BackendMarkdown/Negative.hs
  test/Casm/Run/Base.hs
  test/Parsing/Negative.hs
  test/Reg/Parse/Base.hs
  test/Reg/Run/Base.hs
  test/Tree/Asm/Base.hs
  test/Tree/Compile/Base.hs
  test/Tree/Eval/Base.hs
  test/Tree/Parse/Base.hs
  test/Tree/Transformation/CheckNoAnoma.hs
  tests/negative/PragmasFormat.juvix
Labels: error-messaging, parsing, refactor, fix:bug

#3373 Lock RISC0 dependencies and re-enable RISC0 tests on the CI
  .github/workflows/ci.yml
  runtime/rust/risc0/.gitignore
  runtime/rust/risc0/Cargo.lock
  runtime/rust/risc0/host/Cargo.toml
  runtime/rust/risc0/methods/Cargo.toml
  runtime/rust/risc0/methods/guest/Cargo.lock
  runtime/rust/risc0/methods/guest/Cargo.toml
  test/Rust.hs
Labels: CI, test-suite, fix:bug, risc0-backend

#3377 Fix compilation checks
  src/Juvix/Compiler/Core/Transformation/Check/Anoma.hs
  src/Juvix/Compiler/Core/Transformation/Check/Base.hs
  src/Juvix/Compiler/Core/Transformation/Check/Cairo.hs
  src/Juvix/Compiler/Core/Transformation/Check/Exec.hs
  src/Juvix/Compiler/Core/Transformation/Check/Rust.hs
  test/Compilation/Negative.hs
  tests/Compilation/negative/test015.juvix
Labels: fix:bug, core, modules
